Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2024-11, with the labels that each got.

#733 Gives the wardens their own tower key
  _maps/map_files/dun_manor/azure_forest.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
Labels: Mapping

#746 Retitle bathhouse & tavern attendant roles
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/knavewench.dm
  code/modules/jobs/jobs.dm
Labels: Balance

#750 more instances of monarchy gone
  code/game/objects/items/rogueitems/keys.dm
  code/modules/antagonists/roguetown/villain/aspirant.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/events/rogue/_rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/roguetown/roguemachine/scomm.dm
Labels: Balance

#752 Mount Decap Dungeon expansions
  _maps/map_files/dun_manor/smalldecap.dmm
Labels: Mapping

#737 Royal Guard balance pass
  _maps/map_files/dun_manor/dun_manor.dmm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Mapping, Balance

#757 Map fixes
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#698 Add Eora gear to Templar
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#768 cleanup
  code/modules/reagents/reagent_containers/glass.dm
  icons/roguetown/mob/monster/newclaws.dmi
Labels: Spriting

#765 bearundle part 96-p06
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Balance

#763 Aqua force scom deleted
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#769 desert rider stuff
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
Labels: Balance

#773 big ass magic blast PR
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/spells/roguetown/wizard.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Balance

#783 oops - fix for last pr
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Balance

#770 Update lady skills Riding.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
Labels: Balance

#755 Templar Stat Tweaks
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#785 call me daytona 500 cuz im speed merging
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
Labels: Balance

#772 Adds a Stone sword (Please don't make minecraft references or i will explode you)
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/roguetown/roguecrafting/items.dm
  icons/roguetown/weapons/32.dmi
Labels: Spriting

#777 Bathmaster Glow Up
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
Labels: Balance

#784 You've got big bowls (of soup)
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/roguetown/roguejobs/cook/tools/pot.dm
Labels: Balance

#787 Revert "You've got big bowls (of soup)"
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/roguetown/roguejobs/cook/tools/pot.dm
Labels: Balance

#796 la la la i love camping
  code/game/objects/structures/beds_chairs/roguechair.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/roguetown/roguejobs/cook/tools/pan.dm
  icons/roguetown/items/misc.dmi
Labels: Balance, Spriting

#798 new hats yippeee
  code/modules/clothing/rogueclothes/hats.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Spriting

#803 Fixes desert rider's pants (oops)
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
Labels: Balance

#800 LET ME PLAY MAGE APPRENTICE AGAIN
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
Labels: Mapping, Balance

#801 Gives the archivist a library in town
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#809 rats for zizo
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  modular/Neu_Food/code/cooked/NeuFood_meals.dm
Labels: Balance

#810 The Marshalening: The Commandering
  code/__DEFINES/roguetown.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/weapons/64.dmi
Labels: Balance, Spriting

#816 library fixes
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#812 naledi/desert rider language
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/language/roguetown/sandspeak.dm
Labels: Balance

#805 Bumps PQ requirements for a few guard/guard adjacent roles
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#826 Vaquero tweaks + new hat for duelist rogue
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
Labels: Balance

#793 Butcher fix
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
Labels: Balance

#822 Sensual Seneschals; the servitude dlc
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/jobs/jobs.dm
Labels: Mapping, Balance

#829 Relevant mercenaries get a GW strap
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
Labels: Balance

#827 Hurdy Gurdy and Viola
  code/game/objects/items/rogueitems/instruments.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  icons/roguetown/items/music.dmi
  sound/music/instruments/hurdy (1).ogg
  sound/music/instruments/hurdy (2).ogg
  sound/music/instruments/hurdy (3).ogg
  sound/music/instruments/hurdy (4).ogg
  sound/music/instruments/hurdy (5).ogg
  sound/music/instruments/viola (1).ogg
  sound/music/instruments/viola (2).ogg
  sound/music/instruments/viola (3).ogg
  sound/music/instruments/viola (4).ogg
  sound/music/instruments/viola (5).ogg
Labels: Balance, Spriting

#833 [bug fix] Hurdy-gurdy/viola
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
Labels: Balance

#819 Gives RG their own conditional buff separate from MAA
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/traits.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/area/roguetownareas.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Mapping, Balance

#837 servant pay to win over
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
Labels: Balance

#853 Reworks extract confession/test faith
  code/modules/antagonists/roguetown/roleobjs/purishep.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  roguetown.dme
Labels: Balance

#854 extract confession fix
  code/modules/jobs/job_types/roguetown/church/puritan.dm
Labels: Balance

#850 adds some more leather armor options
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/roguetown/roguecrafting/leather.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
Labels: Spriting

#858 giant mount decap remap/additioning - part 1
  _maps/map_files/dun_manor/smalldecap.dmm
  code/game/area/roguetownareas.dm
  code/game/turfs/open/lava.dm
  code/modules/roguetown/mapgen/decap.dm
  sound/music/area/decap_deeper.ogg
Labels: Mapping

#767 Goodbye Specials: Virtues for more character customization
  code/__DEFINES/spans.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/special_traits.dm
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/mob_descriptors/descriptors/stature.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/vision_cone.dm
  interface/stylesheet.dm
  modular_azurepeak/_statpacks.dm
  modular_azurepeak/_virtue.dm
  modular_azurepeak/statpacks/wildcard.dm
  modular_azurepeak/virtues/combat.dm
  modular_azurepeak/virtues/items.dm
  modular_azurepeak/virtues/movement.dm
  modular_azurepeak/virtues/size.dm
  modular_azurepeak/virtues/thief.dm
  modular_azurepeak/virtues/utility.dm
  roguetown.dme
Labels: Balance

#866 more mount decapt
  _maps/map_files/dun_manor/smalldecap.dmm
Labels: Mapping

#867 Various town mapping fixes
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#846 gives da captain two classes + weapon selection
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
Labels: Balance

#847 Druid tweaks
  code/modules/jobs/job_types/roguetown/church/druid.dm
Labels: Balance

#849 Onut Variety pack of little things:tm:
  _maps/map_files/generic/CentCom.dmm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/modules/cargo/packsrogue/Mage.dm
  code/modules/cargo/packsrogue/Sellsword.dm
  code/modules/cargo/packsrogue/Things.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/matthios.dm
Labels: Mapping, Balance

#842 Vocalist's Talisman (And other small bard changes)
  code/game/objects/items/rogueitems/instruments.dm
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  icons/roguetown/items/music.dmi
  sound/music/combat_bard.ogg
  sound/music/instruments/hurdy (6).ogg
  sound/music/instruments/vocalsf (1).ogg
  sound/music/instruments/vocalsf (2).ogg
  sound/music/instruments/vocalsf (3).ogg
  sound/music/instruments/vocalsf (4).ogg
  sound/music/instruments/vocalsf (5).ogg
  sound/music/instruments/vocalsf (6).ogg
  sound/music/instruments/vocalsm (1).ogg
  sound/music/instruments/vocalsm (2).ogg
  sound/music/instruments/vocalsm (3).ogg
  sound/music/instruments/vocalsm (4).ogg
  sound/music/instruments/vocalsm (5).ogg
  sound/music/instruments/vocalsx (1).ogg
Labels: Balance, Spriting

#860 INQUISITION PT 1 - THE ROLENING
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthodoxist.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/roguetown/roguemachine/steward.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  roguetown.dme
  sound/music/credits.txt
  sound/music/inquisitorcombat.ogg
  sound/music/templarofpsydonia.ogg
Labels: Mapping, Balance, Spriting

#884 fixes captain
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#804 *Gently seasons ur bland veterans* - An introduction to CLASSES for VETERAN!!
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
Labels: Balance

#889 Adds a self-purifying waterskin as an artificer device
  code/game/objects/items/rogueitems/waterskin.dm
  code/game/turfs/open/water.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
  icons/roguetown/items/cooking.dmi
  sound/items/waterfilter.ogg
Labels: Spriting

#875 Adds unique areas for some dungeons + mount decap edits
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/smalldecap.dmm
  code/game/area/roguetownareas.dm
  sound/music/area/dragonden.ogg
  sound/music/credits.txt
Labels: Mapping

#881 Sprites + Steel gorget + decorable kettles/sallets
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/neck.dmi
Labels: Spriting

#892 Hotfix for purifying waterskin + adds visual indicators for when waterskins are capped/uncapped
  code/game/objects/items/rogueitems/waterskin.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/glass.dm
  icons/roguetown/items/cooking.dmi
Labels: Spriting

#896 Adds more transition points between the coast/town/forest
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#895 Expands the underground arena
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#903 Adds silverware to the keep
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#868 Armor Class adjustments
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  code/modules/mob/mob_movement.dm
  code/modules/roguetown/roguecrafting/leather.dm
Labels: Balance

#900 [TESTMERGE ME?] Optimise gravity, Z-level traits, and sounds
  _maps/dun_manor.json
  _maps/map_files/otherz/rogueworld.json
  _maps/rockhill.json
  _maps/rogueworld.json
  code/__DEFINES/mapping.dm
  code/__DEFINES/maps.dm
  code/__DEFINES/multiz.dm
  code/controllers/subsystem/mapping.dm
  code/game/atoms.dm
  code/game/objects/structures/ladders.dm
  code/game/sound.dm
  code/game/turfs/closed/transparent.dm
  code/game/turfs/open/chasm.dm
  code/game/turfs/open/transparent.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/multiz.dm
  code/modules/mapping/ruins.dm
  code/modules/mapping/space_management/multiz_helpers.dm
  code/modules/mapping/space_management/traits.dm
  code/modules/power/multiz.dm
  code/modules/recycling/disposal/multiz.dm
  roguetown.dme
Labels: Mapping

#904 Big huge large sewer update
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
Labels: Mapping, Balance

#906 Gives village elder the ability to cook.
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
Labels: Balance

#915 fixes squires pants
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

#821 Woodcutting Glow Up - Toss a coin to your woodcutter
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/structures/roguetown/handcart.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/modules/roguetown/roguecrafting/items.dm
  icons/roguetown/misc/structure.dmi
Labels: Spriting

#918 Take me to Zurch
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
Labels: Balance

#916 The Drippening Part ∞: The Stewardening
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  icons/roguetown/clothing/belts.dmi
  icons/roguetown/clothing/onmob/belts.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_shirts.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/shirts.dmi
Labels: Balance, Spriting

#920 fixes
  code/__DEFINES/footsteps.dm
  code/datums/looping_sounds/item_sounds.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/roguetown/redstone.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
  code/modules/mob/living/grabbing.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  icons/roguetown/mob/monster/goblins.dmi
  modular/Neu_Food/code/NeuFood.dm
Labels: Spriting

#914 Armory Biggening
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#919 stonekeep ports + features stuff
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/spells/roguetown/acolyte/xylix.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
  roguetown.dme
  sound/magic/mockery.ogg
Labels: Balance, Spriting

#905 Adds a new subclass, "Introverted Bookworm" to heir.
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Balance

#928 minor dunn manor stuff
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#931 Bug Fix | Fixes Missing Steward Belt
  icons/roguetown/clothing/belts.dmi
Labels: Spriting

#932 Addition | Templars can start with axes now
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#933 Alters Psydon barbute FOV
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/clothing/rogueclothes/hats.dm
Labels: Mapping

#941 Prevents bypassing dragon room in the dungeon of the ten.
  _maps/map_files/dun_manor/azure_coast.dmm
Labels: Mapping

#943 Greyscales rag masks
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/onmob/masks.dmi
Labels: Spriting

#937 Pans & Prosthetics: Two Teams in a Fort
  code/_onclick/item_attack.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/mob/living/living.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/cook/tools/pan.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
  code/modules/roguetown/roguejobs/engineer/prostheticarm.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  icons/mob/species/anthro_small_female.dmi
  icons/mob/species/anthro_small_male.dmi
  icons/mob/species/female.dmi
  icons/mob/species/goblin_female.dmi
  icons/mob/species/goblin_male.dmi
  icons/mob/species/male.dmi
  icons/mob/species/moth_f.dmi
  icons/mob/species/moth_m.dmi
  icons/roguetown/items/misc.dmi
  sound/combat/hits/blunt/frying_pan(1).ogg
  sound/combat/hits/blunt/frying_pan(2).ogg
  sound/combat/hits/blunt/frying_pan(3).ogg
  sound/combat/hits/blunt/frying_pan(4).ogg
Labels: Spriting

#944 Inquisitorial listening devices - <3 merge conflicts
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/roguetown/roguemachine/scomm.dm
  icons/roguetown/items/misc.dmi
Labels: Mapping, Spriting

#948 Repulse Iconstate
  icons/mob/actions/roguespells.dmi
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Spriting

#949 edit
  icons/mob/actions/roguespells.dmi
Labels: Spriting

#939 knife belt
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  icons/roguetown/clothing/belts.dmi
  icons/roguetown/clothing/onmob/belts.dmi
  icons/roguetown/weapons/32.dmi
Labels: Balance, Spriting

#936 fuck torches
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/Iconoclast.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/brigand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sellsword.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/amazon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/dbomb.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/dwarfwarrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/dwarfranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/monk.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelt.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelthand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/knighterrant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/necromancer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/sentinel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/squireerrant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/treasurehunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/witchhunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/sorceress.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/carpenter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/cheesemaker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/drunkard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/minstrel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/peasant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lcarp.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lchef.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lfish.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmason.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lminer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lpeasant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lwoodcut.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/seamstress.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/tbutcher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/thug.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/crusader.dm
Labels: Balance

#951 fixes, oops
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/templates/sewers.dm
  _maps/templates/smalldungeons.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  modular_azurepeak/code/game/objects/items/mundanities.dm
  strings/books/law_2.json
  strings/rt/timechangetips.txt
Labels: Mapping, Balance

#959 fuck sewers
  _maps/templates/sewers.dm
  code/game/objects/effects/spawners/roguemapgen.dm
Labels: Mapping
