Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2024-09, with the labels that each got.

#249 Arcanist Bard Class
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
Labels: Balance

#250 Improves Clickability of Arrows, Bolts
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/ammo.dmi
Labels: Spriting

#251 New Pestra Amulet Sprite
  code/modules/clothing/rogueclothes/neck.dm
  icons/roguetown/clothing/neck.dmi
Labels: Spriting

#255 darkvision, haste, forcewall, repulse & backend bugfixes
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/mind.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Balance

#256 Stockpile Auto-Generation + HERMES QoL
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/generic/CentCom.dmm
  code/controllers/subsystem/rogue/treasury.dm
  code/modules/roguetown/roguemachine/mail.dm
  code/modules/roguetown/roguestock/_roguestock.dm
  code/modules/roguetown/roguestock/stockpile.dm
Labels: Mapping

#262 Tabard Fix For Real
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  icons/roguetown/mob/bodies/m/mt.dmi
Labels: Spriting

#264 Fixes Severe Roundstart Delay
  code/controllers/subsystem/ticker.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
Labels: Balance

#261 Church Fixes + Inquisitor Room.
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#258 Tweaks to the Arcanist (Bard) subclass
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
Labels: Balance

#260 slightly untrees
  _maps/map_files/dun_manor/azure_forest.dmm
Labels: Mapping

#265 The Big Beer Port
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/cargo/packsrogue/food.dm
  code/modules/farming/fermenting_barrel.dm
  code/modules/farming/produce.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
Labels: Mapping

#270 Confessor Devotion Fix
  code/modules/jobs/job_types/roguetown/church/confessor.dm
Labels: Balance

#272 Under WHERE?
  code/__DEFINES/medical.dm
  code/datums/mob_descriptors/descriptors/other.dm
  code/datums/outfit.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/objects/items/rogueitems/undies.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/turfs/open/lava.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/client/customizer/customizers/bodypart_feature/misc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/other/deathknight.dm
  code/modules/jobs/job_types/roguetown/other/skeleton.dm
  code/modules/jobs/job_types/roguetown/roguetown.dm
  code/modules/mob/dead/new_player/sprite_accessory/genitals.dm
  code/modules/mob/dead/new_player/sprite_accessory/underwear.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_topic.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
  code/modules/mob/living/carbon/human/npc/skeleton.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/kobold.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/dwarf/dwarfm.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/bodyparts/bodypart_features/features.dm
  code/modules/surgery/surgery_helpers.dm
  icons/mob/sprite_accessory/underwear.dmi
  icons/roguetown/items/misc.dmi
  roguetown.dme
Labels: Balance, Spriting

#277 Butler/Maid Stuff
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
Labels: Balance

#279 Squire Armour Maintenance
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/traits.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/items.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  icons/roguetown/items/misc.dmi
  sound/foley/scrubbing1.ogg
  sound/foley/scrubbing2.ogg
Labels: Mapping, Balance, Spriting

#281 Adjusts Underwear Offsets For Females
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  code/modules/surgery/bodyparts/bodypart_features/features.dm
  icons/roguetown/mob/bodies/f/fm.dmi
Labels: Spriting

#282 DEATH TO RANDOMISATION: Role Rebalancing
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/amazon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/dbomb.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/dwarfwarrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/dwarfranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/monk.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/cheesemaker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/peasant.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/youngfolk/orphan.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
Labels: Balance

#285 Trolls (2016)
  code/game/area/roguetownareas.dm
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/mob/living/simple_animal/rogue/creacher/bogtroll.dm
  code/modules/mob/living/simple_animal/rogue/creacher/cavetroll.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mossback.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguestock/stockpile.dm
  icons/roguetown/mob/monster/64x64megafauna.dmi
  icons/roguetown/mob/monster/Trolls.dmi
  icons/roguetown/mob/monster/boglobster.dmi
  icons/roguetown/mob/monster/horrors.dmi
  icons/roguetown/mob/monster/newclaws.dmi
  icons/roguetown/mob/monster/spidermob.dmi
  roguetown.dme
  sound/vo/mobs/troll/trollaggro1.ogg
  sound/vo/mobs/troll/trolldeath.ogg
  sound/vo/mobs/troll/trollidle1.ogg
  sound/vo/mobs/troll/trollidle2.ogg
Labels: Spriting

#286 alch table fix
  icons/roguetown/misc/structure.dmi
Labels: Spriting

#283 Robes and Kitchen
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/clothing/rogueclothes/robes.dm
  icons/roguetown/weapons/32.dmi
Labels: Mapping, Spriting

#288 Adds Male Leotard Sprites
  code/modules/mob/dead/new_player/sprite_accessory/underwear.dm
  icons/mob/sprite_accessory/genitals/penis.dmi
  icons/mob/sprite_accessory/underwear.dmi
Labels: Spriting

#289 Update butler.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
Labels: Balance

#291 Adventure Time: points of interest and dungeons for adventurers.
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
Labels: Mapping

#284 Psydonian Crusaders in Bikini Armour
  code/__DEFINES/roguetown.dm
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/gods/faiths/old_god.dm
  code/datums/gods/patrons/old_god.dm
  code/modules/client/preferences.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/amazon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
  code/modules/jobs/job_types/roguetown/church/confessor.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/roguetown.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
Labels: Balance, Spriting

#294 Lockpicking & Smithing Overhaul
  code/__DEFINES/skills.dm
  code/controllers/subsystem/rogue/treasury.dm
  code/controllers/subsystem/skills.dm
  code/datums/skills/craft.dm
  code/datums/skills/misc.dm
  code/game/objects/inhands_rogue.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/items/rogueitems/natural.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/mineral_doors.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/farming/bin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/treasurehunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmason.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lminer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/peasants/nightman.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/mason.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/roguetown/roguemachine/steward.dm
  code/modules/roguetown/roguestock/stockpile.dm
  icons/roguetown/items/keys.dmi
  modular/code/modules/crafting/lewd/dildo_crafting.dm
  modular_hearthstone/code/modules/mob/living/simple_animal/rogue/rogue_corpse.dm
  sound/items/pickbad.ogg
  sound/items/pickbreak.ogg
  sound/items/pickgood1.ogg
  sound/items/pickgood2.ogg
Labels: Balance, Spriting

#295 Nocalytes
  code/modules/jobs/job_types/roguetown/church/monk.dm
Labels: Balance

#299 Wardens, ungoofed hopefully.
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
Labels: Mapping, Balance

#300 Adds New Horn Options + Flushed Cheeks Marking
  code/modules/client/customizer/customizers/organ/horns.dm
  code/modules/mob/dead/new_player/body_markings/body_markings.dm
  code/modules/mob/dead/new_player/sprite_accessory/horns.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  icons/mob/body_markings/other_markings.dmi
  icons/mob/sprite_accessory/horns/horns.dmi
Labels: Spriting

#303 Warden Latejoin Fix + Extra mapping
  _maps/map_files/dun_manor/azure_forest.dmm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/jobs.dm
Labels: Mapping

#305 SCOM Calls + Fire Modifications + More
  code/datums/weather/weather_types/roguetown/rain.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/simple_animal/hostile/roguetown/smallrat.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/spells/roguetown/acolyte/noc.dm
  icons/roguetown/misc/machines.dmi
  modular_azurepeak/code/game/objects/structures/fartravel.dm
Labels: Spriting

#307 The knight-errants ride into the Azure Coast
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/knighterrant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  roguetown.dme
Labels: Balance

#308 /me erps u
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Balance

#306 Warden Tweaks and new Pax
  _maps/map_files/dun_manor/azure_forest.dmm
  code/__DEFINES/traits.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/32.dmi
Labels: Mapping, Balance, Spriting

#311 Werewolf Rebalancing + More
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/structures/traveltile.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_spells.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/client/verbs/ghost.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/spells/roguetown/wizard.dm
  icons/roguetown/items/misc.dmi
Labels: Mapping, Balance, Spriting

#312 Squashening lukewarmfixes
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/jobs.dm
Labels: Mapping

#313 Knight-errant's limbs on the chain now
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/knighterrant.dm
Labels: Balance

#317 adds a navaja
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/templates/sewers.dm
  _maps/templates/smalldungeons.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/treasurehunter.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  icons/roguetown/weapons/32.dmi
  sound/items/knife_open.ogg
Labels: Mapping, Balance, Spriting

#318 Navaja Sprites
  icons/roguetown/weapons/32.dmi
Labels: Spriting

#319 Dun Manor JSON readability improvements
  _maps/dun_manor.json
Labels: Mapping

#320 Makes Monarch Latejoinable
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
Labels: Balance

#326 Master Key Summoning + Bunch of Fixes
  code/_onclick/item_attack.dm
  code/controllers/subsystem/rogue/roguemachine.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/items/rogueitems/needle.dm
  code/game/objects/items/rogueitems/ropechainbola.dm
  code/game/objects/items/rogueweapons/rmb_intents.dm
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/clothing/clothing.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/cook/tools/pan.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/roguetown/roguemachine/titan.dm
Labels: Balance

#322 Gives Azure Peak a new default title screen
  icons/default_title.dmi
Labels: Spriting

#325 Townie Butcher's key replaced with cleaver
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
Labels: Balance

#329 New Dagger Sprites
  icons/roguetown/weapons/32.dmi
Labels: Spriting

#331 All Clothes Dyable + Preloading Ambience + More
  code/__HELPERS/text.dm
  code/datums/stress/positive_events.dm
  code/datums/wounds/types/special.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/antagonists/roguetown/villain/choosename.dm
  code/modules/client/preferences.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/tailor/dyer.dm
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_shirts.dmi
  icons/roguetown/clothing/special/onmob/blkknight.dmi
  modular_azurepeak/code/game/objects/items/mundanities.dm
  modular_hearthstone/code/game/objects/items/clothes/strapless_dress.dm
  roguetown.dme
Labels: Spriting

#332 Gives the Sheriff heavy armour so they can wear their outfit.
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
Labels: Balance

#334 Inn-spections were due
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
Labels: Mapping, Balance

#335 Steppemerc Music
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  sound/music/combat_steppe.ogg
  sound/music/credits.txt
Labels: Balance

#336 Three new classes for the Hand: you could say things are getting out of h-*I am torn apart by wild vulfs*
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/jobs.dm
Labels: Balance

#333 The First Warden, Part 1.
  code/game/objects/items/rogueweapons/melee/axes.dm
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#337 Sprites by Kino
  icons/roguetown/topadd/kino1208/floors.dmi
  icons/roguetown/topadd/kino1208/items.dmi
  icons/roguetown/topadd/kino1208/lamppost.dmi
Labels: Spriting

#340 New Alcohols
  code/__DEFINES/traits.dm
  code/controllers/subsystem/rogue/triumphs/triumphs.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/special_traits/traits/traits.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/cargo/packsrogue/alcohols.dm
  code/modules/client/preferences.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguemachine/_withdraw_tab.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/roguetown/roguemachine/steward.dm
  code/modules/roguetown/roguemachine/withdraw.dm
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/weapons/64.dmi
  modular/Neu_Food/code/NeuFood.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Balance, Spriting

#342 Improves Smoothing
  code/game/turfs/open/floor/roguefloor.dm
  icons/turf/roguefloor.dmi
Labels: Spriting

#343 Church stat shifts
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#339 LET'S GO GAMBLING
  code/modules/roguetown/roguemachine/lottery.dm
  icons/roguetown/misc/machines.dmi
  roguetown.dme
  sound/misc/letsgogambling.ogg
Labels: Spriting

#345 Knight Errant Changes
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/knighterrant.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/roguetown.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Balance

#346 adds gambling machines to map
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/roguetown/roguemachine/lottery.dm
Labels: Mapping

#350 Decreases Excessive Vote Power Bonuses / Crit Minimum Damage
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/sexcon_defines.dm
  code/_globalvars/logging.dm
  code/controllers/subsystem/vote.dm
  code/datums/mob_descriptors/descriptors/stature.dm
  code/datums/sexcon/sexcon.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/structures/well.dm
  code/modules/client/preferences.dm
  code/modules/client/roundendmanifest.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/mob/living/carbon/human/human_topic.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/living_descriptors.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
  interface/interface.dm
  modular/Creechers/code/trufflepig.dm
  modular_azurepeak/code/game/objects/structures/fartravel.dm
Labels: Mapping

#351 'De Tace'
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  icons/roguetown/weapons/32.dmi
Labels: Balance, Spriting

#357 Credits Mugshots + Changelog + Roleplay Ad Fixes
  code/__DEFINES/preferences.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/roundend.dm
  code/_globalvars/lists/icons.dm
  code/_globalvars/lists/names.dm
  code/_onclick/hud/credits.dm
  code/datums/mind.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preferences_toggles.dm
  code/modules/client/verbs/ghost.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/sentinel.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/mob.dm
  code/modules/mob/typing_indicator.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  icons/fullblack.dmi
  interface/interface.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
  roguetown.dme
  strings/changelog.txt
Labels: Balance, Spriting

#370 Flavor Text Now Required + More
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/preferences.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/rogueitems/coins.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/traveltile.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/verbs/ooc.dm
  code/modules/client/verbs/who.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/power/roguelighting.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  code/modules/roguetown/roguejobs/blacksmith/items.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  code/modules/roguetown/roguemachine/scomm.dm
  modular/Neu_Food/code/raw/NeuFood_meat.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Mapping, Balance

#369 Ports dwarf-scale halfcloaks from Hstone
  code/modules/clothing/rogueclothes/cloaks.dm
  icons/roguetown/clothing/onmob/cloaks.dmi
Labels: Spriting

#364 Windows? Yes We Can!
  code/game/objects/structures/roguewindow.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/modules/roguetown/roguecrafting/turfs.dm
  icons/roguetown/misc/structure.dmi
  icons/turf/roguefloor.dmi
  icons/turf/roguefloor1.dmi
Labels: Spriting

#363 Bagged Co-Op: Reworks keyring and bag edits
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/mineral_doors.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguemachine/drugmachine.dm
  code/modules/roguetown/roguemachine/merchant.dm
  code/modules/roguetown/roguemachine/steward.dm
  code/modules/roguetown/roguemachine/vendor.dm
  code/modules/roguetown/roguestock/import.dm
  modular/code/game/objects/pillory.dm
Labels: Mapping, Balance

#358 Portening 2024: Ports My Portly Hair Port
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Mapping, Balance, Spriting

#367 replaces some TOS violating content
  icons/roguetown/topadd/johnie/decor.dmi
  icons/roguetown/weapons/wood_heraldry.dmi
Labels: Spriting

#374 Farm key added to soilbride spawn
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
Labels: Balance

#376 Wooo descriptions!
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/dwarf/dwarfm.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
Labels: Balance

#366 Templar Cloak Port
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/onmob/detailed/tabards.dmi
Labels: Spriting

#377 Somewhat ports fertilizer
  code/modules/farming/composter.dm
  code/modules/farming/soil.dm
  code/modules/roguetown/roguecrafting/farming.dm
  icons/roguetown/items/misc.dmi
Labels: Spriting

#380 Locks heir bedrooms behind new key
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Mapping, Balance

#382 Revert knight names
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#381 Adds Full Coifs
  code/__DEFINES/inventory.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/game/objects/structures/fluff.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguestock/import.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
Labels: Balance, Spriting

#389 Adds Templar subclass - Monk
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#387 Medic Money
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
Labels: Balance

#388 Tiny Monk Rebalance
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/monk.dm
Labels: Balance

#391 Please Play Soilson: Farm Remapping
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/turfs/open/floor/roguefloor.dm
  code/game/turfs/open/water.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/roguetown/roguecrafting/turfs.dm
  icons/turf/newwater.dmi
  icons/turf/roguefloor.dmi
  icons/turf/roguefloor1.dmi
  icons/turf/sand.dmi
Labels: Mapping, Balance, Spriting

#383 makes cheesemakers, cooks, and fishers more gooder
  code/game/objects/items/rogueitems/waterskin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/cheesemaker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lchef.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lfish.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/mob/living/simple_animal/rogue/farm/goat.dm
Labels: Balance

#384 New Hairstyle
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#390 Examination
  code/_onclick/drag_drop.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/obj_defense.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/modules/antagonists/roguetown/villain/zomble.dm
  code/modules/client/preferences.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/rogfatstam.dm
  code/modules/mob/mob.dm
  code/modules/mob/vision_cone.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/mob/sprite_accessory/ears/ears_big.dmi
  modular_hearthstone/code/game/objects/effects/track.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
  roguetown.dme
Labels: Balance, Spriting

#394 New Backpack Sprite
  icons/roguetown/clothing/onmob/back_l.dmi
  icons/roguetown/clothing/storage.dmi
Labels: Spriting

#398 Fixes farmhouse stairs
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#399 templar gambeson
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#403 New Valuables and descriptions
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/rings.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/blacksmith/items.dm
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/rings.dmi
Labels: Spriting

#406 Meal edits & crop overhaul + edit.
  icons/roguetown/items/produce.dmi
  icons/roguetown/misc/crops.dmi
  modular/Neu_Food/icons/food.dmi
Labels: Spriting

#407 Dress and cloth shading/sprite update.
  icons/roguetown/clothing/onmob/helpers/sleeves_shirts.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/shirts.dmi
  icons/roguetown/items/natural.dmi
Labels: Spriting

#409 Fixes catch button.
  icons/mob/roguehud.dmi
Labels: Spriting

#396 liquidswordz - adds new sprites for rapiers and a new greatsword subtype, the estoc
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/64.dmi
Labels: Balance, Spriting

#412 Tiefling TLC
  code/__DEFINES/say.dm
  code/modules/client/customizer/customizers/organ/horns.dm
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/mob/dead/new_player/sprite_accessory/horns.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  code/modules/surgery/organs/feature_organs/horns.dm
  icons/mob/sprite_accessory/horns/horns.dmi
  icons/mob/sprite_accessory/tails/tiefling.dmi
  icons/mob/sprite_accessory/tiefling.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_shirts.dmi
  interface/fonts/languages/hell.ttf
  interface/stylesheet.dm
Labels: Spriting

#416 hotfix 4 rapierz n estocz
  code/game/objects/items/rogueweapons/melee/swords.dm
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#420 Power creeps bathmaids, lets them read
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
Labels: Balance

#415 Metal Uniformity - Steel & Iron
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/clothing/wrists.dmi
  icons/roguetown/items/ore.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
  icons/roguetown/weapons/tools.dmi
Labels: Spriting

#425 Heir classes, consort money and key, squire riders
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

#422 dongs, wings, placeholder lore, and butcher butchering
  code/modules/client/customizer/customizers/organ/snout.dm
  code/modules/client/customizer/customizers/organ/wings.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/tbutcher.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/kobold.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/dwarf/dwarfm.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  code/modules/surgery/organs/feature_organs/wings.dm
Labels: Balance

#430 Legendary smithing bugfix patch
  code/game/objects/items/rogueitems/natural/stones.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/turfs/closed/minerals.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  icons/roguetown/weapons/32.dmi
Labels: Spriting

#429 Fixes skeleton path, map tweaks
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/mob/living/simple_animal/hostile/simple_skeleton.dm
  code/modules/spells/roguetown/necromancer.dm
  roguetown.dme
Labels: Mapping
