Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2024-10, with the labels that each got.

#432 Sabre + cutlass uniformity.
  icons/roguetown/weapons/32.dmi
Labels: Spriting

#418 Updated Lux Sprite
  icons/roguetown/items/produce.dmi
Labels: Spriting

#435 The Underworld Can Go To Hell
  _maps/map_files/generic/CentCom.dmm
  _maps/templates/sewers.dm
  code/_onclick/hud/ghost.dm
  code/controllers/subsystem/mapping.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/client/verbs/ghost.dm
  code/modules/library/random_books.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living.dm
  icons/roguetown/clothing/onmob/helpers/sleeves_pants.dmi
Labels: Mapping, Spriting

#438 Puts a dye station in the guard armory
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#439 Mercenary Niche-ening
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/underdweller.dm
Labels: Balance

#443 Strikes down the weaving skill
  code/datums/skills/misc.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/seamstress.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/whitecheesemaker.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
  code/modules/roguetown/roguecrafting/weaving.dm
Labels: Balance

#444 fixes old bugs with bows, gives them sexy new sprites, adds a longbow, tweaks some bow related classes
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/items/rogueweapons/ranged/bows.dm
  code/game/objects/items/rogueweapons/ranged/crossbows.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/sentinel.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  code/modules/projectiles/gun.dm
  code/modules/roguetown/roguecrafting/items.dm
  icons/roguetown/items/64x.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
Labels: Balance, Spriting

#446 Squire Swarm. Hundreds of Squires.
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

#352 [READY TO MERGE] Bandits Steal the Show: Class Selection for the Bandit Antag.
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/jobs.dm
  code/controllers/subsystem/job.dm
  code/datums/migrants/migrant_role.dm
  code/datums/migrants/migrant_wave.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/antagonists/roguetown/villain/choosename.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/brigand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sellsword.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
  sound/music/combat_bandit_brigand.ogg
  sound/music/combat_bandit_mage.ogg
  sound/music/combatbandit.ogg
  sound/music/credits.txt
Labels: Mapping, Balance

#455 Armory Key
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
Labels: Mapping

#454 Well transparency, Bottle Bomb, and Torch Flickering Fix.
  icons/roguetown/items/misc.dmi
  icons/roguetown/misc/lighting.dmi
  icons/roguetown/misc/structure.dmi
Labels: Spriting

#423 Removes full keyset from apothecaries
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
Labels: Balance

#460 Revert "Armory Key"
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
Labels: Mapping

#459 Archer's Cap
  code/modules/clothing/rogueclothes/hats.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
  modular_azurepeak/code/datums/loadout.dm
Labels: Spriting

#462 Evil Farmer Traps Innocent Verevolf In Mud: Adjusts skill changes and traits to soiler and miner
  code/modules/farming/tools.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
Labels: Balance

#458 On That Naledi Moondust (New Mercenary)
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  roguetown.dme
  sound/music/credits.txt
  sound/music/warscholar.ogg
Labels: Balance

#475 Free the Femboys
  icons/mob/sprite_accessory/genitals/breasts.dmi
  icons/roguetown/mob/bodies/f/fm.dmi
Labels: Spriting

#474 Removed deity requirements and desc text
  code/datums/migrants/migrant_waves/fablefield roles.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/necromancer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/sorceress.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/drunkard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/nakedandafraid.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/torso.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Balance

#470 [READY 4 MERGE] Who up remapping they forest?
  _maps/map_files/dun_manor/azure_forest.dmm
  code/game/area/roguetownareas.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
Labels: Mapping

#469 Town and Manor mapping update + Tailor job
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/seamstress.dm
  code/modules/jobs/job_types/roguetown/yeomen/tailor.dm
  code/modules/roguetown/roguemachine/vendor.dm
Labels: Mapping, Balance

#456 Balance Patch - 03/10/2024
  code/modules/farming/tools.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificer.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  code/modules/roguetown/roguejobs/engineer/prostheticarm.dm
Labels: Balance

#468 Blacksteel Flamberge
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#477 Ram Sprucing.
  icons/mob/sprite_accessory/horns/horns.dmi
Labels: Spriting

#473 The Arcynening: The Spellbookening: The Bookening
  code/datums/sleep_adv/sleep_adv.dm
  code/game/objects/items/granters.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/spells/spell.dm
  icons/roguetown/items/books.dmi
  icons/roguetown/items/gems.dmi
  interface/stylesheet.dm
  modular_azurepeak/code/datums/mind.dm
  modular_azurepeak/code/game/objects/items/spellbooks.dm
  modular_azurepeak/sound/spellbooks/bladescrape.ogg
  modular_azurepeak/sound/spellbooks/crystal.ogg
  modular_azurepeak/sound/spellbooks/glass.ogg
  modular_azurepeak/sound/spellbooks/icicle.ogg
  modular_azurepeak/sound/spellbooks/scrapeblade.ogg
  roguetown.dme
Labels: Balance, Spriting

#484 Warscholar: CHUDCODE, WHY!!!
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
Labels: Balance

#483 Unapologetic Merchant Buff - doesn't actually buff the merchant, but fixes a bug with coins and replaces chud-tier combat music. also fixes flammable steel and improves workplace safety in accordance with OSHA standards.
  code/game/objects/items/rogueitems/coins.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/cargo/packsrogue/weapons.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/power/roguelighting.dm
  icons/roguetown/weapons/64.dmi
  sound/music/combat_fancy.ogg
  sound/music/combat_giza.ogg
  sound/music/credits.txt
Labels: Balance, Spriting

#482 The Arcynening 1.25: The Weedening
  code/game/objects/structures/roguetown/rogueflora.dm
  code/modules/roguetown/mapgen/forest.dm
  icons/roguetown/misc/foliage.dmi
Labels: Spriting

#486 Dun Manor fixes
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/roguetown/roguejobs/gravedigger/tools.dm
  code/modules/roguetown/roguemachine/vendor.dm
Labels: Mapping, Balance

#493 Fixes everything 👍
  README.md
Labels: documentation

#491 Longcoat addition.
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  modular_azurepeak/code/datums/loadout.dm
Labels: Spriting

#472 Goblin fixed. Somehow?!
  code/modules/mob/dead/new_player/sprite_accessory/ears.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  icons/mob/sprite_accessory/halforc.dmi
Labels: Spriting

#487 Give staff profiler access, fix basic issues
  code/__HELPERS/unused.dm
  code/_onclick/hud/alert.dm
  code/controllers/globals.dm
  code/datums/mutations/antenna.dm
  code/datums/status_effects/status_effect.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/gems.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/structures/beds_chairs/roguechair.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/game/objects/structures/stairs.dm
  code/game/objects/structures/walldeco.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
  code/modules/antagonists/roguetown/villain/lich/phylactery.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/awaymissions/mission_code/Cabin.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmonk.dm
  code/modules/jobs/job_types/roguetown/church/confessor.dm
  code/modules/jobs/job_types/roguetown/church/mortician.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/peasants/grabber.dm
  code/modules/jobs/job_types/roguetown/peasants/nightman.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/roguetown/werewolf/werewolf.dm
  code/modules/mob/living/simple_animal/rogue/creacher/bigrat.dm
  code/modules/mob/living/simple_animal/rogue/creacher/honeyspider.dm
  code/modules/mob/living/simple_animal/rogue/farm/goat.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
  code/modules/mob/living/simple_animal/rogue/rogueanimals.dm
  code/modules/power/singularity/boh_tear.dmplasmamen.dm
  code/modules/projectiles/boxes_magazines/internal/pew.dm
  code/modules/projectiles/projectile/special/hallucination.dmlizardpeople.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/roguetown/roguemachine/throne.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/underworld/underworld.dm
  tools/ci/validate_dme.py
Labels: Balance

#503 Quick spellbook multi-learning and apprentice amythortz fix
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  modular_azurepeak/code/game/objects/items/spellbooks.dm
  roguetown.dme
Labels: Balance

#498 Blatant skulldrugery power creep
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/thug.dm
  roguetown.dme
Labels: Balance

#504 Azure Grove optimizations
  _maps/map_files/dun_manor/azure_forest.dmm
Labels: Mapping

#496 Druid skills for PR #492 (and extras)
  code/modules/jobs/job_types/roguetown/church/druid.dm
Labels: Balance

#461 S Q U I R E S W E E P - adds some loadouts to everyone's favorite role and also literally nerfs them. they are weaker than before.
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

#500 Physician's Move
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/structures/walldeco.dm
  icons/roguetown/misc/tallstructure.dmi
Labels: Mapping, Spriting

#521 Waiter, Waiter! More Lobotomy Please !
  code/_onclick/hud/ghost.dm
  code/controllers/subsystem/rogue/humannpc.dm
  code/datums/mob_descriptors/descriptors/stature.dm
  code/game/area/roguetownareas.dm
  code/game/objects/items/rogueitems/natural/animals.dm
  code/modules/antagonists/roguetown/villain/lich/lich.dm
  code/modules/antagonists/roguetown/villain/vampire.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/knighterrant.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/kobold.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/dwarf/dwarfm.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/werewolf.dm
  code/modules/mob/living/living_descriptors.dm
  code/modules/mob/living/stats.dm
  sound/music/credits.txt
  sound/music/jukeboxes/tav_tune.ogg
  sound/music/jukeboxes/tavern1.ogg
  sound/music/jukeboxes/tavern2.ogg
  strings/changelog.txt
  strings/dwarfcleaner_replacement.json
Labels: Balance

#513 The Spritening: The Templarening: The Organing
  code/modules/jobs/job_types/roguetown/church/templar.dm
  icons/obj/surgery.dmi
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/storage.dmi
  icons/roguetown/items/surgery.dmi
  modular_azurepeak/code/datums/mind.dm
  modular_azurepeak/code/game/objects/items/spellbooks.dm
  modular_azurepeak/code/modules/clothing/rogueclothes/cloaks.dm
  modular_azurepeak/code/modules/clothing/rogueclothes/hats.dm
  roguetown.dme
Labels: Balance, Spriting

#520 they can't keep letting kittysmooch get away with this! - squire hotfixes
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

#511 Homeliness
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#524 Update Lsmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
Labels: Balance

#533 No more torch flicker.
  icons/roguetown/misc/lighting.dmi
Labels: Spriting

#531 Let monarch be inhumen again.
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
Labels: Balance

#523 lets physicians compete with healing magic (maybe)
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/surgery/surgeries/healing.dm
Labels: Balance

#526 Dun Manor fixes
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/roguetown/roguejobs/cook/tools/oven.dm
Labels: Mapping

#525 Bardic knowledge/capitalism
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
Labels: Balance

#536 Adds dungeons to Mount Decapitation
  _maps/map_files/dun_manor/smalldecap.dmm
Labels: Mapping

#537 The Bandit Culling
  code/game/gamemodes/roguetown/roguetown.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/underdweller.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/dragon.dm
Labels: Balance

#539 Revert "Adds dungeons to Mount Decapitation"
  _maps/map_files/dun_manor/smalldecap.dmm
Labels: Mapping

#541 ascendant fixes/addition
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/antagonists/roguetown/villain/ascendant/ascendant.dm
  code/modules/antagonists/roguetown/villain/ascendant/ascendant_altar.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/sorceress.dm
  icons/roguetown/weapons/64.dmi
Labels: Balance, Spriting

#544 "I hate autumn" mfs on the most beautiful evening walk of their life
  code/game/turfs/open/floor/roguefloor.dm
  code/modules/farming/plough.dm
  code/modules/farming/tools.dm
  code/modules/roguetown/roguecrafting/turfs.dm
  code/modules/roguetown/roguejobs/gravedigger/tools.dm
  icons/roguetown/misc/foliage.dmi
  icons/roguetown/misc/tree.dmi
  icons/turf/roguefloor.dmi
  modular_hearthstone/code/game/objects/effects/track.dm
Labels: Spriting

#548 Revert "Revert "Adds dungeons to Mount Decapitation""
  _maps/map_files/dun_manor/smalldecap.dmm
Labels: Mapping

#538 fixes the throne room gate
  _maps/map_files/dun_manor/smalldecap.dmm
Labels: Mapping

#534 The Spritening 2: The Spymasterening
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_pants.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
  roguetown.dme
Labels: Balance, Spriting

#549 Minor sprite updates- desertmerc sword and cooked cabagges on wieners.
  icons/roguetown/weapons/64.dmi
  modular/Neu_Food/icons/food.dmi
Labels: Spriting

#547 M4M(Matthian-to-Matthian) Communications - Bandit Scomstones ATTEMPT #2!!!
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/brigand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sellsword.dm
  code/modules/roguetown/roguemachine/scomm.dm
  icons/roguetown/items/misc.dmi
Labels: Balance, Spriting

#552 Dragon fixes and general mount decap adjustments
  _maps/map_files/dun_manor/smalldecap.dmm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/dragon.dm
Labels: Mapping

#554 Noble Estate Income
  code/__DEFINES/colors.dm
  code/__HELPERS/time.dm
  code/controllers/subsystem/rogue/treasury.dm
  code/datums/migrants/migrant_wave.dm
  code/datums/special_traits/traits/traits.dm
  code/game/objects/items/rogueitems/instruments.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/knighterrant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/nakedandafraid.dm
  code/modules/jobs/job_types/roguetown/adventurer/villager.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguemachine/ATM.dm
  sound/music/credits.txt
  sound/music/instruments/guitar (10).ogg
  sound/music/instruments/guitar (7).ogg
  sound/music/instruments/guitar (8).ogg
  sound/music/instruments/guitar (9).ogg
Labels: Balance

#551 The Great Autumning (Grass Variety)
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/roguetown/mapgen/forest.dm
  code/modules/roguetown/mapgen/rogueoutdoors.dm
Labels: Mapping

#556 Adds pyroclastic flowers and pyroclastic arrows/bolts
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/modules/farming/plant_def.dm
  code/modules/farming/produce.dm
  code/modules/farming/seeds.dm
  code/modules/roguetown/mapgen/decap.dm
  code/modules/roguetown/mapgen/forest.dm
  code/modules/roguetown/mapgen/rogueoutdoors.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  icons/roguetown/items/produce.dmi
  icons/roguetown/misc/foliage.dmi
Labels: Spriting

#557 adds PQ reqs to some jobs
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Balance

#560 Australian Shepherd Tail
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Balance, Spriting

#562 Sprite Fixes: Surgery Bag & Spymaster Mask
  icons/roguetown/clothing/masks.dmi
  modular_azurepeak/code/game/objects/items/surgery_bag.dm
Labels: Spriting

#571 Dungeon and appearance updates
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#564 Mount Decap dungeon adjustments
  _maps/map_files/dun_manor/smalldecap.dmm
Labels: Mapping

#559 Adds new short nosed snout
  code/modules/client/customizer/customizers/organ/snout.dm
  code/modules/mob/dead/new_player/sprite_accessory/snouts.dm
  icons/mob/sprite_accessory/snouts/snouts.dmi
Labels: Spriting

#563 Gives inventory slots a re-style
  icons/mob/screen_gen.dmi
Labels: Spriting

#528 Tweak human AI, readd stamina to NPCs, misc. optimisations
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/rogue/humannpc.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/inhands_rogue.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/npc/_npc.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/mob/living/life.dm
  code/modules/recycling/conveyor2.dm
Labels: Balance

#565 Inn Remapping
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#576 Fixes Markings + Smithing De-Assening
  code/__DEFINES/misc.dm
  code/modules/antagonists/roguetown/villain/zomble.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  code/modules/roguetown/roguemachine/merchant.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  icons/mob/body_markings/sock_markings.dmi
Labels: Balance, Spriting

#572 PORT: Cloistered Devout, new Cleric subclass
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  modular_hearthstone/code/game/objects/items/clothes/neck.dm
  roguetown.dme
Labels: Balance

#578 Inn Revamp
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#581 More updates for inn
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#582 Fixes the inn cellar
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#580 Taskbar icon update.
  icons/ss13_32.png
  icons/tg_32.png
Labels: Spriting

#590 Removes Dreamer/Maniac/Trey Liam cutscene pants from map
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#592 Whoops: gives poacher, the bandit archer subclass, an actual bow.
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
Labels: Balance

#597 Crazy bath wench PR
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#600 Mount Decapitation Dragon Adjustments
  _maps/map_files/dun_manor/smalldecap.dmm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/dragon.dm
Labels: Mapping

#602 Squires Errant + More
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/rogue/treasury.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/admin/verbs/schizohelp.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/knighterrant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/squireerrant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/drunkard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/peasant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  code/modules/power/roguelighting.dm
  code/modules/procedural_mapping/mapGeneratorModule.dm
  code/modules/roguetown/roguecrafting/turfs.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  icons/roguetown/clothing/onmob/cloaks.dmi
  roguetown.dme
Labels: Mapping, Balance, Spriting

#596 Bronze Lantern sprite
  icons/roguetown/items/lighting.dmi
Labels: Spriting

#603 Irregular Squire Gets Dodge Expert (Instead of Medium Armour)
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

#598 From Boat to Carriage: changes up the latejoin arrival style
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/underworld/underworld.dm
  icons/roguetown/underworld/enigma_carriage.dmi
Labels: Mapping, Spriting

#606 Adds Integrity Values To Some Armour Parts
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/knighterrant.dm
Labels: Balance

#608 I'm Putting You In The Maze: Coastal Dungeons and Points of Interest Pass 1
  _maps/map_files/dun_manor/azure_coast.dmm
  code/game/area/roguetownareas.dm
  code/game/objects/items/rogueitems/cup.dm
  code/game/objects/structures/fluff.dm
  icons/roguetown/misc/96x96.dmi
  icons/turf/areas.dmi
  sound/music/area/dungeon2.ogg
Labels: Mapping, Spriting

#623 fixes the bronze spear wield sprite and removes an unused recurve bow sprite
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
Labels: Balance, Spriting

#620 Fukc Mine Sisyphean Serf Lyfe: Buffs Servant
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
Labels: Balance

#616 Hotfixes and More!
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/templates/smalldungeons.dm
  code/controllers/subsystem/ticker.dm
  code/modules/underworld/underworld.dm
Labels: Mapping

#625 Fixes Gate Connections
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#634 Adds back Nightmaster/Bathmaster
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
  code/modules/jobs/jobs.dm
  code/modules/roguetown/roguemachine/vendor.dm
  roguetown.dme
Labels: Mapping, Balance

#633 Unlimit-Adventure-Slot
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/amazon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/dwarfwarrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/knighterrant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/sentinel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/witchhunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/crusader.dm
Labels: Balance

#635 Revert "Adds back Nightmaster/Bathmaster"
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
  code/modules/jobs/jobs.dm
  code/modules/roguetown/roguemachine/vendor.dm
  roguetown.dme
Labels: Mapping, Balance

#636 Changes condottieri description
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
Labels: Balance

#637 Changes vaquero description
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
Labels: Balance

#639 nightmaster PR 2 electric boogaloo
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
  code/modules/jobs/jobs.dm
  code/modules/roguetown/roguemachine/vendor.dm
  roguetown.dme
Labels: Mapping, Balance

#640 Bathmaster PQ requirement fix
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
Labels: Balance

#641 nightmaiden door fix
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#643 another bath house fix PR
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#644 Adds stables just outside the city
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueitems/keys.dm
Labels: Mapping

#646 Vaquero Flavour Pack woooooo!!
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
Labels: Balance

#653 Changes the Desert Rider sword's name
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
Labels: Balance

#652 Silly little Village Elder skills change
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
Labels: Balance

#660 Bunch of Fixes
  code/modules/admin/verbs/schizohelp.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/living.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguemachine/drugmachine.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/underworld/underworld.dm
  modular/Creechers/code/trufflepig.dm
Labels: Balance

#656 Desert Rider Archetypes wowowow
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
Labels: Balance

#657 Spell icon update!
  icons/mob/actions/roguespells.dmi
  modular_azurepeak/code/modules/spells/orison.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Spriting

#650 adds braziers along the southern road =)
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#662 Dungeon of the ten fixes
  _maps/map_files/dun_manor/azure_coast.dmm
Labels: Mapping

#666 Bear PR Improvement Blast!!
  _maps/map_files/dun_manor/azure_forest.dmm
  code/modules/antagonists/roguetown/villain/vampire.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_spells.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/brigand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sellsword.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/roguetown/roguemachine/lottery.dm
Labels: Mapping, Balance

#673 Pendantic tabard description change + chudcode removal + warrior class tweak
  code/modules/clothing/head/misc.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/vending/wardrobes.dm
  tools/UpdatePaths/Scripts/70060_hats_repath.txt
Labels: Balance

#659 BANDIT DLC PT 2 - PRAYING FOR NO MAP CONFLICTS EDITION
  _maps/map_files/generic/CentCom.dmm
  code/game/area/roguetownareas.dm
  code/game/objects/structures/fluff.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/cargo/packsrogue/Brigand.dm
  code/modules/cargo/packsrogue/Knave.dm
  code/modules/cargo/packsrogue/Knight.dm
  code/modules/cargo/packsrogue/Mage.dm
  code/modules/cargo/packsrogue/Sawbones.dm
  code/modules/cargo/packsrogue/Sellsword.dm
  code/modules/cargo/packsrogue/Things.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sellsword.dm
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/roguetown/roguemachine/hoardmaster.dm
  code/modules/roguetown/roguemachine/scomm.dm
  icons/roguetown/misc/96x96.dmi
  roguetown.dme
  sound/misc/hoardmasterpurchase.ogg
  sound/music/area/banditcamp.ogg
  sound/music/credits.txt
  sound/music/traitor.ogg
Labels: Mapping, Balance, Spriting

#677 lore stuff
  _maps/map_files/dun_manor/azure_coast.dmm
  code/datums/gods/faiths/divine_pantheon.dm
  code/datums/gods/faiths/old_god.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/game/objects/items/rogueitems/books.dm
  strings/books/thefireisgone.json
Labels: Mapping

#663 Barbarian/Warrior weapon choice expansion
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
Labels: Balance

#670 Archivist tweaks: gets a serfstone, consistent arcane skill
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Balance

#683 removes trey liam from the game
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/game/objects/items/rogueitems/books.dm
  code/game/objects/structures/fluff.dm
  code/modules/antagonists/roguetown/villain/maniac/maniac.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
  code/modules/roguetown/roguemachine/titan.dm
Labels: Balance

#687 Hymnist, the Gospel-Toting Bard
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
Labels: Balance

#689 They/Them options for masculine or feminine clothing/titles
  code/__DEFINES/preferences.dm
  code/__HELPERS/pronouns.dm
  code/datums/mob_descriptors/descriptors/stature.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/peasant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lfish.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lpeasant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/tbutcher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/peasants/knavewench.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
  code/modules/jobs/job_types/roguetown/yeomen/tailor.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
  code/modules/mob/living/living_descriptors.dm
  code/modules/mob/mob_helpers.dm
Labels: Balance

#676 Adding recruitment icons for Monarch/Priest.
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  icons/mob/actions/roguespells.dmi
Labels: Balance, Spriting

#697 Job text glow up
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/peasants/knavewench.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificer.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
Labels: Balance

#690 Hoardmaster fixes/tweaks
  code/modules/cargo/packsrogue/Brigand.dm
  code/modules/cargo/packsrogue/Knave.dm
  code/modules/cargo/packsrogue/Mage.dm
  code/modules/cargo/packsrogue/Sawbones.dm
  code/modules/cargo/packsrogue/Sellsword.dm
  code/modules/cargo/packsrogue/Things.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
Labels: Balance

#695 Increased PQ requirements for advanced jobs
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
Labels: Balance

#692 Left-Handed Magicks: Zizo miracles up to t3
  code/__DEFINES/roguetown.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/datums/sleep_adv/sleep_adv.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  modular_azurepeak/code/datums/mind.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/zizo.dm
  roguetown.dme
Labels: Balance

#691 *breaks glass* emergency keep buffs
  code/__DEFINES/traits.dm
  code/datums/special_traits/traits/traits.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/area/roguetownareas.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#681 Update squire stats +1 int.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

#699 Dun Manor fixes
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#701 !! ARRETZ !! - Adds stone-decor alarms.
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/structures/walldeco.dm
  icons/roguetown/misc/decoration.dmi
Labels: Mapping, Spriting

#705 Evil PR That Nerfs Everything You Like About The Game
  code/_onclick/item_attack.dm
  code/game/objects/items/rogueitems/dmusicbox.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/roguewindow.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/sentinel.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/rogfatstam.dm
Labels: Balance

#708 The Beggarocalypse: squash beggar into a vagabond advclass
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/beggar.dm
  roguetown.dme
Labels: Balance

#710 Adds Round Contribution Points: Thank You For Playing!
  code/__DEFINES/roguetown.dm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/rogue/treasury.dm
  code/modules/admin/playerquality.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
  code/modules/jobs/job_types/roguetown/adventurer/villager.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/peasants/knavewench.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificer.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
  code/modules/jobs/job_types/roguetown/yeomen/tailor.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Balance

#719 RCP Gives Up To 10 PQ
  code/modules/admin/playerquality.dm
  code/modules/jobs/job_types/roguetown/youngfolk/orphan.dm
  code/modules/mob/mob.dm
  strings/changelog.txt
Labels: Balance

#722 Grand Duchification Ray !!!
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/rogue/treasury.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/game/area/roguetownareas.dm
  code/game/gamemodes/objective_items.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/antagonists/roguetown/villain/aspirant.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/roguetown/roguemachine/titan.dm
  code/modules/shuttle/supply.dm
  strings/rt/rp_prompt.txt
Labels: Balance

#726 New Craftable cloth anklet
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/feet.dmi
Labels: Spriting

#729 re-adds clerk, shophand stat fix (they had 2 luck for some reason??), stewards get a scomstone now
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
Labels: Mapping, Balance
