Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2024-08, with the labels that each got.

#16 Watch Classes + Merc Selection + Shield Skill
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/roguetown.dm
  code/datums/skills/combat.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/amazon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/crusader.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/underdweller.dm
  code/modules/jobs/job_types/roguetown/mercenaries/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
  code/modules/jobs/job_types/roguetown/other/tester.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/weapons/32.dmi
  roguetown.dme
Labels: Mapping, Balance, Spriting

#18 Changes PQ requirement on all roles that used to have a positive requirement to 0
  code/modules/jobs/job_types/roguetown/church/mortician.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
Labels: Balance

#22 Maxes out pilgrim and adventurer choices
  code/datums/migrants/migrant_role.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
Labels: Balance

#26 Adds Far Travel (cryo)
  icons/turf/roguefloor.dmi
  modular_azurepeak/code/game/objects/structures/fartravel.dm
  roguetown.dme
Labels: Spriting

#28 Adds Eoran stuff from Stonekeep
  code/__DEFINES/roguetown.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/noble.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
  code/modules/roguetown/roguecrafting/weaving.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  config/admins.txt
  human_test.dmi
  icons/mob/actions/roguespells.dmi
  icons/mob/clothing/head.dmi
  icons/mob/large-worn-icons/64x64/head.dmi
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/64x64/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/items/produce.dmi
  modular_hearthstone/code/game/objects/items/clothes/stockings.dm
  modular_hearthstone/code/game/objects/items/clothes/strapless_dress.dm
  modular_hearthstone/icons/obj/items/clothes/dress.dmi
  modular_hearthstone/icons/obj/items/clothes/on_mob/dress.dmi
  modular_hearthstone/icons/obj/items/clothes/on_mob/stockings.dmi
  modular_hearthstone/icons/obj/items/clothes/stockings.dmi
  roguetown.dme
Labels: Balance, Spriting

#29 Ports King Fortress 2's Paints Update
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/shirts.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Spriting

#30 Fixes 'modern new' hair
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#34 Fixes Guard Skill Stacks + Hairstyle Issue
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#37 TOTALLY PEAK: Replaces references to "Rockhill" with Azure Peak, enables femboy Consorts, changes "King" and "Queen", unlinks gendered job equipment and links them to pronouns instead, and more
  code/__HELPERS/roundend.dm
  code/datums/gods/faiths/divine_pantheon.dm
  code/datums/migrants/migrant_wave.dm
  code/datums/migrants/migrant_waves/fablefield wave.dm
  code/datums/mind.dm
  code/game/area/roguetownareas.dm
  code/game/gamemodes/objectives_rogue.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/game/objects/structures/roguetown/telescope.dm
  code/game/objects/structures/walldeco.dm
  code/modules/client/preferences.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/noble.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  code/modules/mob/mob_helpers.dm
  code/modules/paperwork/rogue.dm
  code/modules/roguetown/roguejobs/fisher/fish.dm
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/roguetown/roguemachine/steward.dm
  modular_azurepeak/code/game/objects/structures/fartravel.dm
Labels: Balance

#39 The Skillening
  code/datums/sleep_adv/sleep_adv.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
Labels: Balance

#42 Fixes the FUCKING church table
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/structures/tables_racks.dm
Labels: Mapping

#47 Monarchs cannot be vampire lord
  code/controllers/subsystem/rogue/treasury.dm
  code/controllers/subsystem/vote.dm
  code/game/gamemodes/objective_items.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/shuttle/supply.dm
Labels: Balance

#48 Removes Obligatory Male Beard Shadow
  icons/mob/species/male.dmi
Labels: Spriting

#51 Adds Prestidigitation Spell
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/spells/roguetown/wizard.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
  roguetown.dme
  sound/foley/finger-snap.ogg
Labels: Balance

#52 Removes, AND I REPEAT, R E M O V E S words and imagery against the Github TOS
  icons/roguetown/clothing/onmob/detailed/tabards.dmi
  strings/accent_universal.json
Labels: Spriting

#55 Ports Rogue Subclasses
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  sound/music/combat_rogue.ogg
Labels: Balance

#56 Tail Additions
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Spriting

#57 Maps in Far Travel Tiles (+ Additions)
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#58 Removes Obligatory Lipstick from Feminine Sprites
  icons/mob/species/female.dmi
Labels: Spriting

#60 Bad To The Bone
  code/game/objects/items/rogueitems/natural/animals.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/mob/living/simple_animal/rogue/creacher/bigrat.dm
  code/modules/mob/living/simple_animal/rogue/creacher/minotaur.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mole.dm
  code/modules/mob/living/simple_animal/rogue/creacher/volf.dm
  code/modules/mob/living/simple_animal/rogue/farm/chicken.dm
  code/modules/mob/living/simple_animal/rogue/farm/cow.dm
  code/modules/mob/living/simple_animal/rogue/farm/goat.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/onmob/64x64/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/shirts.dmi
  icons/roguetown/items/natural.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#61 Removes Gumball
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#67 Adds a Garb Closet in the Church
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#64 fixes knights
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#68 PILLORYPILLED: the rise of Pillory Clinton: Take Stock(ade) Of This PR!
  _maps/map_files/rockhill/rockhill.dmm
  modular/code/game/objects/pillory.dm
  modular/icons/obj/pillory.dmi
  roguetown.dme
Labels: Mapping

#71 Puts Doctors In Line with Mages
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
Labels: Balance

#74 Dungeon Updates
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#78 stone tools.
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/forge.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/cook/tools/pot.dm
  code/modules/roguetown/roguejobs/miner/tools.dm
  icons/roguetown/weapons/tools.dmi
Labels: Spriting

#79 Cloaks So Drippy They Got Me Dripping
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/seamstress.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/detailed/tabards.dmi
Labels: Balance, Spriting

#82 Puts Guard Captains In Line With Royal Guards
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
Labels: Balance

#84 fixes noc hoods
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/roguetown/roguecrafting/weaving.dm
Labels: Mapping, Balance

#85 Stuff Related To Names And Gender
  code/game/say.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/mob/living/carbon/human/say.dm
Labels: Balance

#88 Additional miscellaneous stuff being added, tribal related stuff
  code/__DEFINES/jobs.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/goblin/chieftain.dm
  code/modules/jobs/job_types/roguetown/goblin/tribalcook.dm
  code/modules/jobs/job_types/roguetown/goblin/tribalguard.dm
  code/modules/jobs/job_types/roguetown/goblin/tribalsmith.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  roguetown.dme
Labels: Balance

#92 Makes Bone Chill Not Bullshit
  code/datums/status_effects/rogue/debuff.dm
  code/modules/spells/roguetown/necromancer.dm
  icons/mob/screen_alert.dmi
Labels: Spriting

#93 Makes Keffiyehs Properly Dyable
  code/modules/clothing/rogueclothes/hats.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Spriting

#96 Dun Manor prep part 1???
  code/game/objects/structures/crates_lockers/roguetown.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/walldeco.dm
  icons/obj/surgery.dmi
  icons/roguetown/misc/decoration.dmi
  icons/roguetown/misc/structure.dmi
Labels: Spriting

#99 Moves the underworld to the centcom map
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/otherz/underworld.dmm
Labels: Mapping

#102 Of Rapiers And Daggers
  code/datums/migrants/migrant_waves/fablefield roles.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/sentinel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/32.dmi
Labels: Balance, Spriting

#104 Veteran Changes
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
Labels: Balance, Spriting

#108 Adds frogslop helmet, changes a name
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Spriting

#113 Misc map changes and fixes
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#114 Gives acolytes crafting, farming, and cooking skill
  code/modules/jobs/job_types/roguetown/church/monk.dm
Labels: Balance

#115 Big Surgery Stuff!
  code/datums/status_effects/rogue/debuff.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/game/objects/items/rogueitems/needle.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/antagonists/roguetown/villain/maniac/maniac.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/fisher/leeches.dm
  code/modules/surgery/_surgery_step.dm
  code/modules/surgery/surgeries_hearth/cure_rot.dm
  code/modules/surgery/surgeries_hearth/extract_lux.dm
  code/modules/surgery/surgeries_hearth/revival.dm
  code/modules/surgery/surgery_tools_rogue.dm
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/belt_l.dmi
  icons/roguetown/clothing/onmob/belt_r.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/storage.dmi
  icons/roguetown/items/produce.dmi
  icons/roguetown/items/surgery_bag.dmi
  modular_azurepeak/code/game/objects/items/surgery_bag.dm
  modular_hearthstone/code/modules/reagents/reagent_containers/lux.dm
  roguetown.dme
Labels: Balance, Spriting

#106 ✅Ready✅ Dun Manor port part 2???
  _maps/dun_manor.dm
  _maps/dun_manor.json
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_manor/smalldecap.dmm
  _maps/map_files/dun_manor/smallforest.dmm
  _maps/map_files/dun_manor/smallswamp.dmm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/crates_lockers/roguetown.dm
Labels: Mapping

#116 dun manor json hotfix
  _maps/dun_manor.json
Labels: Mapping

#118 Maps in Surgeon's Bags
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#122 fixes church stair
  _maps/map_files/rockhill/rockhill.dmm
Labels: Mapping

#125 New Hair Options
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#126 weapon smith pq req to zero
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
Labels: Balance

#127 Dun Manor fixes and tweaks
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#129 Allows all ages on sheriff and guard captain
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
Labels: Balance

#135 fix the physician's peddler
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#138 Replaces Health/Mana Potion Crafting With Powders
  code/modules/farming/fermenting_barrel.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguejobs/alchemist/powders.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  icons/roguetown/items/produce.dmi
  roguetown.dme
Labels: Spriting

#145 New wilderness for Dun Manor: Azure Forest
  _maps/dun_manor.json
  _maps/map_files/dun_manor/azure_forest.dmm
  code/game/area/roguetownareas.dm
Labels: Mapping

#146 Gives Nightmaster Apprentice Alchemy
  code/modules/jobs/job_types/roguetown/peasants/nightman.dm
Labels: Balance

#148 AZURE COAST MAP + other shit
  _maps/dun_manor.json
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_manor/smallswamp.dmm
  code/game/area/roguetownareas.dm
  code/game/turfs/open/water.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
  code/modules/roguetown/mapgen/beach.dm
  code/modules/roguetown/mapgen/cavefloor.dm
  code/modules/roguetown/mapgen/rogueoutdoors.dm
Labels: Mapping

#149 Fixes map rendering error
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#154 adds a SCOM to the bailiff's office and also names the door
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#155 the hill of golgotha - new smol explorable area
  _maps/map_files/dun_manor/azure_forest.dmm
Labels: Mapping

#157 adds cobwebs to dun manor's sewers, also rous
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#158 adds important ring and other stuff to monarch's room, keep kitchen gets a barrel of water
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#159 Removes the last scraps of race restriction
  code/datums/migrants/migrant_waves/fablefield roles.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelt.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelthand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/witchhunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/minstrel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/crusader.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
Labels: Balance

#160 gethsmane
  _maps/map_files/dun_manor/azure_forest.dmm
  modular_azurepeak/code/game/area/areas.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/gethsmane.dm
  roguetown.dme
  sound/music/area/original_sin.ogg
Labels: Mapping

#163 Ports "be special"
  code/__DEFINES/jobs.dm
  code/__DEFINES/migrants.dm
  code/__DEFINES/traits.dm
  code/__DEFINES/vv.dm
  code/_globalvars/special_traits.dm
  code/controllers/subsystem/migrants.dm
  code/controllers/subsystem/nightshift.dm
  code/controllers/subsystem/ticker.dm
  code/datums/character_flaw/_character_flaw.dm
  code/datums/mind.dm
  code/datums/special_traits/special_trait.dm
  code/datums/special_traits/traits/traits.dm
  code/datums/stress/negative_events.dm
  code/datums/stress/positive_events.dm
  code/game/objects/items/rogueitems/devices.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/client/preferences.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/stress.dm
  code/modules/roguetown/roguemachine/bounty.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
  roguetown.dme
  sound/music/combat_duelist.ogg
Labels: Balance

#161 fixing the stairs leading to the northern coast + adds SCOM to physician's house
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#165 Fixes Crackers
  _maps/map_files/templates/sewers/sewers_bottom_1.dmm
  _maps/map_files/templates/sewers/sewers_right_1.dmm
  _maps/map_files/templates/sewers/sewers_topleft_1.dmm
  _maps/map_files/templates/sewers/sewers_topleft_3.dmm
  _maps/templates/sewers.dm
  _maps/templates/smalldungeons.dm
  modular/Neu_Food/code/raw/NeuFood_dough.dm
Labels: Mapping

#167 Updates the coastal village
  _maps/map_files/dun_manor/azure_coast.dmm
Labels: Mapping

#173 Disables bog guard
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  strings/accent_universal.json
Labels: Balance

#175 Azure Forest QOL/deconfusion pass
  _maps/map_files/dun_manor/azure_forest.dmm
Labels: Mapping

#176 Dun Manor Misc Improvements
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#178 fixes for the spillway
  _maps/map_files/dun_manor/azure_forest.dmm
  modular_azurepeak/code/game/area/areas.dm
Labels: Mapping

#183 adds a plough to the farm
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#188 Adds dresses to the bath house
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#189 Minor Dun Manor Updates
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#194 Sex 3.
  code/__DEFINES/sexcon_defines.dm
  code/datums/character_flaw/_character_flaw.dm
  code/datums/mind.dm
  code/datums/mob_descriptors/descriptors/other.dm
  code/datums/sexcon/sexcon.dm
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/mob/dead/new_player/sprite_accessory/ears.dm
  code/modules/mob/dead/new_player/sprite_accessory/genitals.dm
  icons/mob/sprite_accessory/ears/ears_big.dmi
  icons/mob/sprite_accessory/genitals/penis.dmi
  modular/code/datums/character_flaw.dm
  modular/code/modules/living/carbon/stress.dm
  modular_azurepeak/code/game/objects/structures/fartravel.dm
Labels: Spriting

#195 Buncha Tweaks
  code/__DEFINES/jobs.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/objects/items/rogueitems/flintsparker.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/nakedandafraid.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/torso.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mudcrab.dm
  code/modules/mob/mob.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  modular/Neu_Food/icons/food.dmi
Labels: Balance

#197 Removes some residual forced character customization from various roles
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelt.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/crusader.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
Labels: Balance

#198 Nudist changes + disables torso
  code/modules/jobs/job_types/roguetown/adventurer/types/special/nakedandafraid.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/torso.dm
Labels: Balance

#200 Adds Apothecary Role
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/yeomen/apothecary.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/surgery/_surgery_step.dm
  code/modules/surgery/surgery_tools_rogue.dm
  modular_azurepeak/code/game/objects/items/surgery_bag.dm
  roguetown.dme
Labels: Mapping, Balance

#202 Ports signal horns(Attempt 2, gone wild edition)
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sheriff.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  modular_hearthstone/code/game/objects/items/signal_horn.dm
  modular_hearthstone/icons/obj/items/signalhorn.dmi
  modular_hearthstone/sound/items/BogGuardHorn.ogg
  modular_hearthstone/sound/items/RGHorn.ogg
  modular_hearthstone/sound/items/WatchHorn.ogg
  modular_hearthstone/sound/items/signalhorn.ogg
  roguetown.dme
Labels: Balance

#204 adds cure rot to priest
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Balance

#206 fixes racial merc classes!!!
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/underdweller.dm
Labels: Balance

#209 The Treeening Reloaded
  _maps/map_files/dun_manor/azure_forest.dmm
Labels: Mapping

#214 Give Acolytes regen, remove blood heal from lesser miracle
  code/controllers/subsystem/rogue/devotion.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/spells/roguetown/acolyte/general.dm
Labels: Balance

#220 Treehouse for Druids
  _maps/map_files/dun_manor/dun_manor.dmm
  config/maps.txt
Labels: Mapping

#225 Changes to Roles + Other Things
  code/__HELPERS/roundend.dm
  code/modules/antagonists/roguetown/roleobjs/purishep.dm
  code/modules/antagonists/roguetown/villain/choosename.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/noble.dm
  code/modules/jobs/job_types/roguetown/church/confessor.dm
  code/modules/jobs/job_types/roguetown/church/mortician.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/peasants/nightman.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/tailor/dyer.dm
Labels: Balance

#229 Flat buffs to druid
  code/modules/jobs/job_types/roguetown/church/druid.dm
Labels: Balance

#232 buffs shophand
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
Labels: Balance

#196 Ports Spellbuying
  code/__DEFINES/lighting.dm
  code/__DEFINES/traits.dm
  code/_onclick/hud/action_button.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/mind.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/rogueitems/magic.dm
  code/game/objects/structures/roguewindow.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/spells/roguetown/wizard.dm
  code/modules/spells/spell.dm
  icons/mob/actions/roguespells.dmi
  icons/mob/roguehudgrabs.dmi
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Balance, Spriting

#235 Adventurer Role Additions
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/sentinel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/treasurehunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/witchhunter.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
Labels: Balance

#238 Fixes Sprites for Halfmasks
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  icons/roguetown/clothing/masks.dmi
Labels: Spriting

#243 knock fix and learning spell tweak
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/mind.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Balance

#239 mundanities - more shit. part 1
  _maps/templates/sewers.dm
  _maps/templates/smalldungeons.dm
  code/datums/stress/negative_events.dm
  code/datums/stress/positive_events.dm
  modular_azurepeak/code/game/objects/items/mundanities.dm
  modular_azurepeak/icons/obj/items/mundanities.dmi
  roguetown.dme
Labels: Mapping

#246 Church remapping + fixes
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping
