Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2024-12, with the labels that each got.

#961 Wardentime
  code/__DEFINES/traits.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/area/roguetownareas.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
Labels: Balance

#963 Quicksilver Poultice: A deconversion method for werewolves and lesser vampires.
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/traits.dm
  code/_onclick/other_mobs.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/farming/produce.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/mob/living/grabbing.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  icons/roguetown/items/produce.dmi
  modular_azurepeak/code/game/objects/items/quicksilver.dm
  modular_azurepeak/icons/obj/items/quicksilver.dmi
  roguetown.dme
Labels: Mapping, Balance, Spriting

#980 Fixes hood icon state
  icons/roguetown/clothing/onmob/head.dmi
Labels: Spriting

#981 Forlorn port lets do this once more :)
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/forlorn.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/onmob/wrists.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/clothing/wrists.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/heater_heraldry.dmi
  roguetown.dme
  sound/music/combat_blackstar.ogg
Labels: Balance, Spriting

#982 Quicksilver poultice modify, adding more fyritius to mapgen
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/farming/produce.dm
  code/modules/roguetown/mapgen/forest.dm
  code/modules/roguetown/mapgen/rogueoutdoors.dm
  modular_azurepeak/code/game/objects/items/quicksilver.dm
Labels: Mapping

#984 Whoops 2
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Spriting

#985 PSYDONG for LITTEFOLKS - Otavan item sprites for dwarf types.
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
Labels: Spriting

#991 gives the keep a trap door again
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1002 Tailor QoL
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
Labels: Mapping

#1003 Moves & expands zhurch
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#998 Removes the Random Forlorn Cap
  code/modules/jobs/job_types/roguetown/mercenaries/classes/forlorn.dm
Labels: Balance

#994 Psydong Sprites + Items
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/clothing/onmob/neck.dmi
Labels: Mapping, Balance, Spriting

#1009 Removes the trapdoor in the keep (again)
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1012 Map fixes
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#954 VOICE OF COMMAND
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/jobs.dm
  code/datums/mind.dm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/jobs.dm
  modular_hearthstone/code/game/objects/items/signal_horn.dm
  roguetown.dme
  sound/music/combat_guard2.ogg
  sound/music/credits.txt
Labels: Mapping, Balance

#1014 Gives orthodoxist a meister account
  code/modules/jobs/job_types/roguetown/Inquisition/orthodoxist.dm
Labels: Balance

#1005 weekly new spell!!!!: repel
  icons/mob/actions/roguespells.dmi
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
  sound/magic/unmagnet.ogg
Labels: Spriting

#1016 Inquisition DLC - The First of the Otavan Reliquary - the Melancholic Crankbox.
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/traits.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/negative_events.dm
  code/game/objects/items/rogueitems/inquisitionrelics.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/mob/living/carbon/human/examine.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/items/misc.dmi
  roguetown.dme
  sound/magic/psydonmusicbox.ogg
Labels: Mapping, Balance, Spriting

#1030 Fixes pillory locks
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1032 fixes pixel gaps of some hairstyles
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#1038 ZIZO BLAST!! Gives ZIZOID court mage a Zurch key for EVIL field trips (With Music)
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
Labels: Balance

#1036 Necra Drip: Death Mask
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Spriting

#1010 Abyssor content PR
  code/__DEFINES/roguetown.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mossback.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/weaving.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/spells/roguetown/acolyte/abyssor.dm
  icons/mob/actions/roguespells.dmi
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  roguetown.dme
Labels: Balance, Spriting

#1057 Fix to abyssor acolytes not getting the right clothes
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Balance, Spriting

#1061 Tweak/fix to death mask from my previous PR
  code/modules/clothing/rogueclothes/hats.dm
  icons/roguetown/clothing/onmob/head.dmi
Labels: Spriting

#1055 Ports the Otavan mercs from Fablekeep
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_pants.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
  roguetown.dme
  sound/music/combat_routier.ogg
Labels: Balance, Spriting

#1056 Gives tracking to Royal Guards
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1054 Rattlesnake port from Bubberstation (READY)
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Spriting

#1037 Adds new trait that allows a character to train others to match their own skill level. Adds that trait to Royal Guard.
  code/__DEFINES/traits.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/mob/living/roguetownprocs.dm
Labels: Balance

#1039 Hot Water and Suds
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/mob/living/carbon/life.dm
Labels: Mapping, Balance

#1013 Adds the court agent role
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/courtagent.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/roguetown/roguemachine/titan.dm
  roguetown.dme
Labels: Balance

#1035 Arcyne Potential Rebalance (+Arcanist Fix)
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  modular_azurepeak/virtues/combat.dm
Labels: Balance

#1073 The Great Peasant Militia Era Arrives (Warden Spear Bugfixing)
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
Labels: Balance

#1072 Adds court agent spawns
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/effects/landmarks.dm
Labels: Mapping

#1068 QoL | Paladins Drip Upgrade
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
Labels: Balance

#1040 Adventurer Classes Expert Skill Nerf
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/witchhunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
Labels: Balance

#1067 The wurst update ever: Adds the Grenzelhoftian language
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/language/roguetown/grenzelhoftian.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/surgery/organs/tongue.dm
  roguetown.dme
Labels: Balance

#960 Adds static threat spawners to procedurally spawn enemies in-round
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  code/game/objects/effects/spawners/threatspawner.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
  icons/effects/landmarks_static.dmi
  modular_azurepeak/code/game/area/areas.dm
  roguetown.dme
Labels: Mapping, Spriting

#1069 Adds the "Royal Champion" subclass to Royal Guard.
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1074 Briefly reverts "Adds static threat spawners to procedurally spawn enemies in-round"
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  code/game/objects/effects/spawners/threatspawner.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
  icons/effects/landmarks_static.dmi
  modular_azurepeak/code/game/area/areas.dm
  roguetown.dme
Labels: Mapping, Spriting

#1076 Gives squires jupons
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

#1075 Mounted knight glow up
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1080 Revert "Hot Water and Suds"
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/mob/living/carbon/life.dm
Labels: Mapping, Balance

#1079 Adds Court Agent latejoin
  code/__DEFINES/jobs.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/courtagent.dm
  code/modules/jobs/jobs.dm
Labels: Balance

#1071 SENIOR BENEFITS - Veteran Subclass Reworks and Fixes (NOT A BALANCEJAK)
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
Labels: Balance

#1059 The GREAT MAGICIANS APPRENTICE REBRANDING: The MAGICIANS ASSOCIATE
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/jobs.dm
Labels: Balance

#1088 fixes court agents appearing in latejoin menu when slots are full
  code/modules/jobs/job_types/roguetown/adventurer/types/special/courtagent.dm
Labels: Balance

#1086 Magicians Associates are no longer on a sabbatical (FIXES THEIR SPAWN LOCATION)
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
Labels: Balance

#1106 adds mcsqueeb
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#1091 Rename stall i to Soilson Stall
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1085 Buffs dungeoneer. buffs wrestle, fixes constitution, adds guardsman
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
Labels: Balance

#1105 adds a flat leotard for flatty flatsos
  code/game/objects/items/rogueitems/undies.dm
  code/modules/client/customizer/customizers/bodypart_feature/misc.dm
  code/modules/mob/dead/new_player/sprite_accessory/underwear.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/sprite_accessory/underwear.dmi
  icons/roguetown/items/misc.dmi
Labels: Spriting

#1117 adds 4 hairs
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#1118 bottles fall through open tiles & shatter
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/structures/roguewindow.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/roguetown/roguejobs/fisher/leeches.dm
  code/modules/roguetown/roguejobs/fisher/worms.dm
  icons/effects/debris.dmi
Labels: Spriting

#1082 Gives the Mounted Knight RG the MaA buff (does not stack w/ keep buff)
  code/game/area/roguetownareas.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1112 Various changes to the heir subclasses (Satchel Powercreep)
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Balance

#1107 Super MASSIVE Abyssor (and normal) Acolyte buff. (Absolutely game changing) (Massive update) (Definitely not clickbait!!!)
  code/modules/jobs/job_types/roguetown/church/monk.dm
Labels: Balance

#1109 Ranger-themed roles can now sleep on tree branches like a bedroll.
  code/__DEFINES/traits.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/dwarfranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/sentinel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/mob/living/carbon/life.dm
Labels: Balance
