Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2025-04, with the labels that each got.

#1901 Map Update | Bathhouse
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#1945 Map Update | Bathhouse Fixes
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#1939 Fix improperly doubled-up objects and turfs
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#1932 Makes mages redundant (Mailbox/Hermes QoL).
  code/datums/status_effects/neutral.dm
  code/modules/roguetown/roguemachine/mail.dm
  icons/mob/screen_alert.dmi
  sound/misc/mail.ogg
Labels: Spriting

#1918 Replace unnecessary new-then-qdel pattern with initial()
  code/modules/client/preferences.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  modular_hearthstone/code/game/objects/effects/track.dm
Labels: Code Maintenance, TESTMERGED

#1934 Remaps the tavern kitchen
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#1952 Remaps & Re-adds Roguetest
  _maps/_basemap.dm
  _maps/map_files/roguetest/roguetest.dmm
  _maps/roguetest.json
  config/maps.txt
  roguetown.dme
Labels: Mapping

#1775 Adds Dwarf Mercenaries -- Grudgebearers, and layered armor component
  code/__DEFINES/components.dm
  code/__DEFINES/traits.dm
  code/datums/components/layer_armor.dm
  code/game/objects/items/rogueitems/books.dm
  code/game/objects/obj_defense.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grudgebearer.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/paperwork/rogue.dm
  icons/roguetown/items/misc.dmi
  roguetown.dme
  sound/misc/layer_peel.ogg
  sound/music/combat_dwarf.ogg
Labels: Code, TESTMERGED, Feature, Balance, Spriting

#1914 The darkest Sewers - Mapping update
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#1960 makes inquisition boots a boot subtype
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/special_traits/traits/traits.dm
  code/modules/cargo/packsrogue/wardrobe.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelt.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelthand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/whitecheesemaker.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/roguetown/roguecrafting/leather.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Balance

#1915 Drip or Drown, Double Details, a variety of little sprite things.
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/clothing/clothing.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Mapping, Balance, Spriting

#1902 GRAGGING ON MY GAR (Berserker Buffs)
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
Labels: Balance

#1975 labels & PR template tweaks
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
Labels: Documentation

#1889 Archivist Tutoring Expansion
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Code

#1982 fixes 3 item donator thing
  code/modules/client/preferences.dm
Labels: Code

#1981 Fixes old gambeson style sleeves
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Sprite

#1983 Embed Rework
  code/modules/mob/living/carbon/human/species.dm
Labels: Code

#1987 Acrobatic gets a delay upon landing and a custom landing message
  code/game/turfs/turf.dm
  code/modules/mob/living/living.dm
Labels: Code

#1991 The Clangening - Restoring sword parry sounds
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/shields.dm
Labels: Code

#1992 Warden keyring adjustments
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/keyrings.dm
Labels: Mapping, Code

#1988 Inquisition Reliquary and Adjudicator Update — Stigmata, Apocrypha, Golgatha
  code/__DEFINES/traits.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/negative_events.dm
  code/game/objects/items/rogueitems/inquisitionrelics.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/structures/crates_lockers/roguetown.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/roguehud.dmi
  icons/mob/screen_alert.dmi
  icons/roguetown/items/lighting.dmi
  icons/roguetown/weapons/32.dmi
  roguetown.dme
  sound/items/censer_off.ogg
  sound/items/censer_on.ogg
  sound/magic/censercharging.ogg
Labels: Code, Balance, Sprite, Sound

#1957 Stonekeep Gallows Port + Addition
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/structures/roguetown/redstone.dm
  code/modules/roguetown/roguecrafting/structure.dm
  modular/code/game/objects/gallows.dm
  modular/icons/obj/gallows.dmi
  roguetown.dme
  sound/foley/noose_idle.ogg
  sound/foley/noosed.ogg
Labels: Mapping, Code, Sound

#1993 Fixes subclass description previews
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  html/browser/slop_menustyle2.css
Labels: Code, Balance

#1995 fixes adjudicator mace option
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
Labels: Code, Balance

#1994 Psydonian Soul Box now properly casts an anti-magic field!
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/objects/items/rogueitems/inquisitionrelics.dm
Labels: Code

#2013 fixes warden cloak desc and sprites
  code/modules/clothing/rogueclothes/cloaks.dm
  icons/roguetown/clothing/onmob/cloaks.dmi
Labels: Code, Sprite

#2012 Grapplers respect palisades
  code/modules/roguetown/roguejobs/engineer/gadgets.dm
Labels: Code

#2006 Small wretch deserter buffs
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
Labels: Code, Balance

#2020 Tailor Selection
  code/modules/jobs/job_types/roguetown/yeomen/tailor.dm
Labels: Code, Balance

#1811 MAA Re-adjustment
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
Labels: Code, Balance

#2024 Fixes the Psydonite's hell-box not reapplying the anti-casting debuff when it ran out.
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/negative_events.dm
  code/game/objects/items/rogueitems/inquisitionrelics.dm
Labels: Code

#1913 Alchemy consolidation
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_manor/smalldecap.dmm
  _maps/map_files/dun_world/dun_world.dmm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/skills/craft.dm
  code/datums/skills/misc.dm
  code/datums/special_traits/traits/traits.dm
  code/game/atoms.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/trader.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/witch.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/underdweller.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/alchemy/mortarpestle.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/structure.dm
  icons/obj/chemical.dmi
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/destitute_scholar.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/failed_apprentice.dm
  modular_azurepeak/virtues/items.dm
  modular_azurepeak/virtues/utility.dm
Labels: Mapping, Code, Balance, Sprite

#1856 Remove swingdelay on halberd
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Balance

#1961 Adds a small hidden forest on Z-4 just north of the keep between Dun and the Azure coast
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#1999 Minor Inquisition Update 2
  code/game/objects/items/rogueitems/inquisitionrelics.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthodoxist.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  sound/music/combat_inqordinator.ogg
Labels: Code, Balance, Sound

#2003 Two simple fixes to tossblade/spellLOS
  code/modules/clothing/rogueclothes/storage.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Code

#1998 Rename some spells internally
  _maps/templates/smalldungeons.dm
  code/game/objects/items/granters.dm
  code/modules/mob/living/simple_animal/hostile/bosses/lich_boss.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/zizo.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Mapping, Code

#1996 Climbing info on examine, gain xp when climbing walls
  code/game/turfs/closed/_closed.dm
Labels: Code

#2018 ROCK MUNCHING AND CONSTRUCT FIXES
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/objects/items/rogueitems/natural/stones.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/construct/constructm.dm
Labels: Code

#2026 fixes inquisition bug
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
Labels: Code, Balance

#2029 Fixes the psydon mace for the last time
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
Labels: Code, Balance

#1857 Black Oak Update (Minor) (Buffs armor, Ranged subclass changes)
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/mob/living/carbon/human/human_topic.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Code, Balance, Sprite, MERGE CONFLICT

#1813 Otavan Routier armor changes + fixes
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
Labels: Code, Balance

#2034 Little tiny otavan gambeson fix
  code/modules/clothing/rogueclothes/armor.dm
Labels: Code

#1965 Sergeant Office Key + Armory Key Changes
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
Labels: Mapping, Code, Balance, MERGE CONFLICT

#1970 Town climbability update
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping, MERGE CONFLICT

#2035 Removes Craftable Noose
  code/modules/roguetown/roguecrafting/structure.dm
Labels: Code

#1966 Bikini Armor Retheme; Corslets, Tassets and Skirts
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
Labels: Code

#1972 Royal Champion Knight helmets
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1927 Adds religious Gang signs
  code/datums/gods/_patron.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/overhead_effects.dm
  icons/mob/overhead_effects.dmi
Labels: Sprite

#2037 forgot to remove testing code from the inquisition box
  code/game/objects/items/rogueitems/inquisitionrelics.dm
Labels: Code

#2025 Assess v1.1
  code/__HELPERS/type2type.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_topic.dm
Labels: Code

#2031 Warhammer
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Code, Balance

#2022 Warden subclasses
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
Labels: Code, Balance

#2039 new player ghost & adminghost ui
  code/_onclick/hud/ghost.dm
  code/modules/mob/dead/observer/observer.dm
  icons/mob/screen_ghost.dmi
  icons/roguetown/mob/misc.dmi
Labels: Code, Sprite

#2042 Assess fixes
  code/__HELPERS/mobs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_topic.dm
Labels: Code

#2027 Dagger for the Duelist
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
Labels: Code, Balance

#1997 Make some spells requires uncuffed hands
  code/modules/spells/roguetown/_roguetown.dm
  code/modules/spells/roguetown/necromancer.dm
  code/modules/spells/roguetown/wizard.dm
  code/modules/spells/spell.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Code

#2043 Massive Salt PR - Bugfixes the Purified Salt's icon
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
Labels: Code

#2041 Map Update | Merchant Shop Rework
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#1876 Adds a new intent — Peel
  code/__DEFINES/combat.dm
  code/__HELPERS/type2type.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/needle.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/objs.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  icons/mob/roguehud.dmi
  sound/foley/peeled_coverage.ogg
Labels: Code, TESTMERGED, Balance, Sprite, Sound

#1979 No more wallbangs/combat uppies
  code/modules/mob/living/carbon/carbon.dm
Labels: Code

#2044 Makes assess work with peel
  code/modules/mob/living/carbon/human/human_topic.dm
Labels: Code

#1986 Disable projectile embed on simple, 2.0
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
Labels: Code

#2015 (Lore Request) No More Psydon Monarchy
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Code, Balance

#2046 Revert polearm durability changes
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Code

#2028 Adds Kazengunese Language
  code/__DEFINES/say.dm
  code/modules/client/asset_cache.dm
  code/modules/language/roguetown/regional/kazengunese.dm
  code/modules/surgery/organs/tongue.dm
  goon/browserassets/css/browserOutput.css
  interface/fonts/languages/kazengunese.ttf
  interface/stylesheet.dm
  modular_azurepeak/virtues/utility.dm
  roguetown.dme
Labels: Code

#1990 Whoopsie, lore pr.
  code/datums/gods/faiths/inhumen_pantheon.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
Labels: Code

#2023 Tiny Ex-Spy Veteran Addition - Gives them a lockpick ring, Cicerone trait
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
Labels: Code, Balance

#2021 Babel Crumbles - Adds Etrusco, Otavais, and Gronnic languages
  code/__DEFINES/say.dm
  code/modules/client/asset_cache.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/vaquero.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/language/roguetown/etruscan.dm
  code/modules/language/roguetown/grenzelhoftian.dm
  code/modules/language/roguetown/gronnic.dm
  code/modules/language/roguetown/hellspeak.dm
  code/modules/language/roguetown/otavan.dm
  code/modules/language/roguetown/sandspeak.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/surgery/organs/tongue.dm
  goon/browserassets/css/browserOutput.css
  interface/fonts/languages/etruscan.ttf
  interface/fonts/languages/gronnic.ttf
  interface/fonts/languages/otavan.ttf
  interface/stylesheet.dm
  modular_azurepeak/virtues/utility.dm
  roguetown.dme
Labels: Code, Balance, MERGE CONFLICT

#2048 returns sovl to roguetown
  code/game/objects/structures/roguetown/rogueflora.dm
Labels: Code

#2054 Fix | Floating Door
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2055 Fixes a bad turf in the new western wall passageway & standardises its access
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2052 SHAMELESS ZWEIHANDER BUFFS (im sorry)
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Code

#2058 Adds bite indicators
  code/_onclick/other_mobs.dm
  code/modules/mob/living/grabbing.dm
Labels: Code

#2051 Gives merchant Cicerone trait
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
Labels: Code, Balance

#2065 Should prevent skellysiege.dm from randomly firing
  code/modules/events/rogue/skellysiege.dm
Labels: Code

#2064 Yet Another Fix | Merchant shop
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#1935 Removes pommel strike swing delay, lowers damage, increases AP
  code/game/objects/items/rogueweapons/melee/swords.dm
Labels: Code

#2067 It's Spring (Cleaning): Druid Shapeshift
  code/datums/gods/patrons/divine_pantheon.dm
  code/game/objects/shapeshift_holder.dm
  code/modules/mob/living/simple_animal/rogue/creacher/bigrat.dm
  code/modules/mob/living/simple_animal/rogue/creacher/honeyspider.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mole.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mossback.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mudcrab.dm
  code/modules/mob/living/simple_animal/rogue/creacher/volf.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
  code/modules/spells/roguetown/acolyte/dendor.dm
  code/modules/spells/spell_types/shapeshift.dm
Labels: Code

#2008 bait repost but with no ghost dmi
  code/game/objects/items/rogueweapons/rmb_intents.dm
  code/modules/mob/living/carbon/human/species.dm
  icons/mob/screen_alert.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Sprite

#1976 Adds Heirarchy to Garrison Job Descriptions
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Code, Balance

#2074 Removes teleportation spell from Flagellants.
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  modular_hearthstone/code/modules/spells/roguetown/flagellant.dm
Labels: Code, Balance

#2059 lowers bandit slots that can roll.
  code/game/gamemodes/roguetown/roguetown.dm
Labels: Code

#2073 Crownstones speak louder
  code/modules/roguetown/roguemachine/scomm.dm
Labels: Code

#2084 Add an icon for grabbed arms
  code/_onclick/hud/screen_objects.dm
  icons/mob/screen_gen.dmi
Labels: Code, Sprite

#2082 Fixes the Keffiyeh to Adjust Properly
  code/modules/clothing/rogueclothes/hats.dm
Labels: Code

#2086 Examining an item will tell you how to repair it
  code/game/objects/items.dm
Labels: Code

#2047 Peel & Limb Accuracy, Peel for a few more weapons
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/mob/living/roguetownprocs.dm
Labels: Code

#2057 Prevents piggybacking when the piggybackee has combat mode on
  code/modules/mob/living/carbon/human/human.dm
Labels: Code, TESTMERGED

#2040 Add extra fluted armour and ornate armour (previously named fluted)
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/cargo/packsrogue/armor.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Mapping, Code, Balance, Sprite

#2093 "Adds" a westleach bush
  code/game/objects/structures/roguetown/rogueflora.dm
  code/modules/roguetown/mapgen/bog.dm
  code/modules/roguetown/mapgen/forest.dm
Labels: Code

#2069 Changes Feinted effect to Exposed, adds new status effects
  code/game/objects/items/rogueweapons/rmb_intents.dm
  code/modules/mob/living/roguetownprocs.dm
  icons/mob/screen_alert.dmi
Labels: Code, Sprite

#1973 Unifies obj damage
  code/datums/components/decals/blood.dm
  code/game/machinery/_machinery.dm
  code/game/objects/examine.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/rogueweapon.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/fireaxe.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/mirror.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
  code/modules/farming/fermenting_barrel.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/engineer/gadgets.dm
  icons/effects/item_damage.dmi
  icons/effects/item_damage32.dmi
  icons/effects/item_damage64.dmi
Labels: Code, TESTMERGED, Sprite

#2095 Hijab no longer obscures face, or limits field of view
  code/modules/clothing/rogueclothes/hats.dm
Labels: Code

#2097 Tweak + fix for squire needle repair
  code/game/objects/items/rogueitems/needle.dm
Labels: Code

#2070 Mage Overhaul - Part 1
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/smalldecap.dmm
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/traits.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/mind.dm
  code/datums/skills/magic.dm
  code/datums/sleep_adv/sleep_adv.dm
  code/game/objects/items/granters.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/witch.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/whitecheesemaker.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/other/deathknight.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/spells/roguetown/acolyte/noc.dm
  code/modules/spells/roguetown/helper.dm
  code/modules/spells/roguetown/wizard.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/aimed.dm
  code/modules/spells/spell_types/lichdom.dm
  code/modules/spells/spell_types/summonitem.dm
  modular_azurepeak/code/datums/mind.dm
  modular_azurepeak/code/game/objects/items/spellbooks.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/failed_apprentice.dm
  modular_azurepeak/code/modules/spells/orison.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/zizo.dm
  modular_azurepeak/virtues/combat.dm
  modular_hearthstone/code/modules/spells/roguetown/buffs.dm
  modular_hearthstone/code/modules/spells/roguetown/spelllist.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
  roguetown.dme
Labels: Mapping, Code, TESTMERGED, Balance

#2011 Fixing unarmed parries[Pls TM first]
  code/_onclick/item_attack.dm
  code/modules/mob/living/roguetownprocs.dm
Labels: Code, TESTMERGED

#2068 Manor Renovation
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2014 Extra language as character preference + decouple language from skin color
  code/datums/action.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  modular_azurepeak/virtues/utility.dm
Labels: Code, Balance

#2077 Removes "this attack does nothing" text
  code/modules/mob/living/living_defense.dm
Labels: Code

#2098 Re-sprites Brigandine, Falchion, Messer & Hunting knife. Adds steel messer upgrade.
  code/__DEFINES/colors.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/weapons/32.dmi
Labels: Code, Sprite

#2071 Update | Adjust Shophands Number + Merchant Satchel
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
Labels: Code, Balance

#1977 iron bloomery and bronze melter
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  icons/roguetown/misc/forge.dmi
Labels: Code, Sprite

#2017 Expert Pugilism + Gauntlet Punch
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living.dm
Labels: Code

#2072 The Bogfort Dungeon
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/roguetownareas.dm
  code/modules/mob/living/carbon/human/npc/skeleton.dm
Labels: Mapping, Code

#2096 Remove stone mortar and pestle from alchemy lab recipes
  code/modules/roguetown/roguecrafting/alchemy.dm
Labels: Code

#2063 Adds in three new melee weapons (Greataxe, Steel Greataxe, and double-headed steel greataxe)
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/64.dmi
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/minotaur.dm
Labels: Code, Sprite

#2087 Ghetto surgery and stone pickaxe double bugfix power hour.
  code/modules/roguetown/roguejobs/gravedigger/tools.dm
  code/modules/roguetown/roguejobs/miner/tools.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
Labels: Code

#2107 Grudgebearers and Black Oaks now spawn with torches
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grudgebearer.dm
Labels: Code, Balance

#2117 Easter Food PR - Crossbuns & Rose Tea edition
  code/game/objects/lighting/rogue_fires.dm
  code/modules/farming/crafting_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/cauldron_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  code/modules/roguetown/roguecrafting/alchemy/reagents.dm
  code/modules/roguetown/roguejobs/cook/tools/grinding.dm
  modular/Neu_Food/code/drinks/tea_coffee_drinks.dm
  modular/Neu_Food/code/raw/NeuFood_dough.dm
  modular/Neu_Food/icons/buns.dmi
  modular/Neu_Food/icons/drinks.dmi
  roguetown.dme
Labels: Code

#2118 Adds Ear options to Half-Orcs
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
Labels: Code

#2113 Fix | Random torch in the merchant shop
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2121 Update | Tiefling ears
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  code/modules/surgery/organs/ears.dm
Labels: Code

#2124 Adds Extra Language Selection Feedback
  code/modules/client/preferences.dm
Labels: Code

#2106 LOS Tweaks + Blade Burst Visual Changes
  code/modules/spells/roguetown/_roguetown.dm
  code/modules/spells/spell.dm
  modular_hearthstone/code/modules/spells/roguetown/buffs.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Code, TESTMERGED

#2050 [READY] Adds a regional language for Aavnr
  code/__DEFINES/say.dm
  code/modules/client/asset_cache.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/language/roguetown/regional/aavnic.dm
  code/modules/surgery/organs/tongue.dm
  goon/browserassets/css/browserOutput.css
  interface/fonts/languages/aavnic.ttf
  interface/stylesheet.dm
  modular_azurepeak/virtues/utility.dm
  roguetown.dme
Labels: Code, Balance

#2094 Beautifully Rough Farm
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2129 Grudgebearer Armor Tweaks
  code/datums/components/layer_armor.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grudgebearer.dm
  sound/misc/layer_repair.ogg
Labels: Code, Balance, Sound

#2133 if h mind sanity for runtimes in skele bogguard pre_equip
  code/modules/mob/living/carbon/human/npc/skeleton.dm
Labels: Code

#2135 Fix feather renaming
  code/game/objects/items/rogueitems/natural/feather.dm
Labels: Code

#2134 Adds a SCOM to the bathhouse. Fixes a typo.
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
Labels: Mapping, Code

#2119 Port Ratwood #2698 Infinite Fuel Fix + Great Furnace Exploit fix + No refuel check
  code/game/objects/lighting/_base_roguelight.dm
  code/game/objects/lighting/lantern_post.dm
  code/game/objects/lighting/rogue_fires.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
Labels: Code

#2112 Blindfolds can be crafted or put in loadouts, and they no longer hide your face.
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Code

#2127 The mage tower remake, greenhouse edition
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2136 (READY FOR MERGE) New Tail, Lupian/Vulp/Tabaxi Customization.
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/client/customizer/customizers/organ/snout.dm
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  icons/mob/sprite_accessory/tails/tails.dmi
  roguetown.dme
Labels: Code, Sprite

#2131 Ports iron and steel hound masks.
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/onmob/masks.dmi
Labels: Code, Sprite

#2120 Add sellprice to fiber and cloth
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
Labels: Code

#2138 Map Fix + Other additions | Marshal + GC Room
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2139 Teeny Witch Hut fixes
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2141 fixes drow town door wall
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2152 Inquisitor Coat is now Silent
  code/modules/clothing/rogueclothes/armor.dm
Labels: Code

#2083 Input Subsystem Refactor
  code/__DEFINES/admin.dm
  code/__DEFINES/keybindings.dm
  code/__DEFINES/mobs.dm
  code/controllers/subsystem/input.dm
  code/datums/keybinding/_defines.dm
  code/datums/keybinding/_keybindings.dm
  code/datums/status_effects/debuffs.dm
  code/modules/client/preferences.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/communication.dm
  code/modules/keybindings/setup.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/logout.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/say.dm
  code/modules/mob/typing_indicator.dm
  roguetown.dme
Labels: Code, TESTMERGED

#2154 Mapping hotfix - Mage tower
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2153 Baothan miracle fixes & tweaks
  modular_azurepeak/code/modules/spells/pantheon/inhumen/baotha.dm
Labels: Code

#2140 Court agent appears in the Actors tab (as Adventurer)
  code/controllers/subsystem/migrants.dm
Labels: Code

#2159 Armor readability bugfixes
  code/__HELPERS/type2type.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human_topic.dm
Labels: Code

#2105 Replaces plate movement sounds
  sound/foley/footsteps/armor/coatplates (1).ogg
  sound/foley/footsteps/armor/coatplates (2).ogg
  sound/foley/footsteps/armor/coatplates (3).ogg
  sound/foley/footsteps/armor/plate (1).ogg
  sound/foley/footsteps/armor/plate (2).ogg
  sound/foley/footsteps/armor/plate (3).ogg
Labels: Sound

#2169 Fluted Armour fixes + Belt Resprites + Tasseted Belt + Knight Steel belt
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/belts.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/belts.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Mapping, Code, Balance, Sprite

#2002 De-Rot & Revive Stat Punishment System
  code/datums/components/rotting.dm
  code/datums/status_effects/rogue/debuff.dm
  code/modules/cargo/packsrogue/food.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguestock/import.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
  code/modules/surgery/surgeries_hearth/cure_rot.dm
  code/modules/surgery/surgeries_hearth/revival.dm
  icons/mob/screen_alert.dmi
  modular_azurepeak/code/modules/reagents/reagent_containers/rotcure.dm
  roguetown.dme
Labels: Code, TESTMERGED, Sprite

#2165 Further Baotha Miracle Tweaks
  code/__DEFINES/traits.dm
  code/datums/status_effects/rogue/roguebuff.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/baotha.dm
Labels: Code

#2156 Map Update | Smithy Privacy Shutters
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2016 Ratwood Pottery & Glass-Working Port
  code/datums/skills/misc.dm
  code/game/objects/items/rogueitems/ceramics.dm
  code/game/objects/structures/roguewindow.dm
  code/game/turfs/closed/wall/roguewalls.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/potter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmason.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificer.dm
  code/modules/roguetown/roguecrafting/ceramics.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguecrafting/turfs.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/ceramicist/clay.dm
  code/modules/roguetown/roguejobs/ceramicist/items.dm
  code/modules/roguetown/roguejobs/ceramicist/potterWheel.dm
  code/modules/roguetown/roguejobs/gravedigger/hole.dm
  code/modules/roguetown/roguestock/import.dm
  code/modules/roguetown/roguestock/stockpile.dm
  icons/roguetown/items/cooking.dmi
  icons/roguetown/items/natural.dmi
  icons/roguetown/items/ore.dmi
  icons/roguetown/misc/structure.dmi
  icons/roguetown/weapons/tools.dmi
  icons/turf/walls/brick_wall.dmi
  roguetown.dme
  sound/combat/hits/blunt/brick.ogg
Labels: Code, TESTMERGED, Balance, Sprite, Sound

#2155 drying rack resprite, bed & sheet rotation, 2 new chairs
  code/game/objects/items/bedsheets.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/beds_chairs/roguechair.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/shoes/_shoes.dm
  icons/roguetown/misc/beds.dmi
  icons/roguetown/misc/structure.dmi
Labels: Code, Sprite

#2170 Small town changes, and the HERMES revolution
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2116 Adds a DoNotRevive prompt for dead being revived + ZZ'd people can't be revived
  code/modules/surgery/surgeries_hearth/revival.dm
Labels: Code, TESTMERGED

#2166 squiresweep dlc: makes squires untenably strong, thus ruining azure peak balance forever
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Code, Balance

#2174 Singing
  code/__DEFINES/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
Labels: Code

#2181 Pocket Additions to Tabards (And some minor stuff)
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Code

#2178 Fixes disappearing advanced class options (hopefully)
  code/controllers/subsystem/rogue/role_class_handler/class_select_handler/class_select_handler.dm
Labels: Code
