Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2025-10, with the labels that each got.

#4006 Consolidates carbon human variables
  code/datums/character_flaw/addiction.dm
  code/datums/gods/_curses.dm
  code/game/objects/items/rogueweapons/rmb_intents.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/grabbing.dm
  code/modules/mob/vision_cone.dm
Labels: Code

#3996 Self-Serving Revenant Changes To Make Them Less Well Liked
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/stress/negative_events.dm
  code/game/objects/structures/mirror.dm
  code/modules/mob/living/carbon/human/examine.dm
  modular_azurepeak/virtues/utility.dm
Labels: Code

#4011 Ratwood 101 port claw hammer steel exploit.
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
Labels: Code

#4014 Bugfix bottle crafting exclusion + string fix
  code/_onclick/click.dm
  code/datums/components/crafting/crafting.dm
Labels: Code

#4012 Updates screen_loc bounds for mouseover maptext
  code/_onclick/hud/mouseover.dm
Labels: Code

#4019 Carpenter merge into Woodcutter (Woodworker) + Re-name Barber Surgeon internally
  code/game/objects/structures/mineral_doors.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/barbersurgeon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/carpenter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodworker.dm
  code/modules/jobs/job_types/roguetown/adventurer/villager.dm
  roguetown.dme
Labels: Code, Balance

#4004 Port Vanderlin 2838 - Load Client Music Lag.
  code/__HELPERS/files.dm
  code/__HELPERS/text.dm
  code/controllers/subsystem/sounds.dm
  code/modules/client/client_procs.dm
  code/modules/mob/login.dm
Labels: Code, TESTMERGED

#4008 Remove Woundheal from miracles list -> Make it Bishop Exclusive
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/roguetown/priest.dm
  roguetown.dme
Labels: Code, Balance

#3987 Removes the foreigner trait
  code/__DEFINES/traits.dm
  code/controllers/subsystem/migrants.dm
  code/datums/migrants/migrant_waves/grenzel_noble_roles.dm
  code/datums/migrants/migrant_waves/knightly_journey_roles.dm
  code/datums/migrants/migrant_waves/ranesheni_noble_roles.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/jobs/job_types/roguetown/Inquisition/absolutionist.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthodoxist.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/suitor.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/roguetown/roguemachine/titan.dm
  modular_azurepeak/_virtue.dm
Labels: Code, Balance

#4025 Remove shoes mat exploit.
  code/modules/clothing/rogueclothes/feet.dm
Labels: Code

#4028 class setup now shows journeyman skills
  code/modules/jobs/job_types/_job.dm
Labels: Code

#4026 Rename Add Age vetted and move tab.
  code/modules/admin/agevetting.dm
Labels: Code

#4031 Lower skill gate for brewing to apprentice.
  code/modules/farming/fermentation_keg.dm
Labels: Code

#4029 mirror gameplay
  code/game/objects/structures/mirror.dm
Labels: Code

#3932 Fixes werewolf claws
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_spells.dm
Labels: Code

#4043 Hand-feeding someone fruit now gives a minor mood buff.
  code/datums/stress/positive_events.dm
  code/modules/food_and_drinks/food/snacks.dm
Labels: Code

#4036 Actually fix level up logic this time.
  code/datums/sleep_adv/sleep_adv.dm
Labels: Code, TESTMERGED, Fix

#4044 Add Launch Options & Move Config.txt out of gitignore into the actual folder
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  code/__DEFINES/preferences.dm
  code/controllers/configuration/configuration.dm
  config/config.txt
Labels: Code

#4037 Lich Boss Buff
  code/modules/mob/living/carbon/human/npc/skeleton/skeleton.dm
  code/modules/mob/living/carbon/human/npc/skeleton/skeleton_lich.dm
  code/modules/mob/living/carbon/human/npc/skeleton/skeleton_outfits.dm
  code/modules/mob/living/simple_animal/hostile/bosses/lich_boss.dm
  roguetown.dme
Labels: Code

#4018 resprites the savoyard, adds the old one as a recipe
  code/modules/clothing/rogueclothes/headwear/helmet/heavy_helmet.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Code, Sprite, MERGE CONFLICT

#4051 Adminwho actually shows up for non admin
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/who.dm
Labels: Code

#4054 changes a few more gold sprites to use the new gold palette + silver psycross
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/rings.dmi
  icons/roguetown/items/valuable.dmi
Labels: Sprite

#4055 Fixes silverface bug
  code/modules/roguetown/roguemachine/merchant/goldface.dm
Labels: Code

#4039 Refactor lesser miracle, graggar & ravox healing changes
  code/__DEFINES/dcs/signals/signals_mob.dm
  code/datums/gods/_patron.dm
  code/datums/gods/patrons/atheism.dm
  code/datums/gods/patrons/divine/_divine.dm
  code/datums/gods/patrons/divine/abyssor.dm
  code/datums/gods/patrons/divine/astrata.dm
  code/datums/gods/patrons/divine/dendor.dm
  code/datums/gods/patrons/divine/eora.dm
  code/datums/gods/patrons/divine/malum.dm
  code/datums/gods/patrons/divine/necra.dm
  code/datums/gods/patrons/divine/noc.dm
  code/datums/gods/patrons/divine/pestra.dm
  code/datums/gods/patrons/divine/ravox.dm
  code/datums/gods/patrons/divine/undivided.dm
  code/datums/gods/patrons/divine/xylix.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/gods/patrons/inhumen/_inhumen.dm
  code/datums/gods/patrons/inhumen/baotha.dm
  code/datums/gods/patrons/inhumen/graggar.dm
  code/datums/gods/patrons/inhumen/matthios.dm
  code/datums/gods/patrons/inhumen/zizo.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/game/objects/items/rogueweapons/mmb/bite.dm
  code/modules/spells/roguetown/acolyte/general.dm
  roguetown.dme
Labels: Code

#4063 Survival Expert actually ungate Fishing. Lumberjacking actually gated.
  code/datums/skills/labor.dm
Labels: Code

#4064 Fixes some drider weirdness
  code/modules/mob/living/simple_animal/rogue/game/drider.dm
Labels: Code

#4071 Fix steel flamberge sprite + hound mask kill
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_steel.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
  icons/roguetown/weapons/64.dmi
Labels: Code, Balance, Sprite

#4073 Lets maneaters spitout on spot now
  code/game/objects/structures/maneater.dm
Labels: Code

#4079 The damsel hairstyle fix
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Sprite

#4084 makes goblin loincloths cover groin
  code/modules/clothing/rogueclothes/npc/goblin.dm
Labels: Code

#4077 Necromancer & Pestran Heretic get Apprentice medicine. Pestran get Al…
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
Labels: Code, Balance

#3992 Adds new vice - Unintelligible
  code/datums/character_flaw/_character_flaw.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Code, TESTMERGED, Balance

#4059 TGUI Restyles + Soulification
  code/modules/client/preferences.dm
  code/modules/tgui_input/text.dm
  tgui/packages/tgui/assets/azure_default/columns_shifted.svg
  tgui/packages/tgui/assets/azure_default/snek_shifted.svg
  tgui/packages/tgui/assets/azure_default/topbar1.svg
  tgui/packages/tgui/assets/azure_default/topbar_shifted.svg
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/packages/tgui/interfaces/CheckboxInput.tsx
  tgui/packages/tgui/interfaces/ListInputModal.tsx
  tgui/packages/tgui/interfaces/MiaCraft.js
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
  tgui/packages/tgui/layouts/Layout.tsx
  tgui/packages/tgui/layouts/TitleBar.tsx
  tgui/packages/tgui/layouts/Window.tsx
  tgui/packages/tgui/styles/themes/azure_default.scss
Labels: Code, TESTMERGED, ENDVRE

#4082 Counterspell Glow-up (literally c:)
  code/modules/spells/spell_types/wizard/invoked_single_target/counterspell.dm
Labels: Code

#4091 Apothecary can be all ages.
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
Labels: Code, Balance

#4032 Differing Systems - Reflavors 'AGEVET' into 'VERIFIED', clarifies how Azure's optional agevetting system works.
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human_topic.dm
Labels: Code, TESTMERGED
