Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2025-02, with the labels that each got.

#1327 splendid mothification
  code/modules/client/customizer/customizers/organ/neck_feature.dm
  code/modules/client/customizer/customizers/organ/wings.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
  code/modules/mob/living/carbon/human/voicepacks/genfemale.dm
  code/modules/mob/living/carbon/human/voicepacks/genmale.dm
  code/modules/mob/living/carbon/human/voicepacks/other/moth.dm
  code/modules/mob/living/emote.dm
  code/modules/surgery/organs/feature_organs/neck_feature.dm
  code/modules/surgery/organs/tongue.dm
  icons/mob/human_parts.dmi
  icons/mob/species/moth_f.dmi
  icons/mob/species/moth_female.dmi
  icons/mob/species/moth_m.dmi
  icons/mob/species/moth_male.dmi
  icons/mob/sprite_accessory/eyes/eyes.dmi
  icons/mob/sprite_accessory/hair/human_hair.dmi
  roguetown.dme
  sound/vo/moth/chitter.ogg
  sound/vo/moth/moth_death.ogg
  sound/vo/moth/moth_flutter.ogg
  sound/vo/moth/moth_laugh1.ogg
  sound/vo/moth/moth_scream.ogg
  sound/vo/moth/mothchitter.ogg
Labels: Spriting

#1289 Adds maneater juveniles, seeds, and planting maneaters
  code/game/objects/structures/maneater.dm
  icons/roguetown/mob/monster/maneater.dmi
  sound/misc/maneaterspit.ogg
Labels: Spriting

#1339 ports dream stress visuals
  code/modules/mob/living/carbon/stress.dm
  code/modules/mob/living/overhead_effects.dm
  icons/mob/overhead_effects.dmi
  roguetown.dme
  sound/ddrelief.ogg
  sound/ddstress.ogg
  sound/stressaffliction.ogg
Labels: Spriting

#1340 Adds 8 new hairs
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
  roguetown.dme
Labels: Spriting

#1309 Proper Gatehouses for the town entrances (Plus minor town QoL edits)
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1294 Assess ability, Low INT features, and small equipment Examine overhaul
  code/__DEFINES/traits.dm
  code/__HELPERS/mobs.dm
  code/game/objects/examine.dm
  code/game/objects/items.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_topic.dm
  goon/browserassets/css/browserOutput.css
  interface/stylesheet.dm
  modular_azurepeak/virtues/utility.dm
Labels: Balance

#1332 Adds tabards and Abyssor amulets to the church storage room.
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1335 adds regular guard tabards and guard capes in armory
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1322 New wardens tower
  _maps/map_files/dun_manor/azure_forest.dmm
Labels: Mapping

#1342 Marshal's office touch up
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1351 Sword .dmi surgery to fix some missing sprites, other adjustments
  code/game/objects/items/rogueitems/inquisitionrelics.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#1354 Adds a few new Rune Icons
  icons/mob/actions/roguespells.dmi
Labels: Spriting

#1353 Vaquero stuff
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/vaquero.dm
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
Labels: Balance, Spriting

#1226 Soaps, Sewers, and Soothers
  code/datums/stress/_stressevent.dm
  code/datums/stress/negative_events.dm
  code/datums/stress/positive_events.dm
  code/game/objects/items/soap.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/mob/living/carbon/life.dm
Labels: Balance

#1334 Buff | Buffs Templar skills + Priest
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1328 Adds innkeeper's key to steward chest of keys
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1357 Rogue Era: Ports Stonekeep Player Sprites
  code/modules/client/customizer/customizers/organ/horns.dm
  code/modules/mob/dead/new_player/sprite_accessory/horns.dm
  icons/mob/sprite_accessory/horns/horns.dmi
  icons/mob/sprite_accessory/tails/tiefling.dmi
  icons/roguetown/mob/bodies/attachments.dmi
  icons/roguetown/mob/bodies/f/fd.dmi
  icons/roguetown/mob/bodies/f/fm.dmi
  icons/roguetown/mob/bodies/f/ft.dmi
  icons/roguetown/mob/bodies/m/mem.dmi
  icons/roguetown/mob/bodies/m/met.dmi
  icons/roguetown/mob/bodies/m/mm.dmi
  icons/roguetown/mob/bodies/m/mt.dmi
  icons/roguetown/mob/bodies/m/mt_muscular.dmi
Labels: Spriting

#1364 resprites tiefling tails animation
  icons/mob/sprite_accessory/tails/tiefling.dmi
Labels: Spriting

#1363 deep ones
  code/__DEFINES/mobs/simplemob_attack_speed.dm
  code/__DEFINES/mobs/simplemob_health.dm
  code/__DEFINES/mobs/simplemob_movement_speed.dm
  code/datums/ai/controllers/deepone.dm
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/modules/mob/living/simple_animal/deepone.dm
  icons/roguetown/mob/monster/fishman.dmi
  roguetown.dme
Labels: Spriting

#1362 Adds a new Mercenary: Atgervi
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  icons/mob/inhands/weapons/rogue_lefthand.dmi
  icons/mob/inhands/weapons/rogue_righthand.dmi
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/32x48/atgervi.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/weapons/32.dmi
Labels: Balance, Spriting

#1365 Fix | Adds back missing soap
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1355 sentinels can have apprentice cooking as a treat
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
Labels: Balance

#1315 Gives Hand Advisor Apprentice Arcyne (4 points total)
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
Labels: Balance

#1368 atgervi fixes
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
Labels: Balance

#1369 Atgervi combat music + no pain stun for shamans + fixed sprites
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  icons/mob/inhands/weapons/rogue_lefthand.dmi
  sound/music/combat_shaman.ogg
  sound/music/combat_vagarian.ogg
Labels: Balance, Spriting

#1371 Adds Sandfox ears
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/mob/dead/new_player/sprite_accessory/ears.dm
  icons/mob/sprite_accessory/ears/ears_big.dmi
Labels: Spriting

#1374 fixes atgervi not getting their custom combat music
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  sound/music/combat_shaman.ogg
Labels: Balance

#1373 The RITUALIST UPDATE
  code/__DEFINES/traits.dm
  code/datums/status_effects/rogue/debuff.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/positive_events.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/mob/living/carbon/carbon.dm
  icons/roguetown/misc/rituals.dmi
  modular_azurepeak/code/game/objects/items/ritechalk.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  roguetown.dme
  sound/misc/peacefulwake.ogg
Labels: Balance, Spriting

#1372 adds kusanagi alt
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#1379 Gives regular templars ritualist
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1376 Merchant Sweep
  code/controllers/subsystem/rogue/treasury.dm
  code/modules/cargo/packsrogue/apparel.dm
  code/modules/cargo/packsrogue/armor.dm
  code/modules/cargo/packsrogue/livestock.dm
  code/modules/cargo/packsrogue/luxury.dm
  code/modules/cargo/packsrogue/rawmat.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/cargo/packsrogue/weapons.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/roguetown/roguemachine/merchant.dm
  roguetown.dme
Labels: Balance

#1383 Who NOSE what this PR is about. (Adds a NOSE marking)
  code/modules/mob/dead/new_player/body_markings/body_markings.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  icons/mob/body_markings/other_markings.dmi
Labels: Spriting

#1394 Fix | Invisible Soap B-Gone
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1400 New Addition | Pestran Tabard + Helm
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/head.dmi
  modular_azurepeak/code/modules/clothing/rogueclothes/cloaks.dm
  modular_azurepeak/code/modules/clothing/rogueclothes/hats.dm
Labels: Mapping, Balance, Spriting

#1401 adds a helmet for ravox paladins and templars
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1402 Fix | Fixes Dreadlocks Long
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Spriting

#1404 Update | Guard Captain helm change.
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
Labels: Balance

#1396 Addition | Gives hands crownstones
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
Labels: Balance

#1410 Eora's Day: Valentines Update
  code/controllers/subsystem/rogue/role_class_handler/class_select_handler/class_select_handler.dm
  code/datums/components/storage/storage.dm
  code/game/objects/effects/spawners/roguemapgen.dm
  code/game/objects/items/candle.dm
  code/game/objects/items/rogueitems/bouquet.dm
  code/game/objects/items/storage/new_storage/tetris.dm
  code/modules/client/asset_cache.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/vaquero.dm
  code/modules/roguetown/mapgen/forest.dm
  code/modules/roguetown/roguecrafting/alchemy/cauldron_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/grind_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  code/modules/roguetown/roguecrafting/alchemy/reagents.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/alchemist/herb_flora.dm
  code/modules/roguetown/roguejobs/alchemist/herb_seeds.dm
  icons/default_title.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head_items.dmi
  icons/roguetown/items/misc.dmi
  icons/roguetown/misc/alchemy.dmi
  icons/roguetown/misc/gragstar.gif
  icons/roguetown/misc/herbfoliage.dmi
  roguetown.dme
Labels: Balance, Spriting

#1418 RG Helmet options
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1406 Covetous Crown added to the map
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping

#1416 Adds adventurer mage subclass preview
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
Labels: Balance

#1426 Adds sallets to RG helm selection
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1428 Mage Armor - The magician's Freebie
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/failed_apprentice.dm
  sound/magic/magearmordown.ogg
  sound/magic/magearmorup.ogg
Labels: Balance

#1348 Mercenaries house and inn staff room expansion
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1407 Adds some things to the warden tower
  _maps/map_files/dun_manor/azure_forest.dmm
Labels: Mapping

#1415 The archivist and the physician now share an alchemy lab
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1427 Adds cured leather
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_manor/smalldecap.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/rogueitems/natural/animals.dm
  code/game/objects/structures/fluff.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/farming/crafting_recipes.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/seamstress.dm
  code/modules/jobs/job_types/roguetown/yeomen/tailor.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguejobs/cook/recipes/meat.dm
  code/modules/roguetown/roguejobs/cook/recipes/misc.dm
  code/modules/roguetown/roguejobs/tailor/tanning.dm
  code/modules/roguetown/roguestock/stockpile.dm
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/onmob/wrists.dmi
  icons/roguetown/clothing/wrists.dmi
  icons/roguetown/items/natural.dmi
  modular/Neu_Food/code/raw/NeuFood_processed.dm
  roguetown.dme
Labels: Mapping, Balance, Spriting

#1449 Map: fixes stall 2 window opening dir
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1442 ZIZO Armor(BOUNTY)
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/pants.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
Labels: Spriting

#1451 Zeminism Wins - Bugfixing fem zizo armor sprites+sleeves
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Spriting

#1452 FISHING PR
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/farming/plant_def.dm
  code/modules/farming/produce.dm
  code/modules/farming/seeds.dm
  code/modules/roguetown/roguejobs/fisher/fish.dm
  code/modules/roguetown/roguejobs/fisher/leeches.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
  code/modules/roguetown/roguejobs/fisher/worms.dm
  code/modules/roguetown/roguestock/stockpile.dm
  icons/roguetown/items/produce.dmi
  icons/roguetown/misc/fish.dmi
  modular/Neu_Food/code/cooked/NeuFood_meals.dm
  modular/Neu_Food/code/cooked/NeuFood_snacks.dm
  modular/Neu_Food/code/raw/NeuFood_meat.dm
  modular/Neu_Food/code/raw/NeuFood_veggies.dm
  modular/Neu_Food/icons/food.dmi
Labels: Spriting

#1458 *Bleaches your beastfolk*
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/kobold.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  icons/mob/species/anthro_small_femalea.dmi
  icons/mob/species/anthro_small_malea.dmi
  icons/roguetown/mob/bodies/f/fma.dmi
  icons/roguetown/mob/bodies/m/mta.dmi
Labels: Spriting

#1459 small fixes
  code/game/objects/items/rogueweapons/intents.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  icons/default_title.dmi
Labels: Spriting

#1466 Gives snouters back their snoots
  code/__DEFINES/inventory.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  code/modules/mob/dead/new_player/sprite_accessory/snouts.dm
  modular_azurepeak/code/modules/clothing/rogueclothes/hats.dm
Labels: Balance

#1465 ZIZZLER ARMOR RITUAL[BOUNTY]
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
  modular_azurepeak/code/game/objects/items/ritechalk.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
Labels: Balance

#1470 Hunting lodge
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/structures/mineral_doors.dm
Labels: Mapping

#1456 Adds craftable cooling backpacks and smokebombs
  code/game/objects/items/rogueitems/bombs.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
  icons/roguetown/clothing/onmob/back_l.dmi
  icons/roguetown/clothing/storage.dmi
  icons/roguetown/items/misc.dmi
  sound/items/smokebomb.ogg
Labels: Spriting

#1475 Resprites player attachments
  code/modules/client/customizer/customizers/organ/neck_feature.dm
  code/modules/client/preferences.dm
  code/modules/mob/dead/new_player/sprite_accessory/genitals.dm
  code/modules/mob/living/carbon/human/npc/orc.dm
  code/modules/mob/living/carbon/human/npc/skeleton.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  icons/mob/sprite_accessory/elf.dmi
  icons/mob/sprite_accessory/genitals/breasts.dmi
  icons/mob/sprite_accessory/genitals/gonads.dmi
  icons/mob/sprite_accessory/genitals/nethers.dmi
  icons/mob/sprite_accessory/genitals/penis.dmi
  icons/mob/sprite_accessory/genitals/pintle.dmi
  icons/mob/sprite_accessory/hair/human_hair.dmi
  icons/roguetown/clothing/onmob/belt_r.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/mob/bodies/f/fm.dmi
  modular/Neu_Food/code/NeuFood.dm
Labels: Spriting

#1438 Throwing Javelins + Bag
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/ammo.dmi
Labels: Spriting

#1414 Removes snowflake malum's fire code, adds support for Extra Spells.
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/gods/_patron.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1482 Map Change | Updates the Guard Captain quarters
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1489 Goblin resprite & tweaks
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/client/customizer/customizers/organ/horns.dm
  code/modules/mob/dead/new_player/sprite_accessory/ears.dm
  code/modules/mob/dead/new_player/sprite_accessory/genitals.dm
  code/modules/mob/dead/new_player/sprite_accessory/horns.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  icons/mob/species/anthro_small_male.dmi
  icons/mob/species/goblin_female.dmi
  icons/mob/sprite_accessory/genitals/breasts.dmi
  icons/mob/sprite_accessory/halforc.dmi
  icons/roguetown/clothing/onmob/belt_l.dmi
  icons/roguetown/mob/bodies/f/fd.dmi
  icons/roguetown/mob/bodies/f/fm.dmi
Labels: Spriting

#1480 Shanty Town Addition PR
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/structures/mineral_doors.dm
Labels: Mapping, Spriting

#1494 FIXES FOR SHANTYTOWN
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1496 FIX | Adds a roof onto the GC quarters
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1497 sounds & sprite tweaks
  code/game/area/roguetownareas.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/mob/dead/new_player/sprite_accessory/genitals.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  icons/mob/species/anthro_small_male.dmi
  icons/mob/sprite_accessory/genitals/breasts.dmi
  icons/roguetown/mob/bodies/f/fd.dmi
  sound/music/area/forest.ogg
  sound/music/area/forestnight.ogg
  sound/music/area/forestold.ogg
  sound/music/area/sewers.ogg
  sound/music/area/sewersold.ogg
Labels: Spriting

#1512 Tracking Update
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/roguewindow.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/mob/living/living.dm
  modular_hearthstone/code/game/objects/effects/track.dm
  modular_hearthstone/icons/obj/effects/track.dmi
Labels: Balance

#1472 Bounty System - The Excidium & The Castifico
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/generic/CentCom.dmm
  code/modules/admin/admin_verbs.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/roguetown/roguemachine/bounty.dm
  code/modules/roguetown/roguemachine/titan.dm
  icons/roguetown/misc/machines.dmi
  modular_azurepeak/code/game/objects/structures/fartravel.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/wanted.dm
Labels: Mapping, Balance, Spriting

#1504 Replaced Mounted Knight Sabre w/ Bastard Sword
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1510 New Vaquero Description bby
  code/modules/jobs/job_types/roguetown/mercenaries/classes/vaquero.dm
Labels: Balance

#1463 Merry Men Rejoice! AKA The Poacher
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
  code/modules/roguetown/roguemachine/scomm.dm
  sound/music/combat_poacher.ogg
Labels: Balance

#1516 Puts bounties on Poachers
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
Labels: Balance

#1500 Introduces the Experienced Grave Robber trait.
  code/__DEFINES/traits.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/roguetown/roguejobs/gravedigger/hole.dm
Labels: Balance

#1524 adds witch towner
  _maps/map_files/dun_manor/dun_manor.dmm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/objects/structures/mineral_doors.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/seamstress.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/witch.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/bat.dm
  code/modules/spells/roguetown/vampire.dm
  code/modules/spells/spell_types/shapeshift.dm
  icons/mob/actions/roguespells.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/mob/monster/crow.dmi
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
  roguetown.dme
  sound/magic/charging.ogg
  sound/magic/chargingold2.ogg
Labels: Mapping, Balance, Spriting

#1533 Randomizes xylix adv paladin psicross
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
Labels: Balance

#1534 Gives Witch the Cauldron Alchemy skill
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/witch.dm
Labels: Balance

#1537 Removes mercenary key from inn's basement spare keys
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1518 MASSIVE MAGE ASSOCIATE BUFF/NERF BALANCEJACK (Not clickbait) (Definitely not a bugfix that just makes it to where you don't spawn two staffs on class picking)
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
Labels: Balance

#1543 Fixes double-turfed wall at dun manor north gate
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1552 Giving Zizo Missionary control of their bone men.
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
Labels: Balance

#1540 Adds the Grappler (-ing hook)
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
  code/modules/roguetown/roguejobs/engineer/gadgets.dm
  icons/effects/effects.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/roguehud.dmi
  icons/roguetown/misc/gadgets.dmi
  icons/roguetown/misc/gadgets_onmob.dmi
  roguetown.dme
  sound/misc/grapple_attach.ogg
  sound/misc/grapple_crank.ogg
  sound/misc/grapple_land.ogg
  sound/misc/grapple_reel.ogg
Labels: Balance, Spriting
