Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2025-07, with the labels that each got.

#2899 Deaths doors Tweakings and misc stuff.
  code/modules/spells/roguetown/acolyte/necra.dm
  icons/mob/actions/roguespells.dmi
  modular_azurepeak/code/modules/spells/pantheon/divine/necra.dm
Labels: Code, Sprite

#2938 Allow more cloaks to be worn in back slots.
  code/modules/clothing/rogueclothes/cloaks.dm
Labels: Code

#2929 Update | Bathhouse New Meister + other stuff
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2894 New Kazengunite Polearm - The Naginata
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/foreigner.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/64.dmi
Labels: Code, TESTMERGED, Balance, Sprite

#2901 ports headbutt from vanderlin
  code/modules/mob/living/grabbing.dm
Labels: Code, TESTMERGED

#2919 Snowflake Dismember Prevention for very strong weapons
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/surgery/bodyparts/bodypart_dismemberment.dm
Labels: Code, TESTMERGED, Balance

#2918 Balance iteration for Lich Skeletons
  code/modules/jobs/job_types/roguetown/other/lich_skeleton.dm
Labels: Code, TESTMERGED, Balance

#2915 Deserter Improvements - New Abilities!
  code/datums/mind.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
Labels: Code, TESTMERGED, Balance

#2934 ClickCD alternative
  code/_onclick/click.dm
  code/_onclick/item_attack.dm
  code/_onclick/other_mobs.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/roguetown/gate.dm
  code/game/objects/structures/roguetown/musicbox.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/game/objects/structures/roguewindow.dm
  code/modules/farming/tools.dm
  code/modules/mob/living/grabbing.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/roguetown/crow.dm
  code/modules/mob/living/simple_animal/hostile/roguetown/smallrat.dm
  code/modules/roguetown/roguecrafting/alchemy/mortarpestle.dm
  code/modules/roguetown/roguejobs/alchemist/herb_flora.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguemachine/bathmaster.dm
  code/modules/roguetown/roguemachine/drugmachine.dm
  code/modules/roguetown/roguemachine/hoardmaster.dm
  code/modules/roguetown/roguemachine/mail.dm
  code/modules/roguetown/roguemachine/merchant/goldface.dm
  code/modules/roguetown/roguemachine/merchant/navigator.dm
  code/modules/roguetown/roguemachine/money.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/roguetown/roguemachine/steward/steward.dm
  code/modules/roguetown/roguemachine/stockpile/stockpile.dm
  code/modules/roguetown/roguemachine/submission.dm
  code/modules/roguetown/roguemachine/vaultbank.dm
  code/modules/roguetown/roguemachine/vendor.dm
  code/modules/surgery/organs/brain.dm
  modular/Neu_Food/code/raw/raw_fish.dm
Labels: Code, TESTMERGED

#2948 Splatterification of grown fruits
  code/modules/farming/produce.dm
Labels: Code

#2952 merges the two fun tabs
  code/controllers/subsystem/events.dm
Labels: Code

#2943 Let's Stress It Out A Little: More Stress MSGs, lower Stress messagethreshold
  code/modules/mob/living/carbon/stress.dm
  strings/rt/stress_messages.txt
Labels: Code, TESTMERGED

#2882 Wither: aka dente spells redux.
  code/modules/spells/spell_types/wizard/invoked_aoe/wither.dm
  code/modules/spells/spell_types/wizard/spell_list.dm
  code/modules/spells/spell_types/wizard/spells_status_effects.dm
  icons/mob/actions/roguespells.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Sprite

#2917 The return of the Duke's armor
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping, TESTMERGED, Balance

#2966 Fix Ravox & Graggar Incantations. Give CTA an actual debuff.
  code/datums/status_effects/rogue/debuff.dm
  code/modules/spells/roguetown/acolyte/ravox.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/graggar.dm
Labels: Code

#2964 Buckler Tweaks
  code/game/objects/items/rogueweapons/shields.dm
Labels: Code, Balance

#2973 Fixes lack of post equipment for migrants and guildmaster
  code/controllers/subsystem/migrants.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildmaster.dm
Labels: Code, Balance

#2974 Fixes psydonian plate
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/clothing/rogueclothes/armor.dm
Labels: Code

#2976 Minimizes fountain and water-turf drinking spam (port)
  code/game/objects/structures/well.dm
  code/game/turfs/open/water.dm
Labels: Code

#2975 Shield Fixes
  code/game/objects/items/rogueweapons/shields.dm
Labels: Code

#2924 [Request] Ambrose PR 2 - Minotaurs, Weapons, n' Misc Sprites
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/natural/heads.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lwoodcut.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildsman.dm
  code/modules/mob/living/simple_animal/rogue/creacher/trolls/trollaxe.dm
  icons/roguetown/items/bounty_heads.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
  icons/roguetown/weapons/polearms64.dmi
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/minotaur.dm
  modular_hearthstone/icons/mob/newminotaur.dmi
Labels: Mapping, Code, TESTMERGED, Balance, Sprite

#2907 Simple mobs now attack obstacles in the way.
  code/datums/ai/controllers/abyssal.dm
  code/datums/ai/controllers/deepone.dm
  code/datums/ai/controllers/direbear.dm
  code/datums/ai/controllers/dragger.dm
  code/datums/ai/controllers/dragon.dm
  code/datums/ai/controllers/haunt.dm
  code/datums/ai/controllers/headless.dm
  code/datums/ai/controllers/mimic.dm
  code/datums/ai/controllers/minotaur.dm
  code/datums/ai/controllers/mirespider.dm
  code/datums/ai/controllers/mole.dm
  code/datums/ai/controllers/mossback.dm
  code/datums/ai/controllers/orc.dm
  code/datums/ai/controllers/skeleton.dm
  code/datums/ai/controllers/spider.dm
  code/datums/ai/controllers/troll.dm
  code/datums/ai/controllers/volf.dm
  code/datums/ai/controllers/wolf_undead.dm
Labels: Code, TESTMERGED

#2955 Making shishas great again.
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/hookah.dm
  icons/mob/roguehud.dmi
  icons/roguetown/items/misc.dmi
  icons/roguetown/misc/structure.dmi
  roguetown.dme
  sound/foley/shisha_gurgle.ogg
Labels: Mapping, Code, TESTMERGED, Sprite, Sound

#2985 Fix compilation issue.
  code/modules/paperwork/rogue.dm
Labels: Code

#2983 adds a boat :3c
  code/modules/vehicles/_vehicle.dm
  code/modules/vehicles/dinghy.dm
  icons/obj/boat.dmi
  icons/obj/boat_accessories.dmi
  roguetown.dme
Labels: Code, Sprite

#2988 Gives Wardens Cooking/Butchery 1.
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
Labels: Code, Balance

#2990 better categorizes bed crafting & fixes 1 parenthesis from my bedsheet pr
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/structure.dm
Labels: Code

#2961 Profane Cathedral - Heretic Church Overhaul
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/traits.dm
  code/game/area/roguetownareas.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/traveltile.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/witch.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/berserker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/hedgemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/outlaw.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/poacher.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  modular_azurepeak/virtues/utility.dm
  sound/music/unholy.ogg
Labels: Mapping, Code, TESTMERGED, Balance, Sound

#2959 Remove global ambush CD. Make ambush CD per mob every 5 minutes.
  code/modules/mob/living/ambush.dm
Labels: Code, TESTMERGED, Balance

#2958 Ports schism and influence changes from Vanderlin
  code/controllers/subsystem/storyteller.dm
  code/datums/storytellers/_base.dm
  code/datums/storytellers/gods.dm
  code/modules/events/god_intervention/schism.dm
Labels: Code, TESTMERGED, Balance

#2995 fixes rocks
  code/game/objects/items/rogueitems/natural/stones.dm
Labels: Code

#2989 werewolf now tells you you're a werewolf!
  code/modules/antagonists/roguetown/villain/werewolf/werewolf.dm
Labels: Code

#3004 stake
  code/game/objects/items/rogueitems/natural/wood.dm
Labels: Code

#2996 bugfixes for some inventory dupes + hella list indentations
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/foreigner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/trader.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/berserker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/hedgemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/outlaw.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/poacher.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/forlorn.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grudgebearer.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/kashira.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/rumaclan.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/underdweller.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/suitor.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildmaster.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildsman.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
  code/modules/jobs/job_types/roguetown/yeomen/villagechief.dm
Labels: Code, Balance

#2972 actually fixes death's door + sacred flame fix
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/necra.dm
Labels: Code, TESTMERGED, Fix

#2993 Astrata passive
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/energystamina.dm
Labels: Code

#2998 Small abyssor lore changes, abyssor statue.
  code/datums/gods/patrons/divine_pantheon.dm
  code/game/objects/structures/fluff.dm
  icons/roguetown/misc/tallandwide.dmi
  modular/Neu_Food/code/raw/raw_fish.dm
  strings/rt/timechangetips.txt
Labels: Code, Sprite

#3010 Tweaks armor dismember catch from 1 hit to 2, or 80% to 30%
  code/modules/surgery/bodyparts/bodypart_dismemberment.dm
Labels: Code

#3021 Port Ratwood #2699 - Message plays an OGG
  code/modules/spells/spell_types/wizard/utility/message.dm
  sound/magic/message.ogg
Labels: Code, Sound

#3013 Minor warden riding buff
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
Labels: Code, Balance

#3031 Bugfix Packs
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/game/objects/structures/fluff.dm
  code/modules/clothing/rogueclothes/headwear/hats.dm
  code/modules/clothing/rogueclothes/headwear/helmet/heavy_helmet.dm
  code/modules/clothing/rogueclothes/headwear/helmet/light_helmet.dm
  code/modules/clothing/rogueclothes/headwear/helmet/medium_helmet.dm
  code/modules/clothing/rogueclothes/headwear/masks.dm
  code/modules/farming/produce.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/stats.dm
  code/modules/roguetown/roguejobs/gravedigger/gravemarker.dm
Labels: Code

#3025 Obliterate roguetownprocs, split it up.
  code/modules/mob/living/combat/accuracy_checks.dm
  code/modules/mob/living/combat/checkdefense.dm
  code/modules/mob/living/combat/clashpurgepeelstuffs.dm
  code/modules/mob/living/combat/dodge.dm
  code/modules/mob/living/combat/parry.dm
  code/modules/mob/living/combat/shared.dm
  code/modules/mob/living/misc.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/mob/living/rolecheck.dm
  roguetown.dme
Labels: Code

#3007 Bumps Pestran Acolytes to Expert medicine
  code/modules/jobs/job_types/roguetown/church/monk.dm
Labels: Code, Balance

#3036 Fixes maneater.dm limb eating with new dismember armor catch
  code/game/objects/structures/maneater.dm
Labels: Code

#3034 Add loadout forlorn collar
  code/modules/clothing/rogueclothes/neck.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Code

#3027 Allows martyrcloak to be worn on backslots.
  code/modules/jobs/job_types/roguetown/church/martyr.dm
Labels: Code, Balance

#3039 Add Iron Hauberk to Goldface. Fix rounding error
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_iron.dm
  code/modules/roguetown/roguemachine/merchant/goldface.dm
Labels: Code

#3028 Cantors get T2 miracles, small music changes (Did Not Whiff A Merge Conflict Fix I Swear)
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Code, Balance

#3041 Make swimming give you XP again.
  code/game/turfs/open/water.dm
Labels: Code

#3044 Adds two Tiefling skin colors
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
Labels: Code

#3014 Fixes Routier Clothing Being Completely Broken
  code/modules/clothing/rogueclothes/armor/gambeson.dm
  code/modules/clothing/rogueclothes/armor/plate.dm
  code/modules/clothing/rogueclothes/headwear/helmet/medium_helmet.dm
  code/modules/clothing/rogueclothes/neck.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  roguetown.dme
Labels: Code, Sprite

#3000 Radiant Peak: porting dynamic quest system from Solaris
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/roguetest/roguetest.dmm
  code/__DEFINES/dcs/signals/signals_mob.dm
  code/__DEFINES/questing.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/filters.dm
  code/_globalvars/lists/mapping.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/mob/living/carbon/human/npc/deranged_knight.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/say.dm
  code/modules/roguetown/roguemachine/noticeboard.dm
  code/modules/roguetown/roguemachine/questing/questing.dmi
  code/modules/roguetown/roguemachine/questing/questing_components.dm
  code/modules/roguetown/roguemachine/questing/questing_datum.dm
  code/modules/roguetown/roguemachine/questing/questing_decals.dm
  code/modules/roguetown/roguemachine/questing/questing_items.dm
  code/modules/roguetown/roguemachine/questing/questing_landmarks.dm
  code/modules/surgery/bodyparts/bodypart_dismemberment.dm
  icons/mob/dust_animation.dmi
  roguetown.dme
  strings/rt/graggaraggrolines.txt
  strings/rt/hedgeknightaggrolines.txt
  strings/rt/matthiosaggrolines.txt
  strings/rt/zizoaggrolines.txt
Labels: Mapping, Code, TESTMERGED, Feature, Sprite, ENDVRE

#3005 adds lux wine, whip wine, and the Trve Whip Wine.
  _maps/map_files/dun_world/dun_world.dmm
  code/datums/brewing_recipes/wine.dm
  code/modules/cargo/packsrogue/bathmatron/drugs.dm
  code/modules/reagents/chemistry/reagents/rt_alcohol_reagents.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
Labels: Mapping, Code

#3052 Add new light spell icon by Tricon.
  code/modules/spells/spell_types/wizard/utility/light.dm
  icons/mob/actions/roguespells.dmi
Labels: Code, Sprite

#3054 fixes shophand bedroom name
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#3057 Tweaks grab messages to increase readability
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Code

#3072 Manabloom Herbs 2: how I learned not to mess with Mapping (for now) (also adds SLOW passive stockpile growth to cinnabar)
  code/game/objects/items/rogueitems/magic/magic_resources.dm
  code/modules/farming/seeds.dm
  code/modules/roguetown/mapgen/bog.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_grind_recipes.dm
  code/modules/roguetown/roguejobs/alchemist/herb_flora.dm
  code/modules/roguetown/roguejobs/alchemist/herb_seeds.dm
  code/modules/roguetown/roguestock/stockpile_rawmat.dm
Labels: Code

#3081 Fixes tracking bug in Radiant
  code/modules/roguetown/roguemachine/questing/questing_landmarks.dm
Labels: Code

#3076 Miniscule batch of runtime fixes (only 4)
  code/_onclick/hud/screen_objects.dm
  code/datums/keybinding/human.dm
  code/modules/mob/living/carbon/human/npc/_npc.dm
  modular_azurepeak/code/game/objects/structures/fartravel.dm
Labels: Code

#3086 Fix Belt Equip Hotkeys
  code/datums/keybinding/human.dm
Labels: Code

#3087 Xylix Cloak is now a proper cloak
  icons/roguetown/clothing/onmob/helpers/sleeves_cloaks.dmi
  modular_azurepeak/code/modules/clothing/rogueclothes/cloaks.dm
Labels: Sprite

#3064 Azure city town square
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/structures/fluff.dm
  icons/roguetown/misc/tallstructure.dmi
Labels: Mapping, Code, TESTMERGED, Sprite

#3079 Balance: removes duke's blacksteel lootdrop for regents. Blacksteel armor set now spawns only on duke's spawn.
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/dcs/signals/signals_global.dm
  code/controllers/subsystem/ticker.dm
  code/game/objects/structures/crates_lockers/roguetown.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  roguetown.dme
Labels: Mapping, Code, Balance

#3089 fixes spacebar keybind
  code/_globalvars/lists/client.dm
Labels: Code, Fix

#3090 Delete one quest mark in artificer room.
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#3094 Fixes for Ruma Clan lenticular tattoos
  code/game/objects/items.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/surgery/surgery_helpers.dm
Labels: Code

#3099 Fix dyebins for 516
  .gitignore
  .vscode/tasks.json
  code/modules/roguetown/roguejobs/tailor/dyer.dm
Labels: Code

#3100 Allows Psydonite heirs
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Code, Balance

#3104 Touches hand loadouts to prevent double unique weapon spawn
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
Labels: Code, Balance

#3103 Continue eating/drinking after doing so once
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Code

#3102 Midround injection antag: refurbished death knight
  code/__DEFINES/roguetown.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/say.dm
  code/_globalvars/lists/poll_ignore.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/roguetown/villain/unbound_deathknight.dm
  code/modules/events/antagonist/migrant_waves/exiled_adventurer.dm
  goon/browserassets/css/browserOutput.css
  roguetown.dme
Labels: Code

#3095 no resell hoardmaster items
  code/__DEFINES/flags.dm
  code/_globalvars/bitfields.dm
  code/game/objects/structures/fluff.dm
  code/modules/roguetown/roguemachine/hoardmaster.dm
Labels: Code

#3097 Anv il
  code/__HELPERS/_lists.dm
  code/__HELPERS/text.dm
  code/game/machinery/_machinery.dm
  code/modules/client/asset_cache.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/tailor/dyer.dm
  tgui/packages/tgui/interfaces/Anvil.tsx
  tgui/packages/tgui/styles/themes/azure_default.scss
Labels: Code

#3092 Bandits/wretches can no longer claim bounties
  code/modules/roguetown/roguemachine/bounty.dm
Labels: Code

#3088 Banditry
  code/modules/cargo/packsrogue/Brigand.dm
  code/modules/cargo/packsrogue/Iconoclast.dm
  code/modules/cargo/packsrogue/Knave.dm
  code/modules/cargo/packsrogue/Knight.dm
  code/modules/cargo/packsrogue/Mage.dm
  code/modules/cargo/packsrogue/Sawbones.dm
  code/modules/cargo/packsrogue/Sellsword.dm
  code/modules/cargo/packsrogue/Things.dm
Labels: Code

#3093 Splitting the Silverface + Death of MPP
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/cargo/packsrogue/_pack.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_iron.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_steel.dm
  code/modules/cargo/packsrogue/merchant/merchant_gems.dm
  code/modules/cargo/packsrogue/merchant/merchant_potions.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_melee_steel.dm
  code/modules/roguetown/roguemachine/merchant/goldface.dm
Labels: Mapping, Code

#3114 fixes compile error on main
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
Labels: Code

#3115 [Port] Fixes HUD eye displaying incorrectly
  code/__HELPERS/customization.dm
  code/_onclick/hud/screen_objects.dm
Labels: Code

#3109 Silver trait Martyr sword
  code/modules/jobs/job_types/roguetown/church/martyr.dm
Labels: Code, Balance, Cl*ss Edit

#3120 Thralljak
  code/modules/antagonists/roguetown/villain/vampirelord.dm
Labels: Code

#3112 Eora and Evil tree can only grow on dirt/grass
  code/modules/events/spacevine.dm
  code/modules/spells/roguetown/acolyte/eora.dm
Labels: Code

#3123 Showing steward some love or nerve master now shows jobs, not advjobs
  code/modules/roguetown/roguemachine/steward/steward.dm
Labels: Code

#3124 Fixes psydonic armor. Once and for all, hopefully.
  code/modules/clothing/rogueclothes/armor/plate.dm
Labels: Code

#3127 Throat and Crownstone
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/roguetown/roguemachine/titan.dm
  modular_azurepeak/code/modules/clothing/rogueclothes/crown.dm
Labels: Code

#3061 The Jakening of Knuckles, Steel Staff, & Parry Daggers
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/foreigner.dm
Labels: Code, Balance

#3077 Ports Spatial Grid System
  code/__DEFINES/components.dm
  code/__DEFINES/dcs/signals/signals_spatial_grid.dm
  code/__DEFINES/important_recursive_contents.dm
  code/__DEFINES/sight.dm
  code/__DEFINES/spatial_gridmap.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/game.dm
  code/__HELPERS/spatial_info.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/spatial_gridmap.dm
  code/controllers/subsystem/timer.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/objects/structures/fluff.dm
  code/game/say.dm
  code/game/turfs/turf.dm
  code/modules/mapping/reader.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/roguetown/roguemachine/scomm.dm
  code/modules/roguetown/roguemachine/titan.dm
  modular_azurepeak/code/modules/clothing/rogueclothes/crown.dm
  roguetown.dme
Labels: Code Maintenance, Code, TESTMERGED

#3096 Mute characters can now use audible emotes.
  code/datums/emotes.dm
Labels: Code

#3129 Removes the free aheal in un-shifting
  code/game/objects/shapeshift_holder.dm
Labels: Code

#3136 Give Steel Gorget to all deranged knight miniboss.
  code/modules/mob/living/carbon/human/npc/deranged_knight.dm
Labels: Code

#3121 Undertow(Commission)
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/spells/roguetown/acolyte/abyssor.dm
  sound/misc/undertow.ogg
Labels: Code, Sound

#3145 Small bug fix for two doors.
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#3113 NPC Improvements - Port Juking from Ratwood & Fix NPC Stamcrit
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/npc/_npc.dm
  code/modules/mob/living/carbon/human/npc/deadite.dm
  code/modules/mob/living/combat/dodge.dm
Labels: Code, TESTMERGED

#3133 Vampire lord + spawn adjustments/fixes
  code/__DEFINES/atom_hud.dm
  code/datums/hud.dm
  code/modules/antagonists/roguetown/villain/vampire.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/surgery/organs/eyes.dm
Labels: Code

#3158 Fix text for enchant weapon.
  code/modules/spells/components/enchanted_weapon.dm
Labels: Code

#3163 Ignition spell bugfix
  code/game/objects/items/devices/flashlight.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
Labels: Code

#3166 Bugfix role restriction for Lich
  code/modules/events/antagonist/solo/lich.dm
Labels: Code

#3168 Chain Gauntlets recipe to 2x. Chain Gauntlets cannot be smelted.
  code/modules/clothing/rogueclothes/gloves/chain.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
Labels: Code

#3170 Give abyssor templar/acolytes swimming
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Code, Balance

#3167 Vagabond classes
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/beggar.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/courier.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/deprived.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/destitute_scholar.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/excommunicado.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/failed_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/goatherd.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/runner.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/the_original.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/wanted.dm
  roguetown.dme
Labels: Code, Balance

#3169 Bait stamina cost moved to failed attempts
  code/game/objects/items/rogueweapons/rmb_intents.dm
Labels: Code

#3177 Changing your race no longer nuke your FT or OOC Notes or OOC Extra etc.
  code/modules/client/preferences.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
Labels: Code

#3178 BUGFIX - Matthios flail repair
  code/game/objects/items/rogueweapons/melee/flail.dm
Labels: Code

#3117 Man-at-arms and Sergeant changes
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
Labels: Code, TESTMERGED, Balance, Cl*ss Edit

#3106 New Throwing Weapons, Wretch Expansions + Role Limitations, New Classes.
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_ranged.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/plaguebearer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/pyromaniac.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/vigilante.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/32.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Balance, Sprite, Cl*ss Edit

#3063 Splint amror
  code/__DEFINES/roguetown.dm
  code/modules/clothing/rogueclothes/armor/brigandine.dm
  code/modules/clothing/rogueclothes/armor/plate.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/headwear/helmet/heavy_helmet.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants/chain.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_pants.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/onmob/wrists.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/clothing/wrists.dmi
Labels: Code, Balance, Sprite

#3122 Health examine shows rotting and cure rot fix
  code/datums/components/rotting.dm
  code/modules/antagonists/roguetown/villain/zombie/remove_rot.dm
  code/modules/antagonists/roguetown/villain/zombie/zombie.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/npc/deadite.dm
  code/modules/mob/living/living_defines.dm
  code/modules/surgery/surgeries_hearth/cure_rot.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/undead_animal_helpers.dm
Labels: Code

#2979 Curses
  code/__DEFINES/admin.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/components/crafting/crafting.dm
  code/datums/gods/_curses.dm
  code/datums/sleep_adv/sleep_adv.dm
  code/datums/status_effects/rogue/debuff.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/negative_events.dm
  code/datums/stress/positive_events.dm
  code/game/turfs/open/water.dm
  code/modules/admin/verbs/divinewrath.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/combat/accuracy_checks.dm
  code/modules/mob/living/combat/dodge.dm
  code/modules/mob/living/combat/parry.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/spells/roguetown/priest.dm
  code/modules/spells/spell.dm
  roguetown.dme
Labels: Mapping, Code, TESTMERGED, Balance

#3131 Passive devotion regen changes for devotee virtue and churchling
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  modular_azurepeak/virtues/combat.dm
Labels: Code, Balance

#3182 [Bugfix] Fish summoned by aquatic compulsion are no longer instantly released when summoned from further water tiles
  code/game/turfs/open/water.dm
  code/modules/spells/roguetown/acolyte/abyssor.dm
  modular/Neu_Food/code/raw/raw_fish.dm
Labels: Code

#3130 Port modern asset cache
  code/__DEFINES/assets.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/files.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/type2type.dm
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/resources.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/asset_loading.dm
  code/controllers/subsystem/assets.dm
  code/datums/achievements/_achievement_data.dm
  code/datums/browser.dm
  code/game/objects/objs.dm
  code/game/say.dm
  code/modules/admin/permissionedit.dm
  code/modules/admin/sql_message_system.dm
  code/modules/asset_cache/asset_cache_client.dm
  code/modules/asset_cache/asset_cache_item.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/assets/anvil_recipes.dm
  code/modules/asset_cache/assets/blackedstone.dm
  code/modules/asset_cache/assets/common.dm
  code/modules/asset_cache/assets/fontawesome.dm
  code/modules/asset_cache/assets/goonchat.dm
  code/modules/asset_cache/assets/icon_ref_map.dm
  code/modules/asset_cache/assets/roguefonts.dm
  code/modules/asset_cache/assets/tgfont.dm
  code/modules/asset_cache/assets/tgui.dm
  code/modules/asset_cache/readme.md
  code/modules/asset_cache/spritesheet/batched/batched_spritesheet.dm
  code/modules/asset_cache/spritesheet/batched/universal_icon.dm
  code/modules/asset_cache/spritesheet/legacy/legacy_spritesheet.dm
  code/modules/asset_cache/transports/asset_transport.dm
  code/modules/asset_cache/transports/webroot_transport.dm
  code/modules/asset_cache/validate_assets.html
  code/modules/client/asset_cache.dm
  code/modules/client/assets_rogue.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/language/language.dm
  code/modules/tgui/tgui.dm
  config/example/config.txt
  config/example/resources.txt
  roguetown.dme
  tgui/packages/tgui/styles/themes/azure_default.scss
  tgui/rspack.config.ts
Labels: Code Maintenance, Code, TESTMERGED

#3198 gorget4vlord
  code/modules/antagonists/roguetown/villain/vampirelord.dm
Labels: Code

#3201 Gives more people scabbards that should've gotten it
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Code, Balance

#3202 Ceiling protection to lich arena.
  code/game/area/roguetownareas.dm
Labels: Code

#3183 [Commission] Gives Witch Arcane Bolt
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/witch.dm
Labels: Code, Balance

#2982 puts the rainbow shields back in
  code/modules/clothing/rogueclothes/headwear/helmet/heavy_helmet.dm
  code/modules/clothing/rogueclothes/headwear/helmet/medium_helmet.dm
  code/modules/roguetown/roguejobs/tailor/dyer.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/weapons/shield_heraldry.dmi
Labels: Code, Sprite

#3143 Merchouse+ (drastic remodeling of the merc-house and minor changes to the surrounding grassy area to support)
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/keys.dm
  code/game/turfs/closed/wall/roguewalls.dm
  code/game/turfs/open/floor/roguefloor.dm
Labels: Mapping, Code, TESTMERGED

#3207 fixes fire hand warming string to respect pronouns
  code/game/objects/lighting/rogue_fires.dm
Labels: Code

#3180 Reverts the bevor change
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
Labels: Sprite

#3216 RCP Fix
  code/controllers/subsystem/storyteller.dm
Labels: Code

#3161 Ravox Arena - Challenge T2 Miracle - Commission
  _maps/map_files/generic/CentCom.dmm
  code/datums/gods/patrons/divine_pantheon.dm
  code/game/area/roguetownareas.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/mob_helpers.dm
  code/modules/spells/roguetown/acolyte/ravox.dm
  icons/mob/actions/ravoxmiracles.dmi
  icons/roguetown/rav/obj/flags.dmi
  sound/music/credits.txt
  sound/music/ravoxarena.ogg
Labels: Mapping, Code, TESTMERGED, Feature, Balance, Sprite, Sound

#3160 LBolt Rebalance + Spitfire Rebalance
  code/modules/spells/spell_types/wizard/projectiles_single/blood_lightning.dm
  code/modules/spells/spell_types/wizard/projectiles_single/lightning_bolt.dm
  code/modules/spells/spell_types/wizard/projectiles_single/spitfire.dm
  code/modules/spells/spell_types/wizard/spells_status_effects.dm
Labels: Code, TESTMERGED

#3228 Fixes short satchel crafting
  code/modules/roguetown/roguecrafting/leather/leather_container_recipes.dm
Labels: Code

#3139 Granularize Areas for Radiant Quest + Area Adjustments [MDB IGNORE]
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/actualcoast.dm
  code/game/area/areas.dm
  code/game/area/mountdecap.dm
  code/game/area/northcoast.dm
  code/game/area/roguetownareas.dm
  code/game/area/terrorbog.dm
  code/game/area/undercoast.dm
  code/game/area/underdark.dm
  code/game/area/undergrove.dm
  code/game/area/woods.dm
  code/modules/mob/living/death.dm
  modular_azurepeak/code/modules/mob/living/ambushes/southern_coast_ambush.dm
  roguetown.dme
Labels: Mapping, Code, TESTMERGED

#3238 Adds more loot to the Matthios Idol (The correct repository edition)
  code/game/objects/structures/fluff.dm
Labels: Code

#3249 Underwear size bugfix
  code/game/objects/items/rogueitems/undies.dm
Labels: Code

#3247 Adds names to the pie slices and handpies. Minor cooking code cleanups and refactors.
  code/modules/food_and_drinks/food/snacks.dm
  modular/Neu_Food/code/cooked/cooked_pastry.dm
  modular/Neu_Food/code/cooked/cooked_pies.dm
  modular/Neu_Food/code/raw/raw_dough.dm
Labels: Code

#3222 for loop 2: better written boogaloo
  code/game/objects/examine.dm
  code/modules/cargo/exports.dm
Labels: Code

#3212 Replaces instanced turf icon_states to pre-existing subtypes
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#3223 Add support for para-byond-tracy
  code/game/world.dm
  prof.dll
Labels: Code Maintenance, Code

#3250 Crafting natural bundles dissapearance bugfix
  code/datums/components/crafting/crafting.dm
Labels: Code

#3251 Silver/Goldface armor fixes & misc additions
  code/modules/cargo/packsrogue/merchant/adventure_supplies.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_iron.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_light.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_steel.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_melee_steel.dm
Labels: Code

#3253 ravox arena adjustment
  code/modules/spells/roguetown/acolyte/ravox.dm
Labels: Code

#3258 QoL: Loadout items can now be retrieved from wall clocks.
  code/game/objects/structures/fluff.dm
Labels: Code

#3259 Tailless Tieflings
  code/modules/client/customizer/customizers/organ/tail.dm
Labels: Code

#3261 Fix traits on orcs.
  code/modules/mob/living/carbon/human/npc/orc/orc_outfits.dm
Labels: Code

#3192 Ruma Clan Lore Rework v2
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/rumaclan.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/seonjang.dm
  modular_azurepeak/code/game/objects/items/scabbard.dm
  roguetown.dme
Labels: Code, Balance

#3174 NPC AI leaping fixes and tweaks
  code/__HELPERS/AStar.dm
  code/__HELPERS/game.dm
  code/modules/mob/living/carbon/human/npc/_npc.dm
Labels: Code, TESTMERGED

#3230 Zardmen
  code/modules/client/client_procs.dm
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/client/customizer/customizers/organ/horns.dm
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/feature_organs/snout.dm
  code/modules/surgery/organs/feature_organs/tails.dm
  strings/rt/timechangetips.txt
Labels: Code, TESTMERGED

#3272 Deaths Doors safety checks...again
  code/modules/spells/roguetown/acolyte/necra.dm
Labels: Code

#3275 Fixes ghosts not becoming hearing_sensitive
  code/modules/mob/dead/observer/observer.dm
Labels: Bug, Code

#3197 NO ONE WILL KNOW MAN FROM MY MACHINE! work in progress construct asset overhaul :3c
  code/modules/mob/dead/new_player/body_markings/construct_plating.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/construct/constructm.dm
  icons/mob/body_markings/construct_plating.dmi
  icons/roguetown/mob/bodies/m/mcom.dmi
  roguetown.dme
Labels: Code, Sprite

#3151 new hair, Sabitsuki Ponytail
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  code/modules/mob/living/carbon/human/npc/deranged_knight.dm
  code/modules/mob/living/carbon/human/npc/drow.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Code, Sprite

#3137 condenses 1 hour of attempts into a new antag that does nothing
  code/__DEFINES/role_preferences.dm
  code/modules/antagonists/roguetown/villain/chosen.dm
  roguetown.dme
Labels: Code, TESTMERGED

#3257 [TM FIRST] Spider Dance: Adds Abandoned Hotsprings Inn
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/hotspring/hotspring.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
Labels: Mapping, Code, TESTMERGED

#3221 Avenging Spirits(NECRA T2) - Commission
  code/datums/ai/controllers/spirit_vengeance.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/mob/living/simple_animal/hostile/spirit_vengeance.dm
  icons/mob/actions/necramiracles.dmi
  modular_azurepeak/code/modules/spells/pantheon/divine/necra.dm
  modular_hearthstone/icons/mob/spirit_vengeance.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Sprite
