Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2025-01, with the labels that each got.

#1122 Malum Miracles
  code/__DEFINES/roguetown.dm
  code/__DEFINES/traits.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/spells/roguetown/acolyte/malum.dm
  roguetown.dme
Labels: Balance

#1101 Psydonian Reflavoring - Alters the names-and-descriptions of Onutsio's Inquisitorial garbs, adds the 'ITEM_SLOT_SHIRT' flag to its tabards, and so-on.
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/neck.dm
Labels: Mapping

#1139 Malum miracles bugfix
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1133 Templar Armor Balancejak
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1121 Templar Monk gets armor, katar and steel bracers
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1097 microdosing debloat: ports item_equipped_movement_rustle from tg and uses it to clean up armor rustles, ports collars
  _maps/templates/smalldungeons.dm
  code/__DEFINES/sound.dm
  code/game/objects/items/rogueitems/bells.dm
  code/game/sound.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/cargo/packsrogue/Brigand.dm
  code/modules/cargo/packsrogue/Knight.dm
  code/modules/cargo/packsrogue/Sellsword.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/items/misc.dmi
  modular_azurepeak/code/datums/item_equipped_movement_rustle.dm
  modular_azurepeak/code/datums/loadout.dm
  roguetown.dme
  sound/items/credits.txt
  sound/items/jinglebell1.ogg
  sound/items/jinglebell2.ogg
  sound/items/jinglebell3.ogg
  sound/items/jinglebell4.ogg
Labels: Mapping, Balance, Spriting

#1096 Makes a particular Keep door ridethrough (for mounts)
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1104 New inquisitor armor
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Balance, Spriting

#1143 quick fixes some broken paths
  _maps/map_files/dun_manor/smallforest.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/game/objects/items/rogueitems/bait.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/whitecheesemaker.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
  code/modules/roguetown/roguestock/import.dm
Labels: Mapping, Balance

#1145 ung - garrison scom updated for post debloat
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  code/modules/roguetown/roguemachine/scomm.dm
  sound/misc/garrisonscom.ogg
Labels: Mapping, Balance

#1132 Garrison barracks overhaul + armory keys
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
Labels: Mapping

#1153 Gives templar monks armored pants
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1172 Fixes keep gatehouse grilles
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1174 Nerfs RG into unplayability(real, not bait)
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1177 (Mapfix) Fixes void tile in garrison cell
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1144 Remaps steward
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1150 Makes Physician mask work vs miasma, adds 3 masks to map
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
  code/modules/reagents/chemistry/reagents/roguetown.dm
Labels: Mapping, Balance

#1210 fixes tavern staff door having wrong lockid
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1209 Steward re-remap (minor)
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1182 Gives the zurch key to hymnist Zizo followers.
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
Labels: Balance

#1213 Oversight Fix | Adds herbal soaps
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1168 Rearranges Steppe's starting equipment.
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
Labels: Balance

#1216 fixes goblin heavy leather sprites
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/pants.dmi
Labels: Spriting

#1084 Adds Two Archetypes to Inquisitor
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
Labels: Balance

#1135 Merc stable
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueitems/keys.dm
Labels: Mapping

#1229 Ports Tutor's Calling for Archivist from RW
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Balance

#1230 Changes Tutor's Calling to exclude arcane, include more skills
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Balance

#1151 Reworks (buffs) Orthodoxist Disciple. Adds Otavan Brute Archetype
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
Labels: Balance

#1249 Fixes Nadeli Orthos lacking an inquisition key
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
Labels: Balance

#1237 Inn glow-up
  _maps/dun_manor.json
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/area/roguetownareas.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/roguetown/musicbox.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/peasants/knavewench.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/roguetown/roguemachine/vendor.dm
  sound/music/jukeboxes/gen/tavern1.ogg
  sound/music/jukeboxes/gen/tavern2.ogg
  sound/music/jukeboxes/gen/tavern3.ogg
  sound/music/jukeboxes/otherworld/ac-balthasar.ogg
  sound/music/jukeboxes/otherworld/ac-ler.ogg
  sound/music/jukeboxes/otherworld/ac-lol.ogg
  sound/music/jukeboxes/otherworld/acn-wos.ogg
  sound/music/jukeboxes/otherworld/av_solar.ogg
  sound/music/jukeboxes/otherworld/dead_windmills.ogg
  sound/music/jukeboxes/otherworld/fb-sofutile.ogg
  sound/music/jukeboxes/otherworld/in_heaven_eif.ogg
  sound/music/jukeboxes/otherworld/jazznocn.ogg
  sound/music/jukeboxes/otherworld/mr_doubt.ogg
  sound/music/jukeboxes/otherworld/vivalaluna-damla.ogg
Labels: Mapping, Balance

#1238 Reliquary Box, DAYBREAK silver whip. Inquisition DLC part 2
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueitems/inquisitionrelics.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  icons/roguetown/weapons/32.dmi
Labels: Mapping, Balance, Spriting

#1163 Add Fishing Spear(s)
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#1252 removes 5th z level
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1256 quick inn patches
  _maps/dun_manor.json
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1245 Adds two new hoods to loadout and tailor crafting
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
  modular_azurepeak/code/datums/loadout.dm
Labels: Spriting

#1176 Blade Dancer is no longer meta (No more master skill fragging)
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
Labels: Balance

#1241 Allows you to flip half cloaks (and rider cloak)
  code/modules/clothing/rogueclothes/cloaks.dm
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
Labels: Spriting

#1265 Port WW sprites
  icons/roguetown/mob/monster/werewolf.dmi
Labels: Spriting

#1175 Hoardmaster additions + Sawbones buff
  code/modules/cargo/packsrogue/Brigand.dm
  code/modules/cargo/packsrogue/Knave.dm
  code/modules/cargo/packsrogue/Knight.dm
  code/modules/cargo/packsrogue/Sawbones.dm
  code/modules/cargo/packsrogue/Sellsword.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
Labels: Balance

#1267 Allows Jester to make animal noises
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
Labels: Balance

#1268 [PORT] Tarkov Inventory
  code/__HELPERS/_lists.dm
  code/_onclick/hud/mouseover.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem.dm
  code/datums/components/storage/storage.dm
  code/datums/components/storage/storage_types.dm
  code/datums/outfit.dm
  code/game/objects/items.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/rogueitems/bags.dm
  code/game/objects/items/rogueitems/bait.dm
  code/game/objects/items/rogueitems/coins.dm
  code/game/objects/items/rogueitems/flintsparker.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/items/rogueitems/magic.dm
  code/game/objects/items/rogueitems/natural.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/items/rogueitems/needle.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/storage/new_storage/tetris.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/items/weaponry.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/under/_under.dm
  code/modules/farming/bin.dm
  code/modules/food_and_drinks/food.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/library/book.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/cook/tools/pan.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
  code/modules/roguetown/roguejobs/gravedigger/tools.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  code/modules/roguetown/roguejobs/miner/tools.dm
  code/modules/roguetown/roguemachine/mail.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/surgery_tools_rogue.dm
  icons/hud/storage.dmi
  modular_hearthstone/code/game/objects/items/signal_horn.dm
  roguetown.dme
Labels: Spriting

#1275 sprite port
  code/game/objects/items/rogueitems/instruments.dm
  code/game/objects/items/rogueitems/natural/animals.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificer.dm
  code/modules/mob/living/simple_animal/rogue/farm/chicken.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/fisher/leeches.dm
  code/modules/roguetown/roguejobs/fisher/worms.dm
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/clothing/shirts.dmi
  icons/roguetown/items/natural.dmi
  icons/roguetown/misc/crops.dmi
  icons/roguetown/misc/structure.dmi
  icons/roguetown/misc/tables.dmi
  icons/roguetown/misc/try6.png
  icons/roguetown/mob/monster/chicken.dmi
  icons/turf/roguefloor.dmi
  modular/Mapping/icons/Mapping_aides.dm
Labels: Balance, Spriting

#1276 Re-adds "you almost hear something" spam removal
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/mob/mob.dm
  icons/roguetown/items/produce.dmi
Labels: Spriting

#1278 Adds eora buds spawning on uncovered heads, plus buffs eora masks
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  icons/roguetown/clothing/onmob/head_items.dmi
Labels: Spriting

#1282 sprite port part 2
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/mob/living/simple_animal/rogue/creacher/volf.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_shirts.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_shirts_royalty.dmi
  icons/roguetown/clothing/onmob/shirts_royalty.dmi
  icons/roguetown/clothing/onmob/wrists.dmi
  icons/roguetown/clothing/shirts_royalty.dmi
  icons/roguetown/clothing/wrists.dmi
  icons/roguetown/items/natural.dmi
Labels: Balance, Spriting

#1283 grids and sprite fixes
  code/game/objects/items/rogueitems/books.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/game/objects/items/rogueitems/ropechainbola.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/structures/beds_chairs/roguechair.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificer.dm
  code/modules/roguetown/roguecrafting/items.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Balance, Spriting

#1295 bugfixes for artificer robes, stash additions, and golden spectacles mapped in
  _maps/map_files/dun_manor/dun_manor.dmm
  code/_globalvars/special_traits.dm
  code/modules/clothing/rogueclothes/shirts.dm
Labels: Mapping

#1298 poppy sprite
  icons/roguetown/items/produce.dmi
Labels: Spriting

#1307 stuff 4 dakken (weaponry)
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
Labels: Spriting

#1302 Blood Daemon Dungeon
  _maps/map_files/dun_manor/azure_coast.dmm
Labels: Mapping

#1296 makes otavan brute more in-line in power (read: buff) with scholar
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
Labels: Balance

#1306 Towner houses
  _maps/map_files/dun_manor/dun_manor.dmm
  code/controllers/subsystem/rogue/role_class_handler/class_register.dm
  code/controllers/subsystem/rogue/role_class_handler/class_select_handler/class_select_handler.dm
  code/controllers/subsystem/rogue/role_class_handler/role_class_handler.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/mineral_doors.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  roguetown.dme
Labels: Mapping

#1319 quick town house door fix
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1323 inv grid fix and tweaks
  code/game/objects/items/rogueitems/books.dm
  code/game/objects/items/rogueitems/natural.dm
  code/game/objects/items/rogueitems/natural/animals.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/crusader.dm
  code/modules/mob/living/simple_animal/hostile/roguetown/smallrat.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguejobs/blacksmith/items.dm
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  modular/Neu_Food/code/NeuFood.dm
  modular_azurepeak/code/game/objects/items/mundanities.dm
  modular_azurepeak/code/game/objects/items/spellbooks.dm
Labels: Balance, Spriting

#1324 Tweaks fem moth sprite
  icons/mob/species/moth_f.dmi
Labels: Spriting

#1320 Fixes | Stewardry Oversights
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1321 Fixes west gatehouse staircase
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping
