Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2025-05, with the labels that each got.

#2229 Fixes the leech immune trait
  code/game/turfs/open/water.dm
Labels: Code

#2230 fixes animal noise preference
  code/datums/emotes.dm
  code/game/sound.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/emote.dm
Labels: Code

#2223 Small skill oversight fix
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Code, Balance

#2235 [FIX]: Fixes polishing tools being massive and infinite integrity exploit
  code/modules/roguetown/roguejobs/blacksmith/items.dm
Labels: Code

#2149 Executioner Sword Improvement + Sabre Adjustment (Also OCD Fix)
  code/game/objects/items/rogueweapons/melee/swords.dm
Labels: Code

#2177 Power in Faith (And Pugilism) - Addition of the "Expert Pugilist" trait, alongside some minor rebalancing, to most "Monk" classes.
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
Labels: Code, Balance

#2189 [VIRTUE]: Failed Squires will no longer be failures™
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  modular_azurepeak/virtues/utility.dm
Labels: Code

#2225 Adds a swing delay to warhammer pick
  code/game/objects/items/rogueweapons/melee/blunt.dm
Labels: Code

#2242 Revert "[IMMERSION]: Rain now takes a few seconds to soak you"
  code/datums/particle_weathers/datum_types/rain.dm
Labels: Code

#2198 Minor Dungeon and Other Map Updates
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping

#2224 Spell-check of a few new status effects + makes the mending spell play an immersive sound
  code/modules/spells/spell_types/wizard/buffs_debuffs/giants_strength.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/hawks_eyes.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/stoneskin.dm
  code/modules/spells/spell_types/wizard/utility/mending.dm
Labels: Code

#2239 Don't Go Wandering In Them Woods: Ports pine trees, werewolf & carpet sprites
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/modules/mob/living/simple_animal/hostile/roguetown/werewolf/update_icons.dm
  code/modules/mob/living/simple_animal/hostile/roguetown/werewolf/werewolf.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  icons/obj/flora/ausflora.dmi
  icons/obj/flora/pines.dmi
  icons/obj/flora/pinetrees.dmi
  icons/roguetown/items/ore.dmi
  icons/roguetown/misc/64x64.dmi
  icons/roguetown/mob/monster/werewolf.dmi
Labels: Mapping, Code, Sprite

#2243 Touches Preferences population to handle unset extra language runtime
  code/modules/client/preferences.dm
Labels: Code

#2238 (Ratwood Port) - The Chiseling w/ Minor Changes
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/rogueitems/ceramics.dm
  code/game/objects/items/rogueitems/natural.dm
  code/game/objects/items/rogueitems/natural/brick.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/game/objects/items/rogueitems/natural/glass.dm
  code/game/objects/items/rogueitems/natural/stones.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/structures/roguewindow.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/carpenter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificer.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/roguetown/roguecrafting/ceramics.dm
  code/modules/roguetown/roguecrafting/turfs.dm
  code/modules/roguetown/roguejobs/artificer/handsaw_chisel.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/grindwheel.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/ceramicist/clay.dm
  code/modules/roguetown/roguejobs/ceramicist/items.dm
  code/modules/roguetown/roguestock/import.dm
  icons/mob/roguehud.dmi
  icons/roguetown/items/cooking.dmi
  icons/roguetown/items/crafting.dmi
  icons/roguetown/misc/structure.dmi
  icons/roguetown/weapons/tools.dmi
  roguetown.dme
  sound/foley/brickdrop.ogg
  sound/foley/glass_clatter.ogg
  sound/foley/glassbreak.ogg
  sound/foley/sawing.ogg
  sound/foley/stone_scrape.ogg
  sound/foley/wood_cutting.ogg
Labels: Mapping, Code, Balance, Sprite, Sound

#2246 fixes whetstone recipe again
  code/game/objects/items/rogueitems/natural.dm
  code/game/objects/items/rogueitems/natural/stones.dm
  code/game/objects/items/rogueweapons/integrity.dm
  code/modules/roguetown/roguecrafting/items.dm
Labels: Code

#2241 Removes blade dulling from parry damage
  code/modules/mob/living/roguetownprocs.dm
Labels: Code

#2240 Adds Dodge control and a chance to take parry damage for dodge users
  code/modules/mob/living/roguetownprocs.dm
  sound/misc/weapon_clip.ogg
Labels: Code, Sound

#2244 Duelist's Mask
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  modular_azurepeak/code/datums/loadout.dm
Labels: Code, Balance, Sprite

#2248 fixes template hammer
  _maps/templates/sewers.dm
  _maps/templates/smalldungeons.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/trader.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grudgebearer.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
  modular_azurepeak/virtues/utility.dm
Labels: Mapping, Code, Balance

#2250 Fixes hammers in dmm files
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_manor/smalldecap.dmm
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/roguetest/roguetest.dmm
  _maps/map_files/templates/sewers/sewers_bottomleft_2.dmm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lcarp.dm
Labels: Mapping, Code, Balance

#2249 Fixes multi-z checks
  code/modules/mapping/space_management/traits.dm
Labels: Code

#2245 probably fixes simplemob's busted ass melee cooldowns
  code/datums/ai/behaviors/hostile/melee_attack.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/simple_skeleton.dm
  code/modules/mob/living/simple_animal/rogue/creacher/bigrat.dm
  code/modules/mob/living/simple_animal/rogue/creacher/honeyspider.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mossback.dm
  code/modules/mob/living/simple_animal/rogue/creacher/troll.dm
  code/modules/mob/living/simple_animal/rogue/creacher/trollbog.dm
  code/modules/mob/living/simple_animal/rogue/creacher/volf.dm
  code/modules/mob/living/simple_animal/rogue/rogueanimals.dm
Labels: Code, TESTMERGED

#2233 Cavalryman Saiga
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
Labels: Code, Balance

#2256 Revert "Removes blade dulling from parry damage"
  code/modules/mob/living/roguetownprocs.dm
Labels: Code

#2257 Peel can no longer crit
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
Labels: Code

#2162 Deadite Ambushes + NPC Deadites will attempt to Auto-Bite nearby people.
  code/game/area/roguetownareas.dm
  code/modules/antagonists/roguetown/villain/zombie/zombie.dm
  code/modules/mob/living/carbon/human/npc/deadite.dm
Labels: Code, TESTMERGED

#2089 Keep Your Crossbow By Your Side (Bow/Crossbow Rebalance)
  code/datums/components/bane.dm
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/game/objects/items/rogueweapons/ranged/bows.dm
  code/game/objects/items/rogueweapons/ranged/crossbows.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/cargo/packsrogue/Knave.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/projectile.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/ammo.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Balance, Sprite

#2252 Pestran Acolyte Outfit Update, Lynx Parts, Tabaxi Tongue & Harlequin Markings!
  code/__DEFINES/say.dm
  code/modules/client/asset_cache.dm
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/language/roguetown/felid.dm
  code/modules/mob/dead/new_player/body_markings/body_markings.dm
  code/modules/mob/dead/new_player/sprite_accessory/ears.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/surgery/organs/tongue.dm
  icons/mob/body_markings/plain_markings.dmi
  icons/mob/sprite_accessory/ears/ears.dmi
  icons/mob/sprite_accessory/tails/tails.dmi
  interface/fonts/languages/felid.ttf
  interface/stylesheet.dm
  roguetown.dme
Labels: Code, Balance, Sprite

#2151 Merge guardsman & knightsman buff - tweaks to orders, guardsman for a…
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/area/roguetownareas.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/roguetown/roguemachine/scomm.dm
Labels: Code, Balance

#2258 Repath millstone, makes it placeable on table and an item
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_manor/smalldecap.dmm
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/rockhill/rockhill.dmm
  _maps/map_files/roguetest/roguetest.dmm
  code/modules/farming/crafting_recipes.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/cook/tools/grinding.dm
Labels: Mapping, Code

#2265 Fixes De-Rot Surgery Debuffs
  code/modules/surgery/surgeries_hearth/cure_rot.dm
Labels: Code

#2266 Wooden Mallet Crafting + Log Fix
  code/game/objects/items/rogueitems/natural/wood.dm
  code/modules/roguetown/roguecrafting/items.dm
Labels: Code

#2268 Fixes AI processing their charflaws
  code/modules/mob/living/carbon/human/life.dm
Labels: Code

#2259 A few tweaks to the Polishing system, including shiny armor
  code/modules/roguetown/roguejobs/blacksmith/items.dm
  modular_azurepeak/virtues/utility.dm
Labels: Code

#2270 Add Tracking Skill dream messages
  code/datums/skills/misc.dm
Labels: Code

#2251 Ratwood Port - Fishing Cages & Stuffs
  code/__HELPERS/fishing_hunting.dm
  code/__HELPERS/skills.dm
  code/game/objects/items/rogueitems/fishing_cage.dm
  code/game/objects/items/rogueitems/gems.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/fisher/fish.dm
  code/modules/roguetown/roguejobs/fisher/leeches.dm
  code/modules/roguetown/roguejobs/fisher/worms.dm
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/items/gems.dmi
  icons/roguetown/items/misc.dmi
  icons/roguetown/misc/fish.dmi
  modular/Neu_Food/code/cooked/NeuFood_pies.dm
  modular/Neu_Food/code/cooked/NeuFood_seafood.dm
  modular/Neu_Food/code/cooked/NeuFood_snacks.dm
  modular/Neu_Food/code/raw/NeuFood_meat.dm
  modular/Neu_Food/icons/food.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Balance, Sprite

#2262 Remove felid & canilunzt language
  code/__DEFINES/say.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/asset_cache.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/language/roguetown/felid.dm
  code/modules/language/roguetown/grenzelhoftian.dm
  code/modules/language/roguetown/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/surgery/organs/tongue.dm
  goon/browserassets/css/browserOutput.css
  interface/fonts/languages/felid.ttf
  interface/fonts/languages/grenzelhoftian.ttf
  interface/stylesheet.dm
  modular_azurepeak/virtues/utility.dm
  roguetown.dme
Labels: Code, Balance

#2276 fixes ambushes
  code/modules/mob/living/ambush.dm
Labels: Code

#2278 Misc. Bug Fixes and Sanity Checks
  code/game/objects/items/rogueitems/ropechainbola.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/mob/living/carbon/human/human_topic.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Code

#2273 Actions 1 - 6 Hotkeys. Atomized edition
  code/_onclick/hud/action_button.dm
  code/datums/keybinding/carbon.dm
Labels: Code

#2271 adds magic staffs as a source of cast time reduction
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/spells/spell.dm
  modular_azurepeak/code/game/objects/items/magic_staffs.dm
  modular_azurepeak/icons/obj/items/staffs.dmi
  roguetown.dme
Labels: Code, Balance

#2200 Assorted Knight/KC changes
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Mapping, Code, Balance

#2247 The south district expansion, and the upper docks polishing
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping, TESTMERGED

#2254 a very HEARTFELT PR
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/datums/migrants/migrant_waves/heartfelt wave.dm
Labels: Code

#2280 Fixes Fur Crafting Issue
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/weaving.dm
Labels: Code

#2277 makes the naledi warstaff great again
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Code

#2281 cleans up mage staffs :3c
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/spells/spell.dm
  modular_azurepeak/code/game/objects/items/magic_staffs.dm
Labels: Code, Balance

#2285 Small town patches pack
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2286 Fix clam sprite
  code/modules/roguetown/roguejobs/fisher/fish.dm
Labels: Code

#2287 Fix mending destroying armor, fix insta needle repair
  code/game/objects/items/rogueitems/needle.dm
  code/game/objects/obj_defense.dm
  code/modules/spells/spell_types/wizard/utility/mending.dm
Labels: Code

#2284 New psicross sprites
  code/modules/clothing/rogueclothes/neck.dm
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/onmob/wrists.dmi
Labels: Code, Sprite

#2289 Well transfer 200 units
  code/game/objects/structures/well.dm
Labels: Code

#2288 Makes alchemical vial small, repath to reduce repeated code
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_manor/smalldecap.dmm
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/roguetest/roguetest.dmm
  code/game/objects/effects/spawners/roguemapgen.dm
  code/modules/cargo/packsrogue/tools.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_items.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
  modular_azurepeak/code/modules/alchemy/alchemy_recipes.dm
  modular_azurepeak/code/modules/reagents/reagent_containers/spider_venom.dm
Labels: Mapping, Code, Balance

#2282 Cuts out excess crownstones, roles that should get crownstones now simply spawn with them
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
Labels: Mapping, Code, Balance

#2292 Vanderlin Copper, Bronze, Tin & Others Ports
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/roguetest/roguetest.dmm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/farming/tools.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/cook/tools/pot.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  code/modules/roguetown/roguejobs/miner/tools.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/onmob/wrists.dmi
  icons/roguetown/clothing/wrists.dmi
  icons/roguetown/items/lighting.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
  icons/roguetown/weapons/tools.dmi
  modular/Neu_Food/code/NeuFood.dm
  modular/Neu_Food/icons/cooking.dmi
Labels: Mapping, Code, Balance, Sprite

#2295 Fixes painting duplication
  code/game/objects/items/rogueitems/painting.dm
Labels: Code

#2296 Fix crab not being butcherable
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/roguetown/roguejobs/fisher/fish.dm
Labels: Code

#2299 Carpenter get a handsaw
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/carpenter.dm
Labels: Code, Balance

#2302 Fix | Court Mage doors
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2226 Reworks Blunt Damage, Adds Mordhau Grip
  code/__DEFINES/combat.dm
  code/__HELPERS/type2type.dm
  code/_onclick/item_attack.dm
  code/datums/status_effects/rogue/debuff.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/rogueweapon.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/jobs/job_types/roguetown/church/martyr.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grudgebearer.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  icons/mob/roguehud.dmi
  icons/mob/screen_alert.dmi
  icons/roguetown/misc/shafts.dmi
  sound/combat/hits/blunt/daze_hit.ogg
Labels: Code, TESTMERGED, Balance, Sprite, Sound

#2260 Revert "Revert polearm durability changes"
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Code

#2303 Adds dostrip overload for bandit coins, ashes them on non-bandit strip
  code/modules/roguetown/roguemachine/scomm.dm
Labels: Code

#2304 fixes pinning ignoring breaking out
  code/modules/mob/living/grabbing.dm
Labels: Code

#2308 Fix quarterstaff sprites
  icons/roguetown/weapons/64.dmi
Labels: Sprite

#2313 Onmobs for longcoat and strapless alt for f
  icons/roguetown/clothing/onmob/armor.dmi
  modular_hearthstone/icons/obj/items/clothes/on_mob/dress.dmi
Labels: Sprite

#2314 Rename cackleberry to egg, "powder" to flour, "powder" to "ozium"
  code/modules/reagents/reagent_containers/powderspice.dm
  modular/Neu_Farming/code/eggs.dm
  modular/Neu_Food/code/NeuFood.dm
  modular/Neu_Food/code/cooked/NeuFood_snacks.dm
  modular/Neu_Food/code/raw/NeuFood_dough.dm
Labels: Code

#2316 Fix Rhomphaia sprite
  icons/roguetown/weapons/64.dmi
Labels: Sprite

#2297 Rebalances personal granary
  code/game/objects/items/rogueitems/bags.dm
  modular_azurepeak/virtues/utility.dm
Labels: Code, Balance

#2267 Mage Follow up PR - Balancejak
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/guidance.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/hawks_eyes.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/stoneskin.dm
  code/modules/spells/spell_types/wizard/projectiles_single/arcyne_bolt.dm
  code/modules/spells/spell_types/wizard/projectiles_single/guided_bolt.dm
  code/modules/spells/spell_types/wizard/projectiles_single/spitfire.dm
Labels: Code, TESTMERGED, Balance

#2305 Removes smash from warhammer
  code/game/objects/items/rogueweapons/melee/blunt.dm
Labels: Code, Balance

#2275 Hand creep, dtace/rapier for all
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
Labels: Code, Balance

#2307 Battlemaster Customization Options
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
Labels: Code, Balance

#2312 Add word descriptor to show a weapon's force in game
  code/game/objects/items.dm
  code/game/objects/items/soap.dm
Labels: Code

#2298 Double efficiency of iron and steel javelin recipe
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
Labels: Code, Balance

#2318 Adds a conjured shaft to conjured weapons
  code/__DEFINES/combat.dm
  code/_onclick/item_attack.dm
  code/game/objects/items/rogueweapons/rogueweapon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_weapon.dm
Labels: Code, Balance

#2321 Fixes a missing blunt override, adds blunt define
  code/__DEFINES/combat.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/living_defense.dm
Labels: Bug, Code

#2272 Bog spider cave boogy tyme
  _maps/map_files/dun_world/dun_world.dmm
  icons/roguetown/weapons/64.dmi
  modular_azurepeak/code/game/objects/items/random_loot.dm
  modular_azurepeak/code/game/objects/weapons/axes.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/mirespiders.dm
  roguetown.dme
Labels: Mapping, Feature, Sprite, MERGE CONFLICT

#2323 I hate this codebase (Arcyne Bolt + Guided Bolt + Spells Accuracy Fix)
  code/modules/projectiles/projectile.dm
  code/modules/spells/roguetown/_roguetown.dm
  code/modules/spells/spell_types/wizard/projectiles_single/arcyne_bolt.dm
  code/modules/spells/spell_types/wizard/projectiles_single/guided_bolt.dm
Labels: Code

#2326 greyscales da longcoat
  code/modules/clothing/rogueclothes/armor.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
Labels: Code, Sprite

#2327 Fixes reagents runtime
  code/modules/mob/living/carbon/rogfatstam.dm
Labels: Code

#2331 Fixes shield hit runtime by mob or non-item
  code/game/objects/items/rogueweapons/shields.dm
Labels: Code

#2324 Stockpile & Stewardry Categories + Default to Compact
  code/modules/roguetown/roguemachine/steward/steward.dm
  code/modules/roguetown/roguemachine/stockpile/stockpile.dm
  code/modules/roguetown/roguemachine/stockpile/withdraw_tab.dm
  code/modules/roguetown/roguestock/_roguestock.dm
  code/modules/roguetown/roguestock/stockpile_food.dm
  code/modules/roguetown/roguestock/stockpile_rawmat.dm
  roguetown.dme
Labels: Code Maintenance, Code, TESTMERGED

#2332 Gundu'Zirak fixes and changes
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/mob/living/carbon/human/npc/dwarfskeleton.dm
  code/modules/mob/living/carbon/human/npc/zizoconstruct.dm
  strings/rt/dskeletonaggrolines.txt
  strings/rt/zconstructaggrolines.txt
Labels: Mapping, Code

#2335 Gives iron and steel quarterstaff reinforced shaft + fix recipe
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/roguetown/roguecrafting/items.dm
Labels: Code

#2336 Proper 2hand check for force
  code/game/objects/items.dm
Labels: Code

#2337 Insane zweihander buff
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Code

#2334 Change amount per gulp to 5 on default, use that for gulping, change …
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_items.dm
Labels: Code

#2338 Gives greatswords metal shafts
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Code, Balance

#2342 Crazy spellsinger buff
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/64x64/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
Labels: Code, Balance, Sprite

#2329 [CONTENT] Add Coffee. Resprite for Rice. Rice & stuffs to stockpile / seeds
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/roguetest/roguetest.dmm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/farming/crafting_recipes.dm
  code/modules/farming/plant_def.dm
  code/modules/farming/produce.dm
  code/modules/farming/seeds.dm
  code/modules/roguetown/roguecrafting/alchemy/reagents.dm
  code/modules/roguetown/roguestock/stockpile_food.dm
  icons/roguetown/items/produce.dmi
  icons/roguetown/misc/crops.dmi
  modular/Neu_Food/code/NeuFood.dm
  modular/Neu_Food/code/drinks/drinks_reagents.dm
  modular/Neu_Food/code/drinks/tea_coffee_drinks.dm
  modular/Neu_Food/code/recipes/stew_recipes.dm
  modular/Neu_Food/icons/drinks.dmi
  roguetown.dme
Labels: Mapping, Code, TESTMERGED, Feature, Sprite

#2348 stops floating cloth sprite onhip
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
Labels: Code

#2346 Add silk to stockpile
  code/modules/roguetown/roguestock/stockpile_rawmat.dm
Labels: Code

#2328 Dirty Dungeons Done Dirt Cheap: some quick and dirty POIs for the grove
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/roguetownareas.dm
Labels: Mapping, Code

#2343 Swapped Adv Templar Tabard
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
Labels: Code, Balance

#2347 Map: Hermes and cheesemaker window
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2345 Crab cake made by butterdough slice. Crab now give crab meat.
  code/modules/roguetown/roguejobs/fisher/fish.dm
  modular/Neu_Food/code/cooked/NeuFood_pies.dm
Labels: Code

#2350 Adds leechimmune trait to goblin and orc npcs
  code/modules/mob/living/carbon/human/npc/goblin.dm
  code/modules/mob/living/carbon/human/npc/orc.dm
Labels: Code

#2294 implements slapcrafting as a component, refactors a bunch of shit to support it plus precursors for future refactors
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/components.dm
  code/__DEFINES/dcs/helpers.dm
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/__DEFINES/dcs/signals_atoms/signals_atom.dm
  code/__DEFINES/qdel.dm
  code/__DEFINES/traits.dm
  code/_globalvars/lists/objects.dm
  code/controllers/subsystem/dcs.dm
  code/datums/components/_component.dm
  code/datums/components/construction.dm
  code/datums/components/crafting/recipes.dm
  code/datums/components/rotation.dm
  code/datums/components/storage/storage_types.dm
  code/datums/elements/_element.dm
  code/datums/elements/digitalcamo.dm
  code/datums/elements/earhealing.dm
  code/datums/elements/firestacker.dm
  code/datums/elements/snail_crawl.dm
  code/game/objects/items/rogueitems/gems.dm
  code/game/objects/items/rogueitems/natural/animals.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/structures/crates_lockers/roguetown.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/statues.dm
  code/game/turfs/change_turf.dm
  code/modules/admin/view_variables/topic_basic.dm
  code/modules/cargo/packsrogue/Mage.dm
  code/modules/clothing/rogueclothes/rings.dm
  code/modules/jobs/job_types/roguetown/church/martyr.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguestock/bounties.dm
  modular_azurepeak/code/datums/slapcrafting.dm
  modular_azurepeak/code/game/objects/items/magic_staffs.dm
  modular_azurepeak/code/game/objects/items/spellbooks.dm
  roguetown.dme
Labels: Code Maintenance, Mapping, Code, Balance, Sprite, ENDVRE

#2351 mapper wrongs activist
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2341 Wretch Subclass: Hedge Mage + 9 Points Stat Adjustment + More Customizable Bounty
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
Labels: Code, Balance

#2311 Various colour-related changes
  code/__HELPERS/lordcolor.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/carpenter.dm
  code/modules/jobs/job_types/roguetown/yeomen/tailor.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/tailor/dyer.dm
  icons/roguetown/items/misc.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/heater_heraldry.dmi
  icons/roguetown/weapons/shield_heraldry.dmi
  icons/roguetown/weapons/wood_heraldry.dmi
  modular_azurepeak/code/game/objects/items/donator_fluff_items.dm
Labels: Code, TESTMERGED, Feature, Balance, Sprite

#2356 fixes missing prayer verbs for Heretic Wretch
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
Labels: Code, Balance

#2357 Bug fixes
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/roguetown/roguestock/bounties.dm
Labels: Code, Balance

#2355 Refactor & Redo gesture required. Readd to projectile / offensive spells, prevent selection
  code/modules/spells/roguetown/_roguetown.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/wizard/invoked_aoe/aerosolize.dm
  code/modules/spells/spell_types/wizard/invoked_aoe/ensnare.dm
  code/modules/spells/spell_types/wizard/invoked_aoe/repulse.dm
  code/modules/spells/spell_types/wizard/invoked_single_target/frostbite.dm
  code/modules/spells/spell_types/wizard/invoked_single_target/gravity.dm
  code/modules/spells/spell_types/wizard/misc/magicians_brick.dm
  code/modules/spells/spell_types/wizard/misc/shadowstep.dm
Labels: Code

#2360 Typos and Cmusic
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
Labels: Code, Balance

#2361 Redo quarterstaff intents, give int damage to metal quarterstaff
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Code

#2358 Refactors devotion
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/gods/_patron.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/datums/gods/patrons/old_god.dm
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/Iconoclast.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/crusader.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/excommunicado.dm
  modular_azurepeak/virtues/combat.dm
Labels: Code Maintenance, Code, TESTMERGED

#2353 Acid Splash Speed Change (non-lbolt PR edition)
  code/modules/spells/spell_types/wizard/projectiles_single/acid_splash.dm
Labels: Code, Balance

#2371 Don't attempt to show hover over text for qdel'd turf/mob/atoms
  code/_onclick/hud/mouseover.dm
Labels: Code

#2374 Safe access to loc for fall runtime
  code/modules/mob/living/carbon/carbon.dm
Labels: Code

#2375 Fixes yield runtime and calls update_mobility to fix clumsy hands
  code/game/atoms.dm
  code/modules/mob/living/living.dm
Labels: Code

#2370 Nuke defdrain and set base parry stamina drain to 5
  code/modules/mob/living/carbon/human/npc/zizoconstruct.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/mob/living/simple_animal/hostile/deepone.dm
  code/modules/mob/living/simple_animal/hostile/roguetown/haunt.dm
  code/modules/mob/living/simple_animal/hostile/simple_skeleton.dm
  code/modules/mob/living/simple_animal/rogue/creacher/bigrat.dm
  code/modules/mob/living/simple_animal/rogue/creacher/cat.dm
  code/modules/mob/living/simple_animal/rogue/creacher/demon.dm
  code/modules/mob/living/simple_animal/rogue/creacher/direbear.dm
  code/modules/mob/living/simple_animal/rogue/creacher/dragger.dm
  code/modules/mob/living/simple_animal/rogue/creacher/fox.dm
  code/modules/mob/living/simple_animal/rogue/creacher/headless.dm
  code/modules/mob/living/simple_animal/rogue/creacher/honeyspider.dm
  code/modules/mob/living/simple_animal/rogue/creacher/lamia.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mole.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mossback.dm
  code/modules/mob/living/simple_animal/rogue/creacher/troll.dm
  code/modules/mob/living/simple_animal/rogue/creacher/trollbog.dm
  code/modules/mob/living/simple_animal/rogue/creacher/volf.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/dragon.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/minotaur.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/mirespiders.dm
  modular_hearthstone/code/modules/mob/living/simple_animal/rogue/orc.dm
Labels: Code

#2377 Fixes westleach zig recipe
  code/modules/farming/crafting_recipes.dm
Labels: Code

#2365 Admin tools improvements (with fixed stats panel) [Ratwood]
  code/modules/admin/admin.dm
  code/modules/admin/create_object.dm
  code/modules/admin/topic.dm
  html/create_object.html
Labels: Code, TESTMERGED

#2379 fix bookcase runtime
  code/modules/library/lib_items.dm
  code/modules/library/random_books.dm
Labels: Code

#2380 Fixes a peddler bug
  code/modules/roguetown/roguemachine/vendor.dm
Labels: Bug, Code

#2381 Astrata respects the dead's wishes
  code/modules/spells/roguetown/acolyte/astrata.dm
Labels: Code

#2384 Fixes the player panel not working on non-living mobs
  code/modules/admin/admin.dm
Labels: Code

#2378 Ports mannequins from Vanderlin
  code/game/objects/structures/mannequin.dm
  code/modules/roguetown/roguecrafting/structure.dm
  icons/obj/mannequin.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Feature, Sprite

#2385 Advanced Lessons in Unga - Barbarian Loadout Expansion
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
Labels: Code, Balance

#2363 Cuff tweaks (they're all more or less longer now)
  code/modules/mob/living/carbon/carbon.dm
  sound/misc/chain_snap.ogg
Labels: Code, TESTMERGED, Balance, Sound

#2376 Adds crownstone functionality into the crown
  code/controllers/subsystem/rogue/roguemachine.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/roguetown/roguemachine/scomm.dm
  modular_azurepeak/code/modules/clothing/rogueclothes/crown.dm
  roguetown.dme
Labels: Code, TESTMERGED, Feature, Balance

#2372 Alchemy cauldron only requires one bar of iron to make
  code/modules/roguetown/roguecrafting/structure.dm
Labels: Code, Balance

#2391 Oversight Fix | Mage associate keyring
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
Labels: Code, Balance

#2301 Thief 5: the Roguetown Age
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/candle.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/rogueitems/cup.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/game/objects/lighting/rogue_fires.dm
  code/game/objects/objs.dm
  code/game/turfs/open/water.dm
  code/modules/cargo/packsrogue/Knave.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
  icons/roguetown/items/lighting.dmi
  icons/roguetown/weapons/ammo.dmi
  modular/Neu_Food/code/NeuFood.dm
  modular/Neu_Food/icons/cooking.dmi
Labels: Mapping, Code, TESTMERGED, Feature, Balance, Sprite

#2392 Devotion fixes
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/datums/gods/patrons/old_god.dm
  modular_azurepeak/virtues/combat.dm
Labels: Bug, Code

#2373 Alchemy Tweaks
  code/datums/status_effects/status_effect.dm
  code/modules/cargo/packsrogue/food.dm
  code/modules/cargo/packsrogue/merchant/merchant_potions.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/roguetown/roguecrafting/alchemy/cauldron_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  code/modules/roguetown/roguecrafting/alchemy/potionbuffs.dm
  code/modules/roguetown/roguecrafting/alchemy/reagents.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
  code/modules/roguetown/roguemachine/merchant.dm
  roguetown.dme
Labels: Code, TESTMERGED, Balance

#2364 Outlawing
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/berserker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/hedgemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/outlaw.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/poacher.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  roguetown.dme
Labels: Code, Balance

#2395 Small Surgery Tweak
  code/modules/surgery/surgery_tools_rogue.dm
Labels: Code

#2362 Abrogation now stuns deadites
  modular_azurepeak/code/modules/spells/pantheon/divine/necra.dm
Labels: Balance

#2369 Drip and drown - Grenzel, Hierophant and Pontifex clothes buff + Leather / Sewing Recipe Renames
  code/modules/cargo/packsrogue/Sellsword.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificer.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/unit_tests/create_and_destroy.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/shirts.dmi
Labels: Code, Balance, Sprite

#2387 Priest Unique Knife (Requested Addition)
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Code, Balance

#2394 Looksmaxxing [Good Lover trait replaced with Beautiful for Eoran Acolytes]
  code/modules/jobs/job_types/roguetown/church/monk.dm
Labels: Code, Balance

#2388 [Eora Miracle]Lets Eoran Acolytes leash the devout.
  code/__DEFINES/components.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/spells/roguetown/acolyte/eora.dm
Labels: Code, TESTMERGED, Feature

#2393 Grants Diagnose to All Pestrans with Devotee
  code/datums/gods/patrons/divine_pantheon.dm
  modular_azurepeak/virtues/combat.dm
Labels: Code, Balance

#2402 Two Bugs, Helmets on Hips stopping drinking and Alchemy Mortar Drop
  code/modules/mob/inventory.dm
  code/modules/roguetown/roguecrafting/alchemy/mortarpestle.dm
  code/modules/surgery/surgery_helpers.dm
Labels: Code

#2400 Additional Ranger Class.
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
Labels: Code, Balance

#2390 Add the JAWBANK to the vault
  code/controllers/subsystem/rogue/treasury.dm
  code/modules/roguetown/roguemachine/vaultbank.dm
  icons/roguetown/misc/machines.dmi
  roguetown.dme
  sound/misc/drillhit.ogg
  sound/misc/jawbankanguish.ogg
  sound/misc/jawbankhit.ogg
Labels: Mapping, Code, Feature, Sprite, Sound

#2411 minor admin log update
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/roguewindow.dm
Labels: Code

#2412 [tm]logs
  code/game/objects/items/rogueitems/instruments.dm
Labels: Code, TESTMERGED

#2406 Vanderlin Port (?) - Recipe Books!!
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/rogueitems/books.dm
  code/modules/crafting/recipe_books/recipe_book.dm
  code/modules/crafting/recipe_books/recipe_books_list.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/trader.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/carpenter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/cheesemaker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/peasant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/potter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmason.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/seamstress.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/tbutcher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/witch.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificer.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/tailor.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/carpentry.dm
  code/modules/roguetown/roguecrafting/ceramics.dm
  code/modules/roguetown/roguecrafting/cooking.dm
  code/modules/roguetown/roguecrafting/engineering.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguecrafting/tallow.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  roguetown.dme
Labels: Code, TESTMERGED, Balance

#2396 Roguemedium Gamemode - Probably Works Edition
  code/game/gamemodes/roguetown/chaosmode.dm
  code/game/gamemodes/roguetown/roguelite.dm
  code/game/gamemodes/roguetown/roguemedium.dm
  roguetown.dme
Labels: Code, ENDVRE

#2419 fixes lockpicks being indestructible
  code/game/objects/inhands_rogue.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/keys.dm
Labels: Code

#2420 some smelting fixes
  code/game/objects/items/rogueweapons/melee/special.dm
Labels: Code

#2418 quiver dump + MAA recurve
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
Labels: Code, Balance

#2409 Fix psycross
  code/modules/clothing/rogueclothes/neck.dm
Labels: Code, Balance

#2423 Makes Horned Helmets Smelt & Require Iron Instead Of Steel
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
Labels: Code

#2417 Bumps Orcs and Sea Raiders down to iron gear
  code/modules/mob/living/carbon/human/npc/searaider.dm
  modular_hearthstone/code/modules/mob/living/simple_animal/rogue/rogue_corpse.dm
  strings/rt/names/human/vikingf.txt
  strings/rt/names/human/vikingm.txt
Labels: Code, TESTMERGED

#2410 [TM]fixes orbits
  code/datums/components/_component.dm
Labels: Code, TESTMERGED

#2397 Splits the armory in half
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/mannequin.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Mapping, Code, TESTMERGED, Balance
