Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2025-08, with the labels that each got.

#3280 Fixes stole sprite
  code/modules/clothing/rogueclothes/cloaks.dm
Labels: Code

#3278 FIX Witches. More balanced Zad-form of witch
  code/modules/spells/roguetown/vampire.dm
  code/modules/spells/spell_types/wizard/projectiles_single/arcyne_bolt.dm
Labels: Code, Balance

#3273 [Witchjak]I am tired of pretending this is okay...
  code/modules/spells/roguetown/vampire.dm
Labels: Code

#3276 standardises (throws off a cliff) chew / bite damage
  code/modules/mob/living/grabbing.dm
Labels: Balance

#3296 Orc mobs fixes
  code/modules/mob/living/carbon/human/npc/orc/orc.dm
Labels: Code

#3287 The Greyscalening + Adds Fancy Coat to loadout
  code/modules/clothing/rogueclothes/armor/gambeson.dm
  code/modules/clothing/rogueclothes/neck.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  modular_azurepeak/code/datums/loadout.dm
Labels: Code, Sprite

#3282 Normal Orc Crit Res removal + Super Easy Skeleton in the Basin
  code/game/area/roguetownareas.dm
  code/modules/mob/living/carbon/human/npc/orc/orc.dm
  code/modules/mob/living/carbon/human/npc/orc/orc_outfits.dm
  code/modules/mob/living/carbon/human/npc/skeleton/skeleton_outfits.dm
Labels: Code

#3303 "Refactors" rmb_intent attack chain, allowing guard to be used during click cd
  code/_onclick/click.dm
  code/_onclick/other_mobs.dm
  code/game/objects/items/rogueweapons/rmb_intents.dm
Labels: Code

#3242 New Pyromancy - Hellish Rebuke!
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/pyromaniac.dm
  code/modules/spells/roguetown/acolyte/noc.dm
  code/modules/spells/spell_types/wizard/invoked_single_target/hellishrebuke.dm
  code/modules/spells/spell_types/wizard/spell_list.dm
  icons/mob/actions/roguespells.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Balance, Sprite

#3308 Stones and Rock now scale to unarmed skills + slight rock buff
  code/game/objects/items/rogueitems/natural/stones.dm
Labels: Code

#3310 Add Scissor to Silverface, cut down most salvage exploit?
  code/modules/cargo/packsrogue/merchant/tools.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/pants/_pants.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/spells/spell_types/wizard/invoked_single_target/hellishrebuke.dm
Labels: Code

#3306 Ambush fixes & stuffs
  _maps/map_files/roguetest/roguetest.dmm
  code/game/area/actualcoast.dm
  code/game/area/areas.dm
  code/game/area/mountdecap.dm
  code/game/area/northcoast.dm
  code/game/area/roguetownareas.dm
  code/game/area/terrorbog.dm
  code/game/area/underdark.dm
  code/game/area/undergrove.dm
  code/game/area/woods.dm
  code/modules/mob/living/ambush.dm
Labels: Mapping, Code

#3220 Makes bandit injection open bandit slots instead of rolling antag wave
  code/modules/events/antagonist/migrant_waves/bandits.dm
  code/modules/events/antagonist/solo/bandits.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/brigand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sellsword.dm
Labels: Code, TESTMERGED, Balance

#3302 Parry level ups and bucklers now only work with combat skills
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/mob/living/combat/parry.dm
Labels: Code, Balance

#3297 Right click now sell items on your turf instead of in front of stockp…
  code/modules/roguetown/roguemachine/stockpile/stockpile.dm
Labels: Code

#3318 Fixes spec attack
  code/_onclick/click.dm
Labels: Code

#3267 [Rituals] - Abyssorite dream incursions.
  code/game/turfs/open/floor/roguefloor.dm
  icons/roguetown/misc/rituals.dmi
  icons/turf/roguefloor.dmi
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
Labels: Code, TESTMERGED, Feature, Sprite

#3285 New | Event Area Map
  _maps/map_files/generic/CentCom.dmm
  code/game/area/roguetownareas.dm
  code/game/objects/structures/traveltile.dm
Labels: Mapping, Code

#3283 Adds an objectively funny way (and the only way right now) to level up your riding skill
  code/game/objects/items/rogueitems/natural/animals.dm
Labels: Code

#3321 Grab free-jump-resist exploit fix
  code/_onclick/other_mobs.dm
Labels: Code

#3300 Atgervi Gear Changes + Swashbuckler music swap
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
Labels: Code, Balance, Sound

#3322 Second pass over grab-free exploit
  code/_onclick/other_mobs.dm
Labels: Code

#3323 Mending cannot repair item not meant to be repaired.
  code/modules/spells/spell_types/wizard/utility/mending.dm
Labels: Code

#3311 Decrepity & Damnation - Overhauls the presentation of 'decrepit'- and 'ancient'-tier items, reduces unintended accessability.
  code/game/objects/items/rogueitems/coins.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/modules/clothing/rogueclothes/armor/chainmail.dm
  code/modules/clothing/rogueclothes/armor/plate.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves/chain.dm
  code/modules/clothing/rogueclothes/gloves/plate.dm
  code/modules/clothing/rogueclothes/headwear/helmet/heavy_helmet.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants/chain.dm
  code/modules/clothing/rogueclothes/pants/plate.dm
  code/modules/clothing/rogueclothes/rings.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/farming/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/items.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
  code/modules/roguetown/roguejobs/gravedigger/tools.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  code/modules/roguetown/roguejobs/miner/tools.dm
  modular/Neu_Food/code/cookware/bowl.dm
  modular/Neu_Food/code/cookware/cup.dm
  modular/Neu_Food/code/cookware/fork.dm
  modular/Neu_Food/code/cookware/pan.dm
  modular/Neu_Food/code/cookware/platter.dm
  modular/Neu_Food/code/cookware/pot.dm
  modular/Neu_Food/code/cookware/spoon.dm
Labels: Code, Lore

#3312 runtime bundle 2
  code/controllers/subsystem/timer.dm
  code/datums/components/_component.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/witch.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/whitecheesemaker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/hedgemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/other/deathknight.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/failed_apprentice.dm
Labels: Code, TESTMERGED, Balance, Fix

#3305 Dusters & Denim - Rearms the Adventure!Monks, reduces the stamina cost of punching, and undyes (+strengthens) the Monkvestments.
  code/game/objects/items/rogueweapons/intents.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
Labels: Code, Balance

#3327 Sorted and ordered skills with highlight
  code/__HELPERS/cmp.dm
  code/datums/skill_holder.dm
  code/datums/skills/_skill.dm
  code/datums/skills/combat.dm
  code/datums/skills/craft.dm
  code/datums/skills/labor.dm
  code/datums/skills/magic.dm
Labels: Code

#3329 DECREPITY FLASH-UPDATE - FORGOT SOMETHING. AUUUUGH.
  code/game/objects/items/rogueweapons/shields.dm
Labels: Code

#3331 bishopification divine blast
  code/modules/spells/spell_types/divine/projectiles_single/divine_blast.dm
Labels: Code

#3340 Allow face to be attacked on Decrepit Barbute
  code/modules/clothing/rogueclothes/headwear/helmet/heavy_helmet.dm
Labels: Code

#3342 Fixes potion loot spawners & a few other small dungeon pass oversights
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/effects/spawners/roguemapgen.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
Labels: Mapping, Code

#3345 Sprite Fix | Nomadic hair
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Sprite

#3260 A separate stocking slot
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/medical.dm
  code/__DEFINES/misc.dm
  code/game/objects/items/rogueitems/undies.dm
  code/modules/cargo/packsrogue/bathmatron/bath_clothes.dm
  code/modules/client/customizer/customizers/bodypart_feature/misc.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/nobility/suitor.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/bogprisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  code/modules/mob/dead/new_player/sprite_accessory/underwear.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_topic.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/kobold.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/construct/constructm.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/dwarf/dwarfm.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/orc.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/tailor/dyer.dm
  code/modules/surgery/bodyparts/bodypart_features/features.dm
  modular_azurepeak/code/datums/loadout.dm
  modular_hearthstone/code/game/objects/items/clothes/stockings.dm
  modular_hearthstone/icons/obj/items/clothes/on_mob/stockings.dmi
Labels: Mapping, Code, TESTMERGED, Balance

#3359 Fixes spatial harddel
  code/game/atoms_movable.dm
  code/modules/mob/living/simple_animal/rogue/farm/goat.dm
Labels: Code

#3361 Remove preload ambience button.
  code/modules/admin/verbs/playsound.dm
Labels: Code

#3368 attempts to fix sissean / lupian characters getting wiped
  code/modules/client/preferences_savefile.dm
Labels: Code

#3364 Throwing now respect clickCD.
  code/modules/mob/living/carbon/carbon.dm
Labels: Code

#3366 darksteel retitle
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/armor/plate.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves/plate.dm
  code/modules/clothing/rogueclothes/headwear/helmet/heavy_helmet.dm
  code/modules/clothing/rogueclothes/pants/plate.dm
Labels: Lore

#3224 Add Taur Tails
  code/__DEFINES/medical.dm
  code/__HELPERS/medical.dm
  code/datums/wounds/types/dismemberment.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/surgery/bodyparts/bodypart_dismemberment.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/bodyparts/taur.dm
  code/modules/surgery/surgeries/prosthetic_replacement.dm
  icons/mob/taurs.dmi
  interface/skin.dmf
  roguetown.dme
Labels: Code, TESTMERGED, Feature, Sprite

#3372 Maneater incorrect limbs delete fix
  code/game/objects/structures/maneater.dm
Labels: Code

#3374 New statues for the Gods of the Divine Pantheon
  code/game/objects/structures/fluff.dm
  icons/roguetown/misc/tallandwide.dmi
Labels: Code, Sprite

#3377 Makes fyritius grindable for nectar
  code/modules/farming/produce.dm
Labels: Code

#3376 Adds diacritical characters for naming
  code/__HELPERS/text.dm
Labels: Code

#3393 Announcement CD
  code/datums/gods/_curses.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildmaster.dm
  code/modules/roguetown/roguemachine/titan.dm
Labels: Code, Balance

#3391 Fixes mob harddel + parallax runtime from tgstation#63877 and tgstati…
  code/controllers/subsystem/parallax.dm
  code/game/atoms_movable.dm
  code/modules/client/client_procs.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: Code

#3387 Buff Some Templar Unique Weapons slightly.
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
Labels: Code

#3389 Bite Through Helms - Graggar/Vampire Lord helmet
  code/__DEFINES/traits.dm
  code/_onclick/other_mobs.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/clothing/rogueclothes/headwear/helmet/heavy_helmet.dm
Labels: Code

#3398 Tries to reduce mob harddels
  code/datums/skill_holder.dm
  code/modules/mob/mob.dm
Labels: Code

#3346 Throwing Net fix port + nerfs
  code/game/objects/items/rogueitems/ropechainbola.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_ranged.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Code, TESTMERGED, Balance

#3381 Updating README.MD to clarify the license we are under and new pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: Documentation

#3373 Gives taurs tougher scales and legs | Glass Shard War Tactics Defeat
  code/datums/components/caltrop.dm
Labels: Code

#3401 Remove unused pawn_turf variable.
  code/datums/ai/_ai_controller.dm
Labels: Code

#3407 Witch fix
  code/datums/mind.dm
  code/modules/spells/roguetown/vampire.dm
  code/modules/spells/spell_types/shapeshift.dm
Labels: Code

#3403 witty lore
  strings/rt/timechangetips.txt
Labels: Lore

#3402 Cute fishing PR
  _maps/map_files/generic/CentCom.dmm
  code/__HELPERS/fishing_hunting.dm
  code/game/area/roguetownareas.dm
  code/game/objects/effects/effects.dm
  code/game/objects/effects/gods/unassuming_fluff.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/turfs/open/floor/roguefloor.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
  code/modules/spells/roguetown/acolyte/abyssor.dm
  icons/effects/dad.dmi
  icons/roguetown/misc/rituals.dmi
  icons/turf/areas.dmi
  modular/Neu_Food/code/raw/raw_fish.dm
  modular/Neu_Food/icons/raw/raw_fish.dmi
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  roguetown.dme
Labels: Mapping, Code, Sprite

#3399 Port Canonical Movement from TGStation #82085
  code/__DEFINES/movement_info.dm
  code/game/atoms_movable.dm
  roguetown.dme
Labels: Code, TESTMERGED

#3395 Captains get Master in their chosen weapon + get armor choice and 3 knives.
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
Labels: Code, Balance

#3411 Make sure admin skill panel works on mindless mob.
  code/modules/admin/admin.dm
Labels: Code

#3412 Mob attacker use skills on parry. Again.
  code/modules/mob/living/combat/parry.dm
Labels: Code

#3067 Removes the Pulaski & Steel Zweihander from smithing / Redoes the smithing menu
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
  modular/code/modules/crafting/lewd/dildo_crafting.dm
Labels: Mapping, Code, Balance, Sprite, Sound

#3413 Default Orc and Skeleton and Highwaymen to Parry.
  code/modules/mob/living/carbon/human/npc/highwayman.dm
  code/modules/mob/living/carbon/human/npc/orc/orc.dm
  code/modules/mob/living/carbon/human/npc/skeleton/skeleton.dm
Labels: Code

#3415 Falchion Fix
  code/game/objects/effects/spawners/equipment_spawners.dm
  code/game/objects/effects/spawners/loot_spawners.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_melee_steel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/mob/living/carbon/human/npc/orc/orc_outfits.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
Labels: Code, Balance

#3417 Fix: Puts mobs in my bogfort dungeon
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#3418 MAPPING HOTFIXES
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#3427 Absolvers Are Holy Now
  code/modules/jobs/job_types/roguetown/Inquisition/absolutionist.dm
Labels: Code, Balance

#3438 New sprite of a broken horn.
  code/modules/client/customizer/customizers/organ/horns.dm
  code/modules/mob/dead/new_player/sprite_accessory/horns.dm
  icons/mob/sprite_accessory/horns/horns.dmi
Labels: Code, Sprite

#3444 Give Concubines Money
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
Labels: Code, Balance

#3446 [FIX] Now druid can hear werewolfes howl
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_spells.dm
Labels: Code

#3433 PORT - Traveltile refactor/rework, blindfolds work, anti-abuse/anti-metagaming checks, no AFK ambushes
  code/_onclick/click.dm
  code/game/objects/structures/traveltile.dm
  code/modules/mob/living/ambush.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
Labels: Code, TESTMERGED

#3453 Optimizations
  code/datums/status_effects/status_effect.dm
  code/modules/surgery/bodyparts/helpers.dm
Labels: Code

#3428 Various B*lance Changes
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/berserker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/outlaw.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/combat/parry.dm
Labels: Code, TESTMERGED, Balance

#3468 HOTTEST HOTFIX
  code/modules/paperwork/paper.dm
Labels: Code

#3469 Decapitalize Naginata.
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Code

#3472 Some harddelete fixes?
  code/__HELPERS/game.dm
  code/controllers/subsystem/rogue/treasury.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
Labels: Code

#3292 Ports my *yip emote from bubber retry
  code/modules/mob/living/carbon/human/voicepacks/genfemale.dm
  code/modules/mob/living/carbon/human/voicepacks/genmale.dm
  code/modules/mob/living/emote.dm
  sound/vo/yip.ogg
  sound/vo/yip2.ogg
  sound/vo/yip3.ogg
Labels: Code, Sound

#3479 Stam Drain from parrying heavy balance per str diff is now -2 instead…
  code/modules/mob/living/combat/parry.dm
Labels: Code

#3293 Man-At-Arms Barracks to Town, Keep Yard Facelift, & Minor Garri Stuff
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/berserker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/hedgemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/outlaw.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/plaguebearer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/poacher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/pyromaniac.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/vigilante.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/garrison/squire.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Mapping, Code, TESTMERGED, Balance

#3485 [God fluff] Foolproofs fluff area.
  code/game/objects/effects/gods/unassuming_fluff.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
Labels: Code

#3384 Ckey Database Hookup (Whitelisting)
  code/__HELPERS/_lists.dm
  code/controllers/configuration/entries/general.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/border_control.dm
  code/modules/client/client_procs.dm
  config/example/config.txt
  roguetown.dme
Labels: Code, TESTMERGED, Administration

#3458 The most evil edit in Azure Peak history - Makes Court Magician not worse than their Associates in both STATS and SKILLS
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
Labels: Code, Balance

#3491 Remove the searing blade enchant. Enchant Weapon override Enchant Weapon.
  code/modules/spells/components/enchanted_weapon.dm
  code/modules/spells/spell_types/wizard/misc/enchant_weapon.dm
Labels: Code

#3492 [Bishop role] - Fix miracle change bugs & functionality rebalance.
  code/__DEFINES/traits.dm
  code/datums/gods/_curses.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Code, Balance

#3490 [FIX] Wildshape now dont have extra-slot
  code/modules/spells/spell_types/wildshape.dm
Labels: Code

#3496 Fix homesteader not being able to level up a skill twice in one night.
  code/datums/sleep_adv/sleep_adv.dm
Labels: Code

#3497 Armory Fixes for New Keep/Gari Map
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#3499 Adds Royal Coffin (Event Stuff)
  code/game/objects/structures/crates_lockers/crates.dm
  icons/roguetown/misc/structure.dmi
Labels: Code, Sprite

#3501 Makes broken dwarven fortress door actually destructible and deletable.
  code/game/objects/structures/mineral_doors.dm
Labels: Code

#3503 Bugfix - Makes Terminus Est require Weaponsmithing instead of Blacksmithing to craft
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
Labels: Code

#3486 Bmaster - Raneshen
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
Labels: Code, Balance

#3493 modified covetous crown desc, added candles to idol pool
  code/game/objects/structures/fluff.dm
  code/modules/roguetown/roguemachine/ATM.dm
Labels: Code

#3328 [Antagery] - Conversion.
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/gods/_curses.dm
  code/datums/status_effects/rogue/debuff.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Code, TESTMERGED, Feature, Balance

#3441 The Ten Undivided - The Holy See Resplendent
  code/__DEFINES/roguetown.dm
  code/__DEFINES/traits.dm
  code/datums/gods/faiths/divine_pantheon.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/stress/positive_events.dm
  code/game/area/roguetownareas.dm
  code/game/objects/items/rogueitems/books.dm
  code/game/objects/items/rogueitems/inquisitionrelics.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/martyr.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/mob/living/overhead_effects.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/spell_types/divine/projectiles_single/divine_blast.dm
  icons/mob/overhead_effects.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/weapons/shield_heraldry.dmi
  modular_azurepeak/code/game/objects/items/ritechalk.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  strings/bibble.txt
  strings/decanomicon.txt
  strings/newdawn.txt
  strings/visage.txt
Labels: Code, TESTMERGED, Balance, Sprite, Lore

#3508 Baotha druqks fix
  code/__HELPERS/filters.dm
  code/_onclick/hud/plane_master.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/atoms.dm
Labels: Code

#3489 Create update_force_dynamic() proc. Buff my own OC's DPS by 15 - 21%
  code/__DEFINES/components.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/inquisitionrelics.dm
  code/game/objects/items/rogueweapons/rogueweapon.dm
  code/game/objects/obj_defense.dm
  code/modules/spells/components/enchanted_weapon.dm
Labels: Mapping, Code, Balance, Sprite

#3510 Port Scarlet Reach #570 - Better Attack Targeting Feedback.
  code/_onclick/hud/screen_objects.dm
  code/_onclick/item_attack.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Code

#3498 [bishop] Gives them immolation when polytheist
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Code, Balance

#3511 Undivided fix - Infestation actually works without a pestran amulet now.
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: Code

#3517 Proper fix for item requirements on spell.
  code/modules/spells/spell.dm
Labels: Code

#3513 Hunter Skill Balance
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
Labels: Code, Balance, Cl*ss Edit

#3535 Radiant Quests (Contract) Immersion Update.
  code/__DEFINES/questing.dm
  code/modules/roguetown/roguemachine/noticeboard.dm
  code/modules/roguetown/roguemachine/questing/items/quest_scroll.dm
  code/modules/roguetown/roguemachine/questing/questing_components.dm
  code/modules/roguetown/roguemachine/questing/questing_datum.dm
  code/modules/roguetown/roguemachine/questing/questing_landmarks.dm
Labels: Code

#3539 Fixes bases and belts w/ faulds on male bodytypes
  icons/roguetown/clothing/onmob/belts.dmi
Labels: Sprite

#3546 Fix Enchant Weapon Issues
  code/modules/spells/components/enchanted_weapon.dm
Labels: Code

#3556 Decashields for Undivided/Martyr
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/jobs/job_types/roguetown/church/martyr.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Code, Balance

#3549 Removes glaive from anvil and drows
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/mob/living/carbon/human/npc/drow.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
Labels: Code

#3557 TENNITE HERETIC HOTFIXJAK
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
Labels: Code, Balance

#3527 Medicine Scaling Rework
  code/__DEFINES/traits.dm
  code/datums/skills/_skill.dm
  code/datums/skills/misc.dm
  code/datums/sleep_adv/sleep_adv.dm
  code/game/objects/items/rogueitems/needle.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/plaguebearer.dm
  code/modules/jobs/job_types/roguetown/church/martyr.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/yeomen/villagechief.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
  code/modules/surgery/_surgery_step.dm
  code/modules/surgery/surgeries_hearth/cure_rot.dm
  code/modules/surgery/surgery_tools_rogue.dm
Labels: Code, TESTMERGED, Balance

#3480 Give Adv. Missionary Divine Blast + Dendor Nerf
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/spells/spell_types/divine/projectiles_single/divine_blast.dm
Labels: Code, Balance

#3574 Force armed mantrap to be too big to fit anywhere.
  code/game/objects/items/beartraps.dm
Labels: Code

#3573 MAKING KAZENGUN SCABBARDS GREAT AGAIN (MAKING THEIR GIMMICK ACTUALLY FUNCTIONAL)
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  modular_azurepeak/code/game/objects/items/scabbard.dm
Labels: Code

#3576 Continuous butchery Port + Meathook Buff
  code/game/objects/structures/roguetown/meathook.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Code

#3564 Warden SOVL Injection
  code/game/objects/items/rogueitems/natural/animals.dm
  code/game/objects/items/rogueweapons/ranged/bows.dm
  code/modules/clothing/rogueclothes/armor/leather.dm
  code/modules/clothing/rogueclothes/headwear/helmet/medium_helmet.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/roguetown/roguecrafting/crafting/ammo_and_ranged.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/special/onmob/warden.dmi
  icons/roguetown/clothing/special/onmob/warden64.dmi
  icons/roguetown/clothing/special/warden.dmi
  icons/roguetown/weapons/64.dmi
Labels: Code, Balance, Sprite

#3582 Flipped Navajas don't have delay
  code/game/objects/items/rogueweapons/melee/knives.dm
Labels: Code

#3561 Chopchop - Speed up cooking steps by 3x + Slicing scales to cooking skills
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/roguetown/roguejobs/cook/tools/grinding.dm
  modular/Neu_Food/code/NeuFood.dm
Labels: Code

#3585 fixes bait cooldown
  code/game/objects/items/rogueweapons/rmb_intents.dm
Labels: Code, Fix

#3586 fixes omniwounds preventing werewolf infections
  code/modules/roguetown/roguejobs/artificer/handsaw_chisel.dm
  code/modules/roguetown/roguejobs/gravedigger/tools.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
Labels: Code

#3599 Fixes Broken Item Path For Binding Shackles
  code/modules/roguetown/roguejobs/mages/arcana_crafting.dm
Labels: Code

#3545 Replaces Bishop Miracle Swap with T3 and T4 selection
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/spells/roguetown/acolyte/resurrect.dm
  code/modules/spells/spell.dm
Labels: Code, Balance

#3507 Warden Gameplay Loop (Pt1?)
  _maps/map_files/roguetest/roguetest.dmm
  _maps/roguetest.json
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/rogue/regional_threat/__define.dm
  code/controllers/subsystem/rogue/regional_threat/regional_threat.dm
  code/controllers/subsystem/rogue/regional_threat/threat_region.dm
  code/game/area/areas.dm
  code/game/area/mountdecap.dm
  code/game/area/northcoast.dm
  code/game/area/roguetownareas.dm
  code/game/area/terrorbog.dm
  code/game/area/woods.dm
  code/game/objects/items/rogueitems/natural/heads.dm
  code/game/objects/structures/noticeboard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/mob/living/ambush.dm
  code/modules/roguetown/roguemachine/noticeboard.dm
  modular/ambush/ambush_config/bog_deserters_ambush.dm
  modular/ambush/ambush_config/mirespiders_ambush.dm
  modular/ambush/ambush_config/mount_decap_ambush.dm
  modular/ambush/ambush_config/southern_coast_ambush.dm
  modular_hearthstone/code/game/objects/items/signal_horn.dm
  roguetown.dme
  tgui/packages/tgui/interfaces/ThreatBoard.tsx
Labels: Mapping, Code, TESTMERGED, Balance, Sprite

#3608 splits drake horns into two better horns
  code/modules/client/customizer/customizers/organ/horns.dm
  code/modules/mob/dead/new_player/sprite_accessory/horns.dm
  icons/mob/sprite_accessory/horns/horns.dmi
Labels: Code, Sprite

#3609 Divine Blast ONLY for missionary class.
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
Labels: Code, Balance

#3572 Port SR Fix for Baotha's Blessing crash - by removing the animation.
  code/_onclick/hud/plane_master.dm
Labels: Code, TESTMERGED

#3594 New Grenzel crossbow class, and halberdier's athletics!
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
Labels: Code, Balance

#3607 Saurian
  code/modules/client/client_procs.dm
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/client/customizer/customizers/organ/horns.dm
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/feature_organs/snout.dm
  code/modules/surgery/organs/feature_organs/tails.dm
  strings/rt/timechangetips.txt
Labels: Code, Lore

#3612 Repulse now set resting instead of paralyze. CD 30 to 25.
  code/modules/spells/spell_types/wizard/invoked_aoe/repulse.dm
Labels: Code, Balance

#3615 Revert "Saurian"
  code/modules/client/client_procs.dm
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/client/customizer/customizers/organ/horns.dm
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/feature_organs/snout.dm
  code/modules/surgery/organs/feature_organs/tails.dm
  strings/rt/timechangetips.txt
Labels: Code

#3625 New drow colors
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
Labels: Code

#3616 Kazengun / Ruma Clan & Hwando Stuffs
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/rumaclan.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/seonjang.dm
  modular_azurepeak/icons/obj/items/scabbard.dmi
Labels: Code, Balance

#3614 Forlorn Merc Buff: Brigandine bracers + chausses + 1 shield skill
  code/modules/jobs/job_types/roguetown/mercenaries/classes/forlorn.dm
Labels: Code, Balance, Cl*ss Edit

#3600 Copypasted Donator List System
  code/modules/admin/admin_verbs.dm
  code/modules/client/border_control.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/manual_donator.dm
  roguetown.dme
Labels: Code, TESTMERGED

#3631 Bandits, wretches, vampires and other knaves should no longer be known to Azurians
  code/modules/jobs/job_types/_job.dm
Labels: Code

#3629 Improve mail feedback
  code/modules/roguetown/roguemachine/mail.dm
Labels: Code

#3632 Druid surrender button
  code/modules/spells/spell_types/wildshape.dm
Labels: Code

#3641 Port Multiline initial ahelp from tgstation.
  code/modules/admin/verbs/adminhelp.dm
Labels: Code

#3646 [God fluff] Fixes god fluff probability math.
  code/game/objects/effects/gods/unassuming_fluff.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
  code/modules/spells/roguetown/acolyte/abyssor.dm
  modular/Neu_Food/code/raw/raw_fish.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
Labels: Code

#3644 Shields take quartered damage from projectile now.
  code/game/objects/items/rogueweapons/shields.dm
Labels: Code

#3651 Make the storyteller vote panel 800 height
  code/controllers/subsystem/vote.dm
Labels: Code

#3654 Fix exploit of looking outside of buildings
  code/_onclick/click.dm
Labels: Code

#3655 LF ffs
  code/modules/spells/spell_types/divine/projectiles_single/unholy_blast.dm
Labels: Code

#3663 black oak fix
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/blackoak.dm
Labels: Code, Balance

#3660 Refactor Unholy Blast - It can arc, is a subtype of divine blast now.
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/spells/spell_types/divine/projectiles_single/unholy_blast.dm
Labels: Code, Balance

#3658 Dismemberment now respects 90% Crit Threshold - unless you are easily dismembered
  code/__DEFINES/roguetown.dm
  code/__DEFINES/roguetown/combat.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/rogueweapon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/surgery/bodyparts/bodypart_dismemberment.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
  modular_azurepeak/code/modules/spells/warscholar.dm
  roguetown.dme
Labels: Code

#3657 Food nutrition transparency
  code/__DEFINES/nutrition.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Code

#3665 boak TYPO fix....
  code/game/objects/items/rogueitems/books.dm
  strings/books/blackoak.json
Labels: Code

#3664 The Feathering
  code/modules/client/customizer/customizers/organ/tail.dm
  code/modules/client/customizer/customizers/organ/wings.dm
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  code/modules/mob/dead/new_player/sprite_accessory/wings.dm
  icons/mob/sprite_accessory/tails/tails.dmi
  icons/mob/sprite_accessory/wings/wings_64x32.dmi
Labels: Code, Sprite

#3602 Adds a Heretic subclass: Spy
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
Labels: Code, TESTMERGED, Balance

#3669 Nerfs devitalized debuff caused by matthiosite and graggarite rituals
  code/datums/status_effects/rogue/debuff.dm
Labels: Code

#3649 Stewardry Export Changes
  code/modules/roguetown/roguestock/import.dm
Labels: Code, TESTMERGED

#3583 Wretch PR [Removes Outlaw examine text, expands bounty listings]
  code/datums/mob_descriptors/mob_descriptor.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/wanted.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/living_descriptors.dm
  code/modules/roguetown/roguemachine/bounty.dm
Labels: Code, TESTMERGED, Balance

#3666 Dev_Suggestions that are actually Suggestions
  code/modules/cargo/packsrogue/merchant/apparel.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/shirts.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Code

#3680 comments out death's door from being given
  code/datums/gods/patrons/divine_pantheon.dm
Labels: Code
