Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2025-09, with the labels that each got.

#3685 Do an attack animation when throwing.
  code/modules/mob/living/carbon/carbon.dm
Labels: Code

#3683 Ports Oiling Up from Vanderlin.
  code/modules/mob/living/grabbing.dm
  code/modules/mob/living/living.dm
  modular/Neu_Food/code/others/fat.dm
Labels: Code

#3686 Sort virtues, races and statpacks.
  code/modules/client/preferences.dm
Labels: Code

#3597 craftable plague masks + plague coat on town docs
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/roguetown/roguecrafting/leather/leather.dm
Labels: Code, Balance

#3650 Combat Aware Virtue | XP Drops | Extra Combat Notifications
  code/__DEFINES/_helpers.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/medical.dm
  code/__DEFINES/preferences.dm
  code/__DEFINES/roguetown.dm
  code/__DEFINES/sound.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/game.dm
  code/__HELPERS/text.dm
  code/__HELPERS/type2type.dm
  code/_onclick/item_attack.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/rogue/miscprocs.dm
  code/datums/skill_holder.dm
  code/datums/sleep_adv/sleep_adv.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/rmb_intents.dm
  code/game/objects/obj_defense.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/energystamina.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/grabbing.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
  interface/skin.dmf
  modular_azurepeak/code/game/objects/items/quiver.dm
  modular_azurepeak/virtues/combat.dm
  roguetown.dme
  sound/misc/levelup1.ogg
  sound/misc/levelup2.ogg
  sound/misc/levelup3.ogg
Labels: Code, TESTMERGED, Feature, Sound

#3688 Remove blindness scroll from granter.
  _maps/templates/smalldungeons.dm
  code/game/objects/items/granters.dm
  code/game/objects/structures/roguetown/loot.dm
Labels: Mapping, Code

#3689 Add warhammer and etruscan longsword to merchant inventory.
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_melee_iron.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_melee_steel.dm
Labels: Code

#3681 (commission) horse tail wag
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Code, Sprite

#3682 Adds component for handling cursed Ascendant items, fixes an exploit.
  code/datums/components/cursed_item.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/armor/plate.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves/plate.dm
  code/modules/clothing/rogueclothes/headwear/helmet/heavy_helmet.dm
  code/modules/clothing/rogueclothes/pants/plate.dm
  roguetown.dme
Labels: Code

#3691 Don't allow beartraps to be armed over/next to travel tiles
  code/game/objects/items/beartraps.dm
Labels: Code

#3695 filtered balloon alert optimization
  code/modules/balloon_alert/balloon_alert.dm
Labels: Code

#3693 New build mode sprites
  icons/misc/buildmode.dmi
Labels: Sprite

#3672 Hyperspecific Sword Balance Pass.
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
Labels: Code, Balance

#3696 Removes Shaft Recipes
  code/game/objects/items/rogueitems/natural/stones.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
Labels: Code

#3668 Black Oak lore tidbits
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/blackoak.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  strings/books/blackoak.json
Labels: Code, Balance, Lore

#3701 fixes peel runtimes
  code/__DEFINES/inventory.dm
  code/__HELPERS/type2type.dm
Labels: Code, Balance, Fix

#3703 Limits lookahead sweeping speed
  code/modules/mob/living/living.dm
Labels: Code

#3707 Muscular Statpack Adjustment
  modular_azurepeak/statpacks/physical.dm
Labels: Balance

#3710 Minor Bugfix #I - Readds the missing 'Psydonic Devotion' trait by fixing an argument in the old_god.dm file.
  code/controllers/subsystem/rogue/miscprocs.dm
Labels: Code

#3714 Revert stockpile selling changes.
  code/modules/roguetown/roguemachine/stockpile/stockpile.dm
Labels: Code

#3717 Remove Coin Scattering - Coin of same type now automerges.
  code/game/objects/items/rogueitems/coins.dm
Labels: Code

#3716 Fixes possible exploit with martyr sword and makes Bishop robes act like other cursed items.
  code/modules/clothing/rogueclothes/headwear/masks.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/jobs/job_types/roguetown/church/martyr.dm
Labels: Code, Balance

#3719 Restablish Capitalism and the Monetary Economy
  code/game/objects/items/rogueitems/coins.dm
Labels: Code

#3698 Adds Spawn Logs & Spawn Log Preference to Admins
  code/__DEFINES/preferences.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/mob_movement.dm
  modular_hearthstone/code/interface/LOOC.dm
Labels: Code, TESTMERGED, Administration

#3723 freak nasty ninja style what up
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/foreigner.dm
Labels: Code, Balance

#3690 STEPPESMAN SOUL NUKE
  code/__DEFINES/combat.dm
  code/__DEFINES/roguetown.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/ranged/bows.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/clothing/rogueclothes/armor/gambeson.dm
  code/modules/clothing/rogueclothes/armor/plate.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/headwear/helmet/medium_helmet.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
  modular_azurepeak/icons/obj/items/scabbard.dmi
Labels: Code, Balance, Sprite

#3725 Ports Omniwounds QoL from SR
  code/datums/wounds/_wound.dm
  code/game/objects/items/rogueitems/needle.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
Labels: Code

#3721 Potential Feature #III - Adds summarized descriptors to the Storyteller options.
  code/datums/storytellers/gods.dm
Labels: Code

#3678 [ANTAGERY] New antag! Dreamwalkers.
  code/__DEFINES/components.dm
  code/__DEFINES/obj_flags.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/item_attack.dm
  code/datums/antag_retainer.dm
  code/game/objects/effects/gods/unassuming_fluff.dm
  code/game/objects/items.dm
  code/game/objects/obj_defense.dm
  code/modules/antagonists/roguetown/villain/dreamwalker.dm
  code/modules/antagonists/roguetown/villain/dreamwalker/dreamwalker_trident.dm
  code/modules/events/antagonist/solo/bandits.dm
  code/modules/events/antagonist/solo/dreamwalker.dm
  icons/mob/actions/roguespells.dmi
  icons/mob/screen_alert.dmi
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/32x48/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/items/ore.dmi
  icons/roguetown/weapons/64.dmi
  modular_azurepeak/code/game/objects/items/ritechalk.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  modular_azurepeak/code/game/objects/weapons/axes.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/abyssal_monsters.dm
  roguetown.dme
Labels: Code, TESTMERGED, Feature, Sprite

#3724 aborts combat buckling
  code/modules/mob/living/carbon/carbon.dm
Labels: Code

#3730 fvck - fixes lightbars
  code/game/objects/lighting/_base_roguestreet.dm
Labels: Code

#3729 Removes clutter from storyteller vote panel
  code/controllers/subsystem/storyteller.dm
  code/datums/storytellers/_base.dm
  code/datums/storytellers/gods.dm
Labels: Code

#3736 Pitchfork Feedback
  code/modules/farming/composter.dm
Labels: Code

#3741 [Cl*ss edit] Blatant bandit powercreep or bandits know how to swim now
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/Iconoclast.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sellsword.dm
Labels: Code, Balance

#3756 Fixes Missing Fluted Plate Icons
  icons/roguetown/clothing/onmob/armor.dmi
Labels: Sprite

#3676 Swimming Changes (it's for the worse) (unless you're a r*gue)
  code/game/turfs/open/water.dm
  code/modules/mob/living/combat/clashpurgepeelstuffs.dm
Labels: Code, TESTMERGED, Balance

#3759 fixes ironclad adventurer
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
Labels: Code, Balance

#3760 Orthodoxist trait fixes / cleanup
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthodoxist.dm
Labels: Code, Balance

#3563 [TM] wrenches, pressure plates, and engineer launchers
  code/game/objects/items/contraption.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/roguetown/redstone.dm
  code/game/turfs/closed/_closed.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildmaster.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildsman.dm
  code/modules/roguetown/roguecrafting/engineering.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
  code/modules/roguetown/roguejobs/engineer/items.dm
  icons/obj/wrenches.dmi
  icons/roguetown/misc/engineering_structure.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Feature, Balance, Sprite

#3740 Bastard Sword -> Longsword on Spellblade.
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
Labels: Code, Balance

#3762 atgervi trait cleanup
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
Labels: Code, Balance

#3766 Fix cloak hoods
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/suits/toggles.dm
Labels: Code

#3771 CRASHES WOODWORKING ECONOMY WITH NO SURVIVORS
  code/game/objects/items/rogueitems/natural/wood.dm
Labels: Code

#3774 Fixes bascinet feather sprites
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Fix, Sprite

#3772 Class Select Categories
  code/__DEFINES/roguetown.dm
  code/controllers/subsystem/rogue/role_class_handler/class_select_handler/class_select_handler.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/foreigner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/trader.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/forlorn.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/freifechter.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grudgebearer.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/rumaclan.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/seonjang.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/underdweller.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/vaquero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
  html/browser/slop_menustyle2.css
Labels: Code, TESTMERGED, Feature, Balance

#3753 Set cache lifespan to 0 - TG 83316
  code/world.dm
Labels: Code

#3785 new bunny ear + resprited bunny tail
  code/modules/client/customizer/customizers/organ/ears.dm
  code/modules/mob/dead/new_player/sprite_accessory/ears.dm
  icons/mob/sprite_accessory/ears/ears.dmi
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Code, Sprite

#3787 Fix riding commands not applying pleasure to rider
  code/datums/sexcon/sex_actions/sex/anal_ride_sex.dm
  code/datums/sexcon/sex_actions/sex/vaginal_ride_sex.dm
Labels: Code

#3765 Add unrevivable as a trait + charpref toggle
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/character_flaw/_character_flaw.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/living.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  code/modules/spells/roguetown/acolyte/eora/eora_reagents.dm
  code/modules/spells/roguetown/acolyte/resurrect.dm
  code/modules/surgery/revive_chair.dm
  code/modules/surgery/surgeries_hearth/revival.dm
Labels: Code, TESTMERGED

#3775 masochist now functions like sadist!
  code/datums/character_flaw/_character_flaw.dm
  code/datums/character_flaw/addiction.dm
  code/datums/stress/negative_events.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/emote.dm
Labels: Code

#3789 gives the npc bandit radiant guys their heretic traits
  code/modules/mob/living/carbon/human/npc/deranged_knight.dm
Labels: Code

#3783 Deserter tweaks and QoL
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
Labels: Code, Balance

#3752 adds unlabeled olde canned food as dungeon loot
  modular_azurepeak/code/game/objects/items/mundanities.dm
  modular_azurepeak/icons/obj/items/tincans.dmi
  sound/items/canned_food_open.ogg
Labels: Sound

#3784 fixes loadout levelling in classes
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/trader.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lchef.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lfish.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/berserker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/hedgemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/outlaw.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/plaguebearer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/poacher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/pyromaniac.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/vigilante.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/peasants/knavewench.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildmaster.dm
Labels: Code, Balance

#3794 fixes heretic wretch helmets
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
Labels: Code, Balance

#3799 Fixes player-set bounties
  code/modules/roguetown/roguemachine/bounty.dm
Labels: Code

#3793 new bolts + holy water bolts
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/roguetown/roguecrafting/crafting/ammo_and_ranged.dm
  code/modules/roguetown/roguemachine/inqports/inqshop.dm
  icons/roguetown/weapons/ammo.dmi
  modular_azurepeak/code/game/objects/items/quiver.dm
  modular_azurepeak/code/modules/spells/orison.dm
Labels: Code, Balance, Sprite

#3803 fixes guildmaster spawn
  code/modules/jobs/job_types/roguetown/yeomen/guildmaster.dm
Labels: Code, Balance

#3788 makes manabloom alchemical
  code/game/objects/items/rogueitems/magic/magic_resources.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_grind_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
Labels: Code

#3653 [PORT] Ports in Familiars without powers or buffs
  code/__DEFINES/familiars.dm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/generic_dextrous.dm
  code/game/objects/items/granters.dm
  code/modules/client/client_procs.dm
  code/modules/client/familiar_prefs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/simple_animal/friendly/familiars.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/simple_animal_topic.dm
  code/modules/roguetown/roguejobs/mages/arcana_crafting.dm
  code/modules/spells/spell_types/familiar_abilities.dm
  code/modules/spells/spell_types/wizard/conjure/find_familiar.dm
  icons/roguetown/mob/familiars.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Feature, Sprite

#3819 HERMES quill/paper buy port
  code/modules/roguetown/roguemachine/mail.dm
Labels: Code

#3656 [TM FIRST] Skeleton & Lich Mini Rework - No more Infinite Stamina & Energy, Gains Bready, gears & summon greater undead rework
  code/__DEFINES/traits.dm
  code/_onclick/click.dm
  code/game/objects/items/rogueweapons/rmb_intents.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/other/greater_skeleton.dm
  code/modules/jobs/job_types/roguetown/other/lich_skeleton.dm
  code/modules/mob/living/carbon/energystamina.dm
  code/modules/mob/living/carbon/human/npc/bog_deserters.dm
  code/modules/mob/living/carbon/human/npc/bum.dm
  code/modules/mob/living/carbon/human/npc/deranged_knight.dm
  code/modules/mob/living/carbon/human/npc/drow.dm
  code/modules/mob/living/carbon/human/npc/dwarfskeleton.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
  code/modules/mob/living/carbon/human/npc/highwayman.dm
  code/modules/mob/living/carbon/human/npc/lizardmen_dungeon.dm
  code/modules/mob/living/carbon/human/npc/militia.dm
  code/modules/mob/living/carbon/human/npc/orc/orc.dm
  code/modules/mob/living/carbon/human/npc/searaider.dm
  code/modules/mob/living/carbon/human/npc/skeleton/skeleton.dm
  code/modules/mob/living/carbon/human/npc/thief.dm
  code/modules/mob/living/carbon/human/npc/zizoconstruct.dm
  code/modules/spells/roguetown/necromancer.dm
  code/modules/spells/spell_types/undead/self/calcic_outburst.dm
  code/modules/spells/spell_types/undead/summon/raise_undead.dm
  roguetown.dme
Labels: Code, TESTMERGED, Balance

#3603 Revert "NPC AI leaping fixes and tweaks"
  code/__HELPERS/AStar.dm
  code/__HELPERS/game.dm
  code/modules/mob/living/carbon/human/npc/_npc.dm
Labels: Code, TESTMERGED

#3825 Fixes silver blessed stuff
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Code

#3832 adds stomp sound
  code/modules/mob/living/carbon/human/voicepacks/genfemale.dm
  code/modules/mob/living/carbon/human/voicepacks/genmale.dm
  code/modules/mob/living/emote.dm
Labels: Code

#3834 No more mantrap / kneestinger ambush.
  code/game/objects/effects/glowshroom.dm
  code/game/objects/items/beartraps.dm
Labels: Code

#3837 Fix DNR description
  code/modules/mob/living/carbon/human/examine.dm
Labels: Code

#3792 Conjure Dragonhide - Spell
  code/__DEFINES/roguetown.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_armor.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_dragonhide.dm
  code/modules/spells/spell_types/wizard/spell_list.dm
  icons/mob/actions/roguespells.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Feature, Sprite

#3776 gives druids keys to the church
  code/modules/jobs/job_types/roguetown/church/druid.dm
Labels: Code, Balance

#3842 Port Vanderlin's USES_PQ define.
  code/_compile_options.dm
  code/controllers/subsystem/job.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Code, Balance

#3831 Status Effect Icon Update
  icons/mob/screen_alert.dmi
Labels: TESTMERGED, Sprite

#3843 Make Katar 8 instead of 6 clickCD
  code/game/objects/items/rogueweapons/melee/special.dm
Labels: Code, Balance

#3849 WRONG NUMBER
  code/game/objects/items/rogueweapons/melee/special.dm
Labels: Code

#3846 Add shitty attack logging for typing indicator.
  code/modules/mob/typing_indicator.dm
Labels: Code

#3848 Miner Skill switching polearms to maces
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
Labels: Code, Balance

#3830 Slopmob expansion
  code/__DEFINES/is_helpers.dm
  code/game/area/actualcoast.dm
  code/game/area/mountdecap.dm
  code/game/area/roguetownareas.dm
  code/game/area/terrorbog.dm
  code/game/area/woods.dm
  code/game/turfs/open/river.dm
  code/modules/mob/living/carbon/human/npc/deranged_knight.dm
  code/modules/mob/living/carbon/human/npc/soldiers/bog_deserters.dm
  code/modules/mob/living/carbon/human/npc/soldiers/highwayman.dm
  code/modules/mob/living/carbon/human/npc/soldiers/militia.dm
  code/modules/roguetown/mapgen/mountains.dm
  roguetown.dme
  tgui/packages/tgui/interfaces/MiaCraft.js
Labels: Code, TESTMERGED

#3845 MiaCraft 2 - UI Improvement & Repeatable Crafting
  code/controllers/subsystem/skills.dm
  code/datums/components/crafting/crafting.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/modules/crafting/recipe_books/recipe_books_list.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/ceramics.dm
  code/modules/roguetown/roguecrafting/cooking.dm
  code/modules/roguetown/roguecrafting/crafting/weapons_tools.dm
  code/modules/roguetown/roguecrafting/engineering.dm
  code/modules/roguetown/roguecrafting/farming.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather/leather.dm
  code/modules/roguetown/roguecrafting/leather/leather_armor_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_container_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_footwear_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_unique_recipes.dm
  code/modules/roguetown/roguecrafting/leather/reinforcement.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguecrafting/weaving.dm
  code/modules/roguetown/roguejobs/mages/arcana_crafting.dm
  modular_azurepeak/code/datums/slapcrafting.dm
  roguetown.dme
  tgui/packages/tgui/interfaces/MiaCraft.js
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
Labels: Code, TESTMERGED, Feature

#3816 [MERGE CONFLICTS GALORE] Iron Sprite Palette Swap
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_pants.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/onmob/wrists.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/clothing/wrists.dmi
  icons/roguetown/items/crafting.dmi
  icons/roguetown/items/ore.dmi
  icons/roguetown/items/valuable.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
  icons/roguetown/weapons/64x64_AZUREPEAK_LONGPACK.dmi
  icons/roguetown/weapons/ammo.dmi
  icons/roguetown/weapons/shield_heraldry.dmi
  icons/roguetown/weapons/tools.dmi
  modular_azurepeak/icons/obj/items/scabbard.dmi
Labels: TESTMERGED, Sprite

#3826 New Spells for Zizo Magicians/Heretic/Necromancer + Small Rebalance
  code/datums/ai/controllers/undead.dm
  code/datums/ai/controllers/wolf_undead.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/spells/roguetown/necromancer.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/undead_saiga.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/undead_wolf.dm
  modular_azurepeak/code/modules/spells/minion_order.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/zizo.dm
  roguetown.dme
Labels: Code, TESTMERGED, Balance

#3818 [TM] Minecarts, rotational power, engineering goggles, chiseling in names, locking launchers, and Peddler sprite tweak.
  code/__DEFINES/MC.dm
  code/__DEFINES/components.dm
  code/__DEFINES/dcs/signals/signals_moveloop.dm
  code/__DEFINES/dcs/signals_atoms/appearance.dm
  code/__DEFINES/dcs/signals_atoms/signals_atom_movable.dm
  code/__DEFINES/directional.dm
  code/__DEFINES/movement.dm
  code/__DEFINES/qdel.dm
  code/__DEFINES/rotation.dm
  code/__DEFINES/rotational_defines.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/type_processing.dm
  code/_globalvars/traits.dm
  code/_onclick/hud/mouseover.dm
  code/controllers/subsystem/movement/minecarts.dm
  code/controllers/subsystem/movement/move_manager.dm
  code/controllers/subsystem/movement/movement_loop.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/elements/noisy_movement.dm
  code/datums/rotation_network_data.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/effect_system/particle_defines.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/minecart_system/minecart.dm
  code/game/objects/minecart_system/minecart_rail.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/roguetown/redstone.dm
  code/game/objects/structures/traveltile.dm
  code/game/rotational_objects/horizontal_gearbox.dm
  code/game/rotational_objects/item_rotation_contraption.dm
  code/game/rotational_objects/rotation_shaft.dm
  code/game/rotational_objects/rotational_speed_data.dm
  code/game/rotational_objects/vertical_gearbox.dm
  code/game/rotational_objects/waterwheel.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/roguetown/roguecrafting/engineering.dm
  code/modules/spells/spell_types/skills/invoked_single_target/engineeranalyze.dm
  icons/obj/rotation_machines.dmi
  icons/obj/track.dmi
  icons/roguetown/misc/machines.dmi
  icons/roguetown/misc/shafts_cogs.dmi
  icons/roguetown/misc/waterwheel.dmi
  roguetown.dme
  sound/misc/ratchet.ogg
  sound/tank_treads.ogg
Labels: Code, TESTMERGED, Feature, Sprite, Sound

#3847 Port Vanderlin's "oz" to "ligulae / ligula" changes
  code/__HELPERS/reagents.dm
  code/datums/brewing_recipes/_brewing_recipe_base.dm
  code/datums/components/crafting/recipes.dm
  code/game/atoms.dm
  code/game/objects/items/rogueitems/ceramics.dm
  code/game/objects/items/rogueitems/waterskin.dm
  code/game/objects/lighting/rogue_fires.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_cauldron_recipe_base.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_cauldron_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_items.dm
  code/modules/roguetown/roguecrafting/alchemy/reagents.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
  code/modules/roguetown/roguejobs/mages/rituals/_ritual.dm
  modular/Neu_Food/code/cookware/bowl.dm
  modular/Neu_Food/code/cookware/cup.dm
  modular/Neu_Food/code/cookware/pot.dm
Labels: Code, TESTMERGED

#3876 Bolt Sprite Fix
  icons/roguetown/weapons/ammo.dmi
Labels: Sprite

#3881 Port of SR 996
  code/modules/mob/living/carbon/human/npc/_npc.dm
Labels: Code

#3872 Removes VL manor from centcom, gives it own dmm file, remaps it entirely to be proper estaste
  _maps/_basemap.dm
  _maps/dun_world.json
  _maps/map_files/dun_world/vl_manor.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/area/roguetownareas.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  roguetown.dme
Labels: Mapping, Code

#3892 fixes input select in after spawn
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/brigand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sellsword.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/foreigner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/trader.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/thug.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/berserker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/outlaw.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/plaguebearer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/poacher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/pyromaniac.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/vigilante.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/garrison/squire.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/freifechter.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grudgebearer.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/vaquero.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/other/lich_skeleton.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
Labels: Code, Balance

#3903 Fixes vice with DNR + DNR prevents rotting
  code/_globalvars/special_traits.dm
  code/datums/character_flaw/_character_flaw.dm
  code/datums/components/rotting.dm
  code/modules/client/preferences.dm
Labels: Code

#3887 Ligula / Ligulae -> Dram / Drams
  code/__HELPERS/reagents.dm
Labels: Code, TESTMERGED

#3856 Adds DSAY for everyone + Non_Admin Observer changes
  code/__DEFINES/preferences.dm
  code/__HELPERS/mobs.dm
  code/_onclick/hud/ghost.dm
  code/game/objects/structures/hell.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/dead/observer/observer.dm
  modular_hearthstone/code/interface/LOOC.dm
Labels: Code, TESTMERGED

#3893 Make Fateweaver 50 integrity but block at least one hit that matters.
  code/__DEFINES/roguetown.dm
  code/modules/clothing/rogueclothes/rings.dm
Labels: Code

#3896 Yep
  code/_compile_options.dm
  code/modules/client/client_procs.dm
Labels: Code

#3906 fixes bathhhouse bug
  code/modules/roguetown/roguemachine/bathmaster.dm
Labels: Code

#3905 Mothgirls. Allow half-kins to pick moth-wings
  code/modules/client/customizer/customizers/organ/antennas.dm
  code/modules/mob/dead/new_player/sprite_accessory/antennas.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
Labels: Code

#3919 Revert "Mothgirls. Allow half-kins to pick moth-wings"
  code/modules/client/customizer/customizers/organ/antennas.dm
  code/modules/mob/dead/new_player/sprite_accessory/antennas.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
Labels: Code

#3913 Removes banditcamp from CENTCOM.DMM puts into own .dmm revamps it entirely
  _maps/dun_world.json
  _maps/map_files/dun_world/bandit_fortress.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/items/rogueitems/keys.dm
Labels: Mapping, Code

#3926 fixes nettlesome scamp not getting declare champion
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Code, Balance

#3920 medicine experts can caut thru armor/clothes whateever
  code/modules/surgery/surgeries/organic_steps.dm
Labels: Code

#3904 New Grenzelhoftian Mercenary: Gefechtsgelehrter (THE REAL BATTLE SCHOLAR)
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/spells/spell_types/wizard/projectiles_aoe/fireball_artillery.dm
  code/modules/spells/spell_types/wizard/spell_list.dm
  icons/mob/actions/roguespells.dmi
  modular_azurepeak/code/game/objects/items/magic_staffs.dm
  modular_azurepeak/icons/obj/items/staffs.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Balance, Sprite

#3928 Orc mob nerf 2.0
  code/modules/mob/living/carbon/human/npc/orc/orc_outfits.dm
Labels: Code

#3930 Resizes character setup window
  code/modules/client/preferences.dm
  interface/skin.dmf
Labels: Code

#3873 Frosted cakes and new rices
  code/_globalvars/food_preferences.dm
  code/datums/pollutants/foods.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/positive_events.dm
  modular/Neu_Food/code/cooked/cooked_cakes.dm
  modular/Neu_Food/code/cooked/cooked_rice.dm
  modular/Neu_Food/code/others/dairy.dm
  modular/Neu_Food/icons/cooked/cooked_cakes.dmi
  modular/Neu_Food/icons/cooked/cooked_rice.dmi
  modular/Neu_Food/icons/others/dairy.dmi
  modular/Neu_Food/icons/raw/raw_cakes.dmi
Labels: Code, TESTMERGED, Feature, Sprite, 🍰Cake🍰

#3933 Fixes fucky character preview for anthro species
  code/modules/client/preferences.dm
  interface/skin.dmf
Labels: Code

#3936 Cache `get_missing_limbs()` for HUD
  code/_onclick/hud/screen_objects.dm
Labels: Code

#3909 HEMABox
  code/game/objects/items.dm
Labels: Code

#3947 Scarlet & Vanderlin Ports & Stuffs
  code/_onclick/drag_drop.dm
  code/controllers/subsystem/processing/mousecharge.dm
  code/modules/mob/mob.dm
  icons/mob/rogueheat.dmi
Labels: Code, Sprite

#3949 changes how emote invocations work (very shittily) and turns abyssor revive into an emote
  code/modules/spells/roguetown/acolyte/resurrect.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/mime.dm
Labels: Code

#3938 Bug-fix - Miacrafting now respects can_craft_here area proc
  code/_onclick/hud/screen_objects.dm
  code/datums/components/crafting/crafting.dm
Labels: Code

#3922 Just one more retinue PR to save the Peaks trust
  code/modules/clothing/rogueclothes/armor/brigandine.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Code, TESTMERGED, Balance

#3918 Increases max number of slots from 40 to 60
  code/modules/client/preferences.dm
Labels: Code

#3952 Task-based Necromancy (small necromancer QOL change)
  code/game/objects/items/rogueitems/necro_relics.dm
Labels: Code

#3961 removes celestial from naledi half elves
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
Labels: Code

#3962 The PR to save Azure Peak - Removed the check for a stone being on the tile already when digging for stones.
  code/modules/roguetown/roguejobs/gravedigger/hole.dm
Labels: Code

#3960 Vizier and Pontifex no longer get spellpoints.
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
Labels: Code, Balance

#3967 Bugfix Pack
  code/datums/mind.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
Labels: Code, Balance

#3923 combat aware minor update
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_topic.dm
  modular_azurepeak/virtues/combat.dm
Labels: Code, TESTMERGED

#3941 De-Vestments Cleric-Monk
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/roguetown/roguecrafting/leather/leather_unique_recipes.dm
Labels: Code, Balance

#3956 IRS: small upgrades to Azurian taxation
  code/__HELPERS/priority_announce.dm
  code/controllers/subsystem/rogue/treasury.dm
  code/datums/taxsetter.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/roguetown/roguemachine/steward/steward.dm
  code/modules/roguetown/roguemachine/titan.dm
  roguetown.dme
  tgui/packages/tgui/interfaces/TaxSetter.tsx
Labels: Code, TESTMERGED, Feature, Balance

#3977 Port Scarlet Reach #833
  code/modules/roguetown/roguemachine/bathmaster.dm
Labels: Code

#3968 Mob Balance Pass + Iron Zweihander -> Claymore
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_melee_iron.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/mob/living/carbon/human/npc/lizardmen_dungeon.dm
  code/modules/mob/living/carbon/human/npc/searaider.dm
  code/modules/mob/living/carbon/human/npc/skeleton/skeleton.dm
  code/modules/mob/living/carbon/human/npc/skeleton/skeleton_outfits.dm
  code/modules/mob/living/carbon/human/npc/soldiers/bog_deserters.dm
  code/modules/mob/living/carbon/human/npc/soldiers/militia.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_weapon.dm
  icons/roguetown/weapons/64.dmi
Labels: Code, Balance, Sprite

#3985 Splits up weapon 32x32 DMIs
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/melee/whip.dm
  code/game/objects/items/rogueweapons/ranged/bows.dm
  code/game/objects/items/rogueweapons/ranged/crossbows.dm
  code/game/objects/items/rogueweapons/ranged/slings.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/mob/living/carbon/human/species_types/wildshape/saiga.dm
  code/modules/mob/living/carbon/human/species_types/wildshape/volf.dm
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/axes32.dmi
  icons/roguetown/weapons/blunt32.dmi
  icons/roguetown/weapons/daggers32.dmi
  icons/roguetown/weapons/misc32.dmi
  icons/roguetown/weapons/shields32.dmi
  icons/roguetown/weapons/swords32.dmi
  icons/roguetown/weapons/whips32.dmi
Labels: Code, Sprite
