Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2025-03, with the labels that each got.

#1565 Spruces lunatic up to a prestige class
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/peasants/lunatic.dm
Labels: Mapping, Balance

#1547 Artificer / Smithing recipe tweaks
  code/game/objects/structures/tables_racks.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificer.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
Labels: Balance

#1562 Ports some Hearthstone duke spells
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
Labels: Balance

#1570 ***Ready for merge*** Removes witches heretic status, gives them unique examine text
  code/__DEFINES/traits.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/witch.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Balance

#1511 [Tested]Repairs Outfits Built with gender instead of pronoun selection
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/crusader.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/other/skeleton.dm
  code/modules/jobs/job_types/roguetown/other/tester.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/peasants/bogprisoner.dm
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/orphan.dm
  code/modules/mob/living/carbon/human/npc/skeleton.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/beggar.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/courier.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/destitute_scholar.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/excommunicado.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/failed_apprentice.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/goatherd.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/runner.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/the_original.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/wanted.dm
Labels: Balance

#1553 BATHMASTER STUFF - BRASSFACE(PT1)
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/cargo/packsrogue/bulk.dm
  code/modules/cargo/packsrogue/drugs.dm
  code/modules/farming/fermenting_barrel.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
  code/modules/roguetown/roguemachine/bathmaster.dm
  roguetown.dme
Labels: Mapping, Balance

#1566 Minor RG role touch-up
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1579 Fix | Town Elder alchemy oversight.
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
Labels: Balance

#1585 Fixes robes + hood on Zizo Missionary
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
Labels: Balance

#1587 Fixes forlorn mercenaries not appearing in the subclass list randomly
  code/modules/jobs/job_types/roguetown/mercenaries/classes/forlorn.dm
Labels: Balance

#1588 Verminvolk Resprite
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  icons/mob/species/anthro_small_femalea.dmi
  icons/mob/species/anthro_small_male.dmi
  icons/mob/species/anthro_small_malea.dmi
  icons/mob/species/goblin_female.dmi
Labels: Spriting

#1574 Custom bounties + bounties changes
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
Labels: Balance

#1580 Fixes bigger helmets becoming pure white when covered in blood
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  icons/effects/blood64.dmi
Labels: Balance, Spriting

#1558 New | Wedding Dress
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/shirts.dmi
Labels: Spriting

#1597 Covetous Crown / Meister / Steward update
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/roguetown/roguemachine/ATM.dm
Labels: Mapping, Balance

#1600 Fixes the Confessor loadout
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
Labels: Balance

#1596 Wretch loadout tweaks
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
Labels: Balance

#1523 Adds a basement to the Zurch.
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1583 Bandit camp remap
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/generic/CentCom.dmm
Labels: Mapping

#1471 ***READY FOR MERGE*** Adds hairstyles to scissors, hairdyes, mirror menu spell, raiders, heretic tab, create bait and gives barber surgeons scissors and dyes
  code/__DEFINES/components.dm
  code/__DEFINES/traits.dm
  code/datums/mind.dm
  code/game/objects/items/rogueitems/hair_dye.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/structures/mirror.dm
  code/modules/cargo/packsrogue/apparel.dm
  code/modules/events/rogue/skellysiege.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/roguetown/heretic_commune.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/spells/roguetown/ranger.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
  roguetown.dme
Labels: Balance

#1609 comments out heretic commune
  code/__DEFINES/traits.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/roguetown/heretic_commune.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_items.dm
Labels: Balance

#1571 Adds herald towner
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/herald.dm
  roguetown.dme
Labels: Balance

#1594 Gives Druid shapeshifting
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/spells/roguetown/acolyte/dendor.dm
Labels: Balance

#1617 merge oversights
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/spells/roguetown/ranger.dm
  roguetown.dme
Labels: Balance

#1616 Armets, Hounskulls, and cuirass/halfplate/psydonarmet details resprites
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/head.dmi
  roguetown.dme
Labels: Balance, Spriting

#1582 Condottiero update!
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  sound/music/combat_condottiero.ogg
Labels: Balance

#1618 Adds Cicerone Trait to most servant roles. + Inn area sound bugfix
  code/__DEFINES/traits.dm
  code/game/area/roguetownareas.dm
  code/game/atoms.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/peasants/knavewench.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
  sound/silence.ogg
Labels: Balance

#1550 Slings
  code/datums/skills/combat.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/game/objects/items/rogueweapons/ranged/slings.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/ammo.dmi
  sound/combat/Ranged/sling-draw-01.ogg
  sound/combat/Ranged/sling-shot-01.ogg
  sound/foley/slingload.ogg
Labels: Spriting

#1620 swaps out black oak bardiches into glaives
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
Labels: Balance

#1626 New Addition | Eora Drip
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/weapons/32.dmi
  modular_azurepeak/code/modules/clothing/rogueclothes/cloaks.dm
  modular_azurepeak/code/modules/clothing/rogueclothes/hats.dm
Labels: Mapping, Balance, Spriting

#1619 Map Update | Mad Duke Manor + Dragon Arena
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/smalldecap.dmm
Labels: Mapping

#1638 Fixes martyr sword disappearing if activated while wielded
  code/modules/jobs/job_types/roguetown/church/martyr.dm
Labels: Balance

#1640 Sprites for ZIZO/Matthios(soon) rituals
  icons/roguetown/misc/rituals.dmi
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
Labels: Spriting

#1642 Kneestingers and Lamias: Adds two mobs & kneestinger tweaks
  _maps/map_files/dun_manor/azure_coast.dmm
  code/datums/ai/controllers/headless.dm
  code/game/objects/effects/glowshroom.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  code/modules/mob/living/simple_animal/rogue/creacher/headless.dm
  code/modules/mob/living/simple_animal/rogue/creacher/lamia.dm
  icons/roguetown/mob/monster/lamia.dmi
  roguetown.dme
Labels: Mapping, Spriting

#1643 Repairs buggy tile near keep excidium
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1644 wretch subclass selection
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
Labels: Balance

#1647 Fix | Old Duke Manor - No more constant shooting
  _maps/map_files/dun_manor/azure_coast.dmm
Labels: Mapping

#1639 Defines Wretch as its own jobslot
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/roguetown.dm
  code/__DEFINES/role_preferences.dm
  code/game/objects/effects/landmarks.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/wretch.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
Labels: Mapping, Balance

#1573 Stylish Gambesons
  code/modules/clothing/rogueclothes/armor.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
Labels: Spriting

#1599 Bathmaster Drugs[PT2 Bathmaster]
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/positive_events.dm
  code/modules/cargo/packsrogue/bulk.dm
  code/modules/cargo/packsrogue/drugs.dm
  code/modules/farming/fermenting_barrel.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  code/modules/roguetown/roguemachine/bathmaster.dm
  code/modules/roguetown/roguemachine/hoardmaster.dm
  code/modules/roguetown/roguemachine/merchant.dm
  icons/roguetown/items/produce.dmi
  sound/music/combat_ozium.ogg
  sound/music/combat_starsugar.ogg
  sound/music/credits.txt
Labels: Spriting

#1477 Add New Virtue Traits to Admin Tool
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/special_traits/traits/traits.dm
  code/modules/jobs/job_types/roguetown/peasants/lunatic.dm
Labels: Balance

#1653 Herozium Name fix
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/cargo/packsrogue/drugs.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  icons/roguetown/items/produce.dmi
Labels: Spriting

#1670 Goblins & Tangling Vines: Reworks skintones & other misc ports
  code/__DEFINES/mobs.dm
  code/controllers/subsystem/ai_controller.dm
  code/datums/ai/_ai_behavior.dm
  code/datums/ai/_ai_controller.dm
  code/datums/status_effects/status_effect.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  code/modules/mob/living/simple_animal/rogue/creacher/tangler.dm
  code/modules/surgery/bodyparts/helpers.dm
  icons/roguetown/mob/monster/tangler.dmi
  roguetown.dme
Labels: Spriting

#1669 New | Feathery Wings v2
  code/modules/client/customizer/customizers/organ/wings.dm
  code/modules/mob/dead/new_player/sprite_accessory/wings.dm
  icons/mob/sprite_accessory/wings/wings.dmi
Labels: Spriting

#1680 Adds prelit lantern, gives it to wretches
  code/game/objects/items/devices/flashlight.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
Labels: Balance

#1674 Map Fix | Bathhouse
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1679 nukes stasis & severs sleep into its own proc
  code/__DEFINES/ai/_ai.dm
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/controllers/subsystem/nightshift.dm
  code/datums/status_effects/debuffs.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
  icons/roguetown/clothing/onmob/helpers/sleeves_shirts_gown.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
  icons/roguetown/clothing/onmob/shirts_gown.dmi
  icons/roguetown/clothing/shirts.dmi
  icons/roguetown/clothing/shirts_gown.dmi
Labels: Spriting

#1688 new advsetup graggar
  code/controllers/subsystem/ai_controller.dm
  code/datums/ai/_ai_behavior.dm
  code/datums/ai/_ai_controller.dm
  code/game/turfs/open/lava.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/life.dm
  icons/mob/advsetup.dmi
Labels: Spriting

#1693 Sleep & Sleeves
  code/__DEFINES/misc.dm
  code/controllers/subsystem/nightshift.dm
  code/game/objects/structures/beds_chairs/roguechair.dm
  code/game/objects/structures/fluff.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/life.dm
  icons/mob/screen_pai.dmi
  icons/mob/screen_plasmafire.dmi
  icons/mob/screen_retro.dmi
  icons/mob/screen_slime.dmi
  icons/mob/screen_slimecore.dmi
  icons/obj/abductor.dmi
  icons/obj/bus.dmi
  icons/obj/car.dmi
  icons/obj/card.dmi
  icons/obj/cardboard_cutout.dmi
Labels: Spriting

#1657 De-Rattifies the Steward
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
Labels: Balance

#1697 ports browser harddel fix & advsetup letter sprite
  code/datums/browser.dm
  code/datums/components/storage/concrete/_concrete.dm
  code/datums/components/storage/storage.dm
  code/game/objects/items/storage/new_storage/tetris.dm
  code/modules/client/asset_cache.dm
  html/browser/slop_menustyle2.css
  icons/mob/advsetup.dmi
  icons/roguetown/misc/try6_border.png
  icons/roguetown/misc/try7.png
Labels: Spriting

#1677 CONSTRUCT PR
  code/__DEFINES/medical.dm
  code/__DEFINES/roguetown.dm
  code/_onclick/item_attack.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/client/customizer/customizers/bodypart_feature/crests.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/roguetown.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/mob/dead/new_player/sprite_accessory/crests.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/construct/_construct.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/construct/constructm.dm
  code/modules/mob/living/stats.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/surgery/bodyparts/bodypart_features/features.dm
  code/modules/surgery/organs/brain.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/stomach.dm
  code/modules/surgery/organs/tongue.dm
  icons/mob/sprite_accessory/crests/crests.dmi
  icons/obj/surgery.dmi
  icons/roguetown/mob/bodies/f/fcom.dmi
  icons/roguetown/mob/bodies/m/mcom.dmi
  roguetown.dme
Labels: Balance, Spriting

#1521 Desert Rider/Naledi Sword Fix
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/cargo/packsrogue/Sellsword.dm
  code/modules/cargo/packsrogue/weapons.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
Labels: Balance

#1576 Proper Knighting of the Knightest Knight (Royal Guard Captain)
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/gamemodes/roguetown/chaosmode.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/gamemodes/roguetown/roguewar.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/roguetown/roguemachine/scomm.dm
  modular_hearthstone/code/game/objects/items/signal_horn.dm
Labels: Mapping, Balance

#1593 Thug Hunter Expansion (Towner Thug Changes)
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/thug.dm
Labels: Balance

#1623 Adds cooling table of friendship between farm and inn
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1725 tweaks rosa sprite
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/thug.dm
  icons/roguetown/misc/herbfoliage.dmi
Labels: Balance, Spriting

#1692 Errant Knight Hemlets.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
Labels: Balance

#1628 Test faith verb clean-up
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
Labels: Balance

#1728 fixes bugged tile on dunmanor south gate 2ndfloor
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1672 Bathmaster Vault[PT3 Bathmaster stuff]
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/area/roguetownareas.dm
  code/modules/roguetown/roguemachine/bathmaster.dm
Labels: Mapping

#1709 Heretic Update | Graggar + Baotha options
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
Labels: Balance

#1734 Adjusts spell scroll dungeon loot table
  _maps/templates/smalldungeons.dm
  code/game/objects/items/granters.dm
Labels: Mapping

#1740 Excidium fixes
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/azure_forest.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/admin/admin_verbs.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/wanted.dm
Labels: Mapping, Balance

#1712 Mercenary Passover/Pontifex Remaster
  code/game/objects/items/rogueweapons/ranged/crossbows.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/forlorn.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/underdweller.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/vaquero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  icons/effects/effects.dmi
  icons/mob/actions/roguespells.dmi
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
  sound/magic/shadowstep.ogg
  sound/magic/shadowstep_destination.ogg
Labels: Balance, Spriting

#1732 Black Oak Update, Warden Outfit, Glaive changes
  code/__DEFINES/sound.dm
  code/__DEFINES/traits.dm
  code/game/objects/effects/glowshroom.dm
  code/game/objects/items/beartraps.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/game/objects/items/rogueitems/natural/stones.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/structures/maneater.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/game/sound.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
  code/modules/mob/living/ambush.dm
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/special/onmob/race_armor.dmi
  icons/roguetown/clothing/special/onmob/warden.dmi
  icons/roguetown/clothing/special/race_armor.dmi
  icons/roguetown/clothing/special/warden.dmi
  icons/roguetown/clothing/special/warden64.dmi
  roguetown.dme
  sound/foley/footsteps/armor/woodarmor (1).ogg
  sound/foley/footsteps/armor/woodarmor (2).ogg
  sound/foley/footsteps/armor/woodarmor (3).ogg
  sound/music/combat_blackoak.ogg
Labels: Balance, Spriting

#1743 Fixes smith/artificer door
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1706 Adds craftable knuckle dusters
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/32.dmi
Labels: Spriting

#1738 Dreamkeep Crops & Produce Ports
  code/modules/farming/chaff.dm
  code/modules/farming/plant_def.dm
  code/modules/farming/produce.dm
  code/modules/farming/seeds.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  icons/roguetown/items/produce.dmi
  icons/roguetown/misc/crops.dmi
  modular/Neu_Food/code/NeuFood.dm
  modular/Neu_Food/code/cooked/NeuFood_meals.dm
  modular/Neu_Food/code/cooked/NeuFood_pies.dm
  modular/Neu_Food/code/cooked/NeuFood_snacks.dm
  modular/Neu_Food/code/raw/NeuFood_dough.dm
  modular/Neu_Food/code/raw/NeuFood_veggies.dm
  modular/Neu_Food/icons/food.dmi
Labels: Spriting

#1755 adds back bar passage
  code/game/objects/structures/plasticflaps.dm
  icons/obj/guns/bayonets.dmi
  icons/obj/power_cond/cable.dmi
  icons/obj/power_cond/layer_cable.dmi
  icons/obj/power_cond/pipe_cleaner.dmi
  icons/obj/power_cond/power_cond_heavy.dmi
  icons/obj/power_cond/power_local.dmi
  icons/roguetown/misc/structure.dmi
Labels: Spriting

#1780 Fixes missing wicker cloak sprites for fem bodies
  icons/roguetown/clothing/onmob/cloaks.dmi
Labels: Spriting

#1782 Instrument choice for Vaqueros
  code/modules/jobs/job_types/roguetown/mercenaries/classes/vaquero.dm
Labels: Balance

#1769 Small Collection of Oversight Fixes
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
Labels: Balance

#1737 No More Zybantia
  code/datums/gods/faiths/old_god.dm
  code/game/objects/structures/roguetown/telescope.dm
  code/modules/cargo/packsrogue/Sellsword.dm
  code/modules/cargo/packsrogue/alcohols.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/forlorn.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
  modular/Neu_Food/code/raw/NeuFood_dough.dm
Labels: Balance

#1729 Town & keep, when the players yearned for good housing
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1787 Fixes bathmaster vault
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1772 Adv monks now have the choice between katar, dusters and civilized barb
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
Labels: Balance

#1708 Map Update | Pier House + Sand + Beach Cove
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1722 Ravox and Xylix acolytes edit: and templars
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance

#1761 Map Update | Inquisition Chambers
  _maps/map_files/dun_manor/dun_manor.dmm
  code/modules/jobs/job_types/roguetown/Inquisition/orthodoxist.dm
Labels: Mapping, Balance

#1791 Hot Fix | Inquisition Doors
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1792 Reworks 'Royal Guard'
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/gamemodes/objective_items.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/jobs.dm
  modular_hearthstone/code/game/objects/items/signal_horn.dm
Labels: Mapping, Balance

#1794 Grant Nobility Bugfix/tweak
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
Labels: Balance

#1796 i didn't give concubines a nightmaiden key
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
Labels: Balance

#1802 Map Update | More things I forgot.
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1783 Harlequin [New Adventurer Trader subclass]
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/trader.dm
Labels: Balance

#1731 Adds he/him (femme clothes) and she/her (male clothes) pronouns
  code/__DEFINES/preferences.dm
  code/__HELPERS/pronouns.dm
  code/datums/mob_descriptors/descriptors/stature.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/vaquero.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/other/skeleton.dm
  code/modules/jobs/job_types/roguetown/other/tester.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/peasants/bogprisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/peasants/hostage.dm
  code/modules/jobs/job_types/roguetown/peasants/knavewench.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
  code/modules/jobs/job_types/roguetown/yeomen/tailor.dm
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/orphan.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
  code/modules/mob/living/living_descriptors.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/beggar.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/courier.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/destitute_scholar.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/excommunicado.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/failed_apprentice.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/goatherd.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/runner.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/the_original.dm
  modular_azurepeak/code/modules/jobs/job_types/roguetown/vagabond/wanted.dm
Labels: Balance

#1661 Men at arms sprucing; adjustments, variants, and a mounted version
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1718 MAA/Sergeant Tracking + Mild Changes PR (I'm coping.... I'm seething.....)
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
Labels: Balance

#1641 ***READY FOR MERGE*** Mindlink spell
  code/datums/mindlink.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/herald.dm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
  roguetown.dme
Labels: Balance

#1804 Tiny Little Kettle Helmet Resprite (I hate merge conflicts)
  icons/roguetown/clothing/onmob/head.dmi
Labels: Spriting

#1814 Blink fixes
  _maps/map_files/dun_manor/dun_manor.dmm
  modular_hearthstone/code/modules/spells/roguetown/wizard.dm
Labels: Mapping

#1833 Mapping Oversights Fix
  _maps/map_files/dun_manor/azure_coast.dmm
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1834 smol acolyte "fix"
  code/modules/jobs/job_types/roguetown/church/monk.dm
Labels: Balance

#1845 Adds back old kettle helm sprites, keeps new sprites as a separate 'wide kettle' helmet
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Spriting

#1827 Wardens new helmet
  _maps/map_files/dun_manor/azure_forest.dmm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  icons/roguetown/clothing/special/onmob/warden64.dmi
  icons/roguetown/clothing/special/warden.dmi
Labels: Mapping, Balance, Spriting

#1843 Map Update | Marshal Quarters
  _maps/map_files/dun_manor/dun_manor.dmm
Labels: Mapping

#1798 Adjusts brigandine coverage. Adds Knight/Knight Errant armor selection. Reintroduces guardsman trait
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1860 New | Steel and Iron Chain Kilts
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
Labels: Spriting

#1832 Give Otavan Routiers Apprentice Ride + Fix Otavan Boots
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
Labels: Balance

#1863 Heavy knight no longer applies duplicate traits
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
Labels: Balance

#1762 Polearm Pass-over and armoryism
  _maps/map_files/dun_manor/dun_manor.dmm
  code/game/objects/items/rogueweapons/melee/polearms.dm
Labels: Mapping

#1871 Zizoan Zlumber: Adds SSD indicator
  code/modules/mob/living/login.dm
  code/modules/mob/living/logout.dm
  code/modules/mob/living/ssd_indicator.dm
  icons/mob/ssd_indicator.dmi
  roguetown.dme
Labels: Spriting

#1678 ***READY FOR MERGE*** The Flagellant: A Living Martyr
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  modular_hearthstone/code/modules/spells/roguetown/flagellant.dm
  roguetown.dme
Labels: Balance

#1819 Vizier Rework - Oracle of Order
  code/datums/status_effects/rogue/roguebuff.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/spells/roguetown/acolyte/general.dm
  icons/mob/actions/roguespells.dmi
  icons/mob/overhead_effects.dmi
  sound/magic/convergence1.ogg
  sound/magic/convergence2.ogg
  sound/magic/convergence3.ogg
  sound/magic/convergence4.ogg
  sound/magic/regression1.ogg
  sound/magic/regression2.ogg
  sound/magic/regression3.ogg
  sound/magic/regression4.ogg
  sound/magic/timeforward.ogg
  sound/magic/timereverse.ogg
Labels: Mapping, Balance, Spriting

#1750 Alchemy Additions - New ingredients to fix uncraftable recipes
  code/modules/roguetown/roguecrafting/alchemy/grind_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  icons/roguetown/misc/alchemy.dmi
Labels: Spriting

#1873 Matthios Ritual armaments/Matthios Armor/Chainmantle
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/Iconoclast.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/64x64/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_pants.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
  modular_azurepeak/code/game/objects/items/ritechalk.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
Labels: Balance, Spriting

#1895 Stops Stockpile Rotten Meat Exploit + Wretch/Bandit Meister Standardization
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/roguetown/roguestock/_roguestock.dm
Labels: Code

#1839 Cure Rot surgery and miracle will now leave behind a corpse
  code/modules/antagonists/roguetown/villain/zombie/remove_rot.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: Code

#1882 (Ready) New Wretch Class: Berserker!
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  sound/music/combat_berserker.ogg
Labels: Code, Feature, Balance

#1886 change knight combat music + give squires old knight music
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  sound/music/combat_knight.ogg
  sound/music/combat_squire.ogg
  sound/music/credits.txt
Labels: Code

#1842 The Great Purge of Nobility (Stops Constructs from being nobility + stops Noble Church)
  code/datums/migrants/migrant_waves/heartfelt roles.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/disciple.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/heartfelt.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/martyr.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
Labels: Code

#1897 Readds Outlaws Whoops !
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
Labels: Balance
