Repository GeneralPantsuIsBadAtCoding/Azure-Peak, pull requests merged in 2025-06, with the labels that each got.

#2618 Add Perfume to Merchant inventory.
  code/modules/roguetown/roguemachine/merchant/goldface.dm
Labels: Code

#2616 Teapots + Teacups from Ketrai!
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/ceramics.dm
  code/modules/cargo/packsrogue/merchant/luxury.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/potter.dm
  code/modules/roguetown/roguecrafting/ceramics.dm
  icons/roguetown/items/cooking.dmi
  modular/Neu_Food/code/cookware/cup.dm
  modular/Neu_Food/icons/cookware/cup.dmi
Labels: Mapping, Code, Balance, Sprite

#2613 Lets helmet not hide hair/ears by default
  code/modules/clothing/rogueclothes/hats.dm
Labels: Code

#2620 QOL refunds for Anastasis on cast failures
  code/modules/spells/roguetown/acolyte/astrata.dm
Labels: Code

#2606 Recipe book Expansion - Alchemy & Crafting
  code/datums/components/crafting/recipes.dm
  code/modules/crafting/recipe_books/book_entries/book_entry_base.dm
  code/modules/crafting/recipe_books/recipe_book.dm
  code/modules/crafting/recipe_books/recipe_books_list.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_cauldron_recipe_base.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_cauldron_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_grind_recipe_base.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_grind_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  code/modules/roguetown/roguecrafting/crafting/ammo_and_ranged.dm
  code/modules/roguetown/roguecrafting/crafting/clothes.dm
  code/modules/roguetown/roguecrafting/crafting/houseware.dm
  code/modules/roguetown/roguecrafting/crafting/weapons_tools.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  modular_azurepeak/code/modules/alchemy/alchemy_recipes.dm
  roguetown.dme
Labels: Code, TESTMERGED

#2622 visored sallet now covers hair
  code/modules/clothing/rogueclothes/hats.dm
  modular_azurepeak/code/game/objects/items/donator_fluff_items.dm
Labels: Code

#2627 Update Giant's Strength and Fortitude to use new icons by Zydras. Haste Icon
  code/modules/spells/spell_types/wizard/buffs_debuffs/fortitude.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/giants_strength.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/haste.dm
  icons/mob/actions/roguespells.dmi
Labels: Code, Sprite

#2619 Normalizes some Buff Spells cast times - Featherfall is no longer complete ass
  code/modules/spells/spell_types/wizard/buffs_debuffs/enlarge.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/featherfall.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/leap.dm
Labels: Code

#2631 Repath teapot to a type of pot.
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/ceramics.dm
  code/modules/cargo/packsrogue/merchant/luxury.dm
  modular/Neu_Food/code/cookware/cup.dm
  modular/Neu_Food/code/cookware/pot.dm
  modular/Neu_Food/icons/cookware/cup.dmi
  modular/Neu_Food/icons/cookware/pot.dmi
Labels: Mapping, Code

#2598 Adjusts / Buffs Werewolf claws and armor
  code/modules/antagonists/roguetown/villain/werewolf/werewolf.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/werewolf.dm
Labels: Code, TESTMERGED, Balance

#2635 Actually allows brewing at lvl 3
  code/modules/farming/fermenting_barrel.dm
Labels: Code

#2638 Skirts & Weapons minor sprite update
  code/game/objects/effects/spawners/equipment_spawners.dm
  code/game/objects/effects/spawners/loot_spawners.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/clothing/onmob/helpers/sleeves_pants.dmi
  icons/roguetown/clothing/onmob/pants.dmi
Labels: Code, Sprite

#2582 Ports Vanderlin's Attack Animations (with Azure Tweaks)
  code/__DEFINES/combat.dm
  code/__HELPERS/game.dm
  code/__HELPERS/qdel.dm
  code/_onclick/click.dm
  code/_onclick/item_attack.dm
  code/game/atoms_movable.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
Labels: Code, TESTMERGED, Feature

#2579 Thiefenening Part 1: Thieves' Cant
  code/__DEFINES/language.dm
  code/game/turfs/closed/walls.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/ranger.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/thug.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/outlaw.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/condottiero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/warscholar.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/yeomen/nightmaster.dm
  code/modules/language/language.dm
  code/modules/language/roguetown/thievescant.dm
  code/modules/mob/living/say.dm
  modular_hearthstone/code/game/objects/effects/track.dm
  modular_hearthstone/icons/obj/effects/track.dmi
Labels: Code, TESTMERGED, Feature, Balance

#2614 Thunderstrike Revamp
  code/modules/spells/spell_types/wizard/invoked_aoe/thunderstrike.dm
Labels: Code, TESTMERGED, Balance

#2646 Fixes Wise-Tree Sprite & Inverted Cross Sprite
  code/game/objects/structures/flora.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/modules/spells/roguetown/create_wise_tree.dm
Labels: Code

#2617 Spellblade Subclass + Unique Air Blade Spell
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  code/modules/spells/spell_types/wizard/projectiles_single/air_blade.dm
  code/modules/spells/spell_types/wizard/projectiles_single/arcyne_bolt.dm
  code/modules/spells/spell_types/wizard/projectiles_single/guided_bolt.dm
  icons/mob/actions/roguespells.dmi
  icons/obj/projectiles.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Balance, Sprite

#2649 sets a minimum population for storyteller antags
  code/__DEFINES/storytellers.dm
  code/controllers/configuration/entries/storyteller.dm
Labels: Code, TESTMERGED

#2610 Necromancer Wretch update (Skeletons)
  code/game/objects/items/rogueitems/necro_relics.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/spells/roguetown/necromancer.dm
  icons/roguetown/items/gems.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Balance, Sprite

#2648 single file ragebait balance pr
  code/game/objects/items/rogueweapons/melee/swords.dm
Labels: Code, Balance

#2660 one file pr i made on my phone that makes alcohols say what they are
  code/modules/cargo/packsrogue/merchant/alcohols.dm
Labels: Code

#2651 Eoran hotspring/shrine area
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/roguetownareas.dm
Labels: Mapping, Code, TESTMERGED, Feature

#2656 Lux fix and (almost) painless surgeries
  code/modules/surgery/bodyparts/bodypart_wounds.dm
  code/modules/surgery/surgeries/organic_steps.dm
  code/modules/surgery/surgeries_hearth/extract_lux.dm
  code/modules/surgery/surgeries_hearth/revival.dm
Labels: Code, TESTMERGED

#2672 skirt layers
  code/modules/clothing/rogueclothes/pants.dm
Labels: Code

#2633 Second Disinflation Act of Azuria - Nuking the Keep Vault
  code/controllers/subsystem/rogue/treasury.dm
  code/modules/roguetown/roguemachine/bathmaster.dm
  code/modules/roguetown/roguemachine/steward/steward.dm
  code/modules/roguetown/roguemachine/stockpile/stockpile.dm
  code/modules/roguetown/roguemachine/submission.dm
  code/modules/roguetown/roguestock/_roguestock.dm
  code/modules/roguetown/roguestock/bounties.dm
  code/modules/roguetown/roguestock/stockpile_food.dm
Labels: Code, TESTMERGED

#2677 Reduce Adv. Mage spellpoint by 3.
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
Labels: Code, Balance

#2678 Fixes Pain Mod
  code/modules/mob/living/carbon/life.dm
Labels: Code

#2659 Food Scent Update + Deeper Rotten Scent Color
  code/datums/pollutants/foods.dm
  code/datums/pollutants/generic.dm
  modular/Creechers/code/trufflepig.dm
  modular/Neu_Food/code/cooked/cooked_cakes.dm
  modular/Neu_Food/code/raw/raw_deep_fried.dm
  modular/Neu_Food/code/raw/raw_dough.dm
  modular/Neu_Food/code/raw/raw_fish.dm
  modular/Neu_Food/code/raw/raw_meat.dm
  modular/Neu_Food/code/raw/raw_pies.dm
  modular/Neu_Food/code/raw/raw_shellfish.dm
  modular/Neu_Food/code/raw/raw_veggies.dm
Labels: Code, TESTMERGED

#2680 Proofreading and Description Pass: Baked Foods
  code/game/objects/effects/decals/cleanable/food.dm
  modular/Neu_Food/code/cooked/cooked_baked.dm
  modular/Neu_Food/code/cooked/cooked_cakes.dm
  modular/Neu_Food/code/cooked/cooked_egg.dm
  modular/Neu_Food/code/cooked/cooked_meat_meal.dm
  modular/Neu_Food/code/cooked/cooked_pastry.dm
Labels: Code

#2655 Potential BanditFix
  code/__HELPERS/round_statistics.dm
  code/controllers/subsystem/rogue/role_class_handler/role_class_handler.dm
  code/controllers/subsystem/storyteller.dm
  code/game/gamemodes/roguetown/roguelite.dm
  code/game/gamemodes/roguetown/roguemedium.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/events/antagonist/migrant_waves/bandits.dm
  code/modules/events/antagonist/solo/bandits.dm
  roguetown.dme
Labels: Code, TESTMERGED

#2663 Cave Troll, Stone Throw Fix
  code/datums/actions/mobs/stone_throw.dm
  code/datums/ai/controllers/troll.dm
  code/modules/mob/living/simple_animal/rogue/creacher/trolls/trollcave.dm
  roguetown.dme
Labels: Code, TESTMERGED

#2685 Butcher Towner is now (slightly) less shit
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/tbutcher.dm
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
Labels: Code, Balance

#2686 Shaman combat theme change and lore improvement to items.
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  sound/music/combat_shaman2.ogg
  sound/music/credits.txt
Labels: Code, Balance, Sound

#2666 North gate stairs and keep walls
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping, TESTMERGED

#2690 Particle spritefixes
  code/game/area/roguetownareas.dm
  code/modules/hotspring/hotspring.dm
  icons/effects/particles/particle.dmi
  icons/effects/particles/smoke.dmi
  roguetown.dme
Labels: Code, Sprite

#2691 Update Latin Phrases for a dozen spells to new translation by Puma.
  code/modules/spells/spell_types/wizard/buffs_debuffs/giants_strength.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/hawks_eyes.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/stoneskin.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_armor.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_weapon.dm
  code/modules/spells/spell_types/wizard/invoked_aoe/thunderstrike.dm
  code/modules/spells/spell_types/wizard/misc/arcyne_prison.dm
  code/modules/spells/spell_types/wizard/misc/enchant_weapon.dm
  code/modules/spells/spell_types/wizard/misc/greater_forcewall.dm
  code/modules/spells/spell_types/wizard/utility/create_campfire.dm
  code/modules/spells/spell_types/wizard/utility/light.dm
  modular_hearthstone/code/modules/spells/roguetown/flagellant.dm
Labels: Code

#2693 Tweak Base Magic Resource Size to 1x1.
  code/game/objects/items/rogueitems/magic/magic_resources.dm
Labels: Code

#2692 Update | Bathhouse Kitchen Adds
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2591 Ports Apiaries & adds Beekeeper's hood
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/lighting/rogue_fires.dm
  code/game/objects/structures/apiary.dm
  code/game/objects/structures/fluff.dm
  code/modules/cargo/packsrogue/merchant/food.dm
  code/modules/cargo/packsrogue/merchant/livestock.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/farming/soil.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lchef.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/mob/living/simple_animal/rogue/creacher/honeyspider.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/structure.dm
  icons/obj/reagentfillings.dmi
  icons/obj/structures/apiary.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/items/cooking.dmi
  icons/roguetown/items/misc.dmi
  modular/Neu_Food/code/others/honey.dm
  modular/Neu_Food/icons/others/honey.dmi
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/mirespiders.dm
  roguetown.dme
Labels: Mapping, Code, TESTMERGED, Balance, Sprite

#2699 fixes dagger sprites
  icons/roguetown/weapons/32.dmi
Labels: Sprite

#2705 Clickcd Fixes
  code/__DEFINES/combat.dm
  code/_onclick/click.dm
  code/_onclick/item_attack.dm
Labels: Code

#2653 Lance, Boar Spear, Kriegmesser & Longsword Update!
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/cargo/packsrogue/Knight.dm
  code/modules/cargo/packsrogue/Sellsword.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_weapon.dm
  icons/mob/roguehud.dmi
  icons/roguetown/weapons/64.dmi
  icons/roguetown/weapons/64x64_AZUREPEAK_LONGPACK.dmi
  icons/roguetown/weapons/polearms64.dmi
  icons/roguetown/weapons/swords64.dmi
Labels: Code, TESTMERGED, Balance, Sprite

#2671 [Eoran miracles] - Pomegranates - Discrimination against the ugly
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/mob/vision_cone.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  code/modules/spells/roguetown/acolyte/eora/eora_reagents.dm
  code/modules/spells/roguetown/acolyte/eora/eora_status_effects.dm
  icons/mob/actions/roguespells.dmi
  icons/mob/screen_alert.dmi
  modular_azurepeak/icons/obj/items/eora_pom.dmi
  modular_azurepeak/icons/obj/items/eora_tree.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Feature, Sprite

#2675 runtime bundle for TM
  code/_globalvars/special_traits.dm
  code/_onclick/other_mobs.dm
  code/controllers/subsystem/adjacent_air.dm
  code/datums/mind.dm
  code/modules/client/preferences_descriptors.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Code, TESTMERGED

#2709 Fix missing cleaver sprite
  icons/roguetown/weapons/32.dmi
Labels: Sprite

#2661 Colour Sanitization Changes
  code/_globalvars/customization/organ_customization.dm
  code/game/objects/items/rogueitems/hair_dye.dm
  code/game/objects/structures/mirror.dm
  code/modules/client/customizer/customizer_choice.dm
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_body_markings.dm
  code/modules/roguetown/roguejobs/tailor/dyer.dm
Labels: Code, TESTMERGED

#2683 Butcher Rewrite + New Lists!
  code/modules/mob/living/simple_animal/simple_animal.dm
  modular/Creechers/code/trufflepig.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/dragon.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/minotaur.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/mirespiders.dm
Labels: Code, TESTMERGED

#2712 fixes an oversight with lux revival
  code/modules/surgery/surgeries_hearth/revival.dm
Labels: Code

#2711 Add Ration Pack by Pintlewaiver!
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/roguetown/roguecrafting/items.dm
  modular/Neu_Food/code/cookware/ration.dm
  modular/Neu_Food/icons/cookware/ration.dmi
  roguetown.dme
Labels: Mapping, Code

#2714 Colorable Grenzelhoft Mercenary Clothing!
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/pants.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
Labels: Code, Sprite

#2716 Fix lantern crafting runtime + lantern doesnt flip away anymore on craft
  code/game/objects/lighting/_base_roguelight.dm
  code/game/objects/lighting/rogue_fires.dm
  code/modules/roguetown/roguejobs/cook/tools/oven.dm
Labels: Code

#2717 Some small bath-house related map fixes.
  _maps/map_files/dun_world/dun_world.dmm
  code/game/area/roguetownareas.dm
Labels: Mapping, Code

#2723 Fixes spellbook refund infinite duplication
  code/datums/mind.dm
  modular_azurepeak/code/game/objects/items/spellbooks.dm
Labels: Code

#2644 Port of "Mark of the Gravebound" + Skeleton faction assigment touch-ups
  code/datums/ai/targetting_datum/simple_targetting_datum.dm
  code/modules/antagonists/roguetown/villain/choosename.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/mob/living/simple_animal/hostile/simple_skeleton.dm
  code/modules/spells/roguetown/necromancer.dm
  modular_azurepeak/code/modules/spells/minion_order.dm
Labels: Code, Balance

#2695 The beach episode
  _maps/map_files/dun_world/dun_world.dmm
  code/game/turfs/open/floor/roguefloor.dm
  icons/turf/roguefloor.dmi
Labels: Mapping, Code, TESTMERGED, Sprite

#2729 Sewing success / time
  code/game/objects/items/rogueitems/needle.dm
Labels: Code

#2730 Potter-Changes
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/bags.dm
  code/game/objects/items/rogueitems/ceramics.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
Labels: Mapping, Code

#2727 Fixes #2694 and #2634
  code/datums/sexcon/sexcon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lpeasant.dm
  code/modules/roguetown/roguecrafting/crafting/ammo_and_ranged.dm
Labels: Code, Balance

#2734 fixes grenzlehoft zweihander
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
Labels: Code, Balance

#2744 Enables Hyenas.
  code/modules/client/customizer/customizers/organ/snout.dm
Labels: Code

#2740 Adds Slitted Kettle Helmet
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Code, Balance, Sprite

#2745 Removes evil-ass floating minecraft dirtblock on the Azure Coast
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#2742 Cleric Helmet fix
  icons/roguetown/clothing/onmob/head.dmi
Labels: Sprite

#2746 Fixes inert glands being -too- hard to get
  code/modules/roguetown/roguecrafting/alchemy.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/mirespiders.dm
Labels: Code

#2750 Steppesman Drip Redo
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/robes.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
Labels: Code, Balance, Sprite

#2754 More Bangs for your Bun - Adds Bangs and Bun bodymarkings
  code/modules/mob/dead/new_player/body_markings/body_markings.dm
  code/modules/mob/living/carbon/human/species_types/furry/akula.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
  code/modules/mob/living/carbon/human/species_types/furry/anthromorphsmall.dm
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/kobold.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/tabaxi.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  icons/mob/body_markings/other_markings.dmi
Labels: Code, Sprite

#2757 Remove Blindness from Spell Mage List.
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/spells/roguetown/acolyte/noc.dm
  code/modules/spells/spell_types/wizard/spell_list.dm
Labels: Code, Balance

#2760 [Comm] Ports Stonekeep Facial Features / Accessories
  code/modules/client/customizer/customizers/bodypart_feature/misc.dm
  code/modules/mob/dead/new_player/sprite_accessory/misc.dm
  icons/mob/sprite_accessory/accessory.dmi
  icons/mob/sprite_accessory/face_detail.dmi
Labels: Code, Sprite

#2741 Notice Boards[Commission]
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/roguetown.dm
  code/controllers/subsystem/rogue/roguemachine.dm
  code/modules/roguetown/roguemachine/noticeboard.dm
  icons/roguetown/misc/64x64.dmi
  roguetown.dme
Labels: Mapping, Code, TESTMERGED, Feature, Sprite

#2771 Zun Fix Ports from Ratwood
  code/game/atoms_movable.dm
  code/modules/client/client_procs.dm
Labels: Code

#2774 Add bun-bangs to halfelfs-tieflings
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
Labels: Code

#2767 Light brig colour
  code/modules/clothing/rogueclothes/armor.dm
Labels: Code

#2670 Rebalances Lich skeletons + Enables Lich
  code/__DEFINES/roguetown.dm
  code/__DEFINES/role_preferences.dm
  code/__HELPERS/priority_announce.dm
  code/_globalvars/lists/poll_ignore.dm
  code/controllers/subsystem/nightshift.dm
  code/game/objects/items/rogueitems/necro_relics.dm
  code/game/turfs/open/water.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/events/antagonist/solo/lich.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/courtagent.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/other/greater_skeleton.dm
  code/modules/jobs/job_types/roguetown/other/lich_skeleton.dm
  code/modules/jobs/job_types/roguetown/other/skeleton.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/npc/skeleton.dm
  code/modules/spells/roguetown/necromancer.dm
  roguetown.dme
Labels: Code, TESTMERGED, Balance

#2753 Sets the most influential storyteller pick cooldown to 90 minutes
  code/controllers/subsystem/storyteller.dm
Labels: Code, TESTMERGED, Fix

#2780 Removes strength statcheck causing weapons to drop.
  code/_onclick/item_attack.dm
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Code

#2764 Kills old pixelshifting
  code/datums/keybinding/mob.dm
  code/modules/mob/mob.dm
Labels: Code

#2773 itty bitty light tweak
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/devices/flashlight.dm
Labels: Code

#2569 Profane Words, Divine Holy Fire & Prayer Limitations (Partial Vander Port)
  code/__DEFINES/dcs/signals/signals_mob.dm
  code/datums/character_flaw/addiction.dm
  code/datums/gods/_patron.dm
  code/datums/gods/patrons/atheism.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/datums/gods/patrons/old_god.dm
  code/game/gamemodes/personal_objectives/profane_shrines.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/examine.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/update_icons.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/roguetown/acolyte/malum.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/matthios.dm
Labels: Code, TESTMERGED

#2776 Chills jams to get mogged at the hamlet with (READY)
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  sound/music/combat_baotha.ogg
  sound/music/combat_graggar.ogg
  sound/music/combat_heretic.ogg
  sound/music/combat_matthios.ogg
  sound/music/credits.txt
Labels: Code, Balance, Sound

#2768 Merchantry Sweep - Part 1
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/inhands_rogue.dm
  code/game/objects/items/rogueitems/natural/wood.dm
  code/game/objects/items/rogueitems/waterskin.dm
  code/game/objects/structures/roguetown/rogueflora.dm
  code/modules/cargo/packsrogue/Knave.dm
  code/modules/cargo/packsrogue/_pack.dm
  code/modules/cargo/packsrogue/merchant/adventure_supplies.dm
  code/modules/cargo/packsrogue/merchant/apparel.dm
  code/modules/cargo/packsrogue/merchant/armor.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_iron.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_light.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_steel.dm
  code/modules/cargo/packsrogue/merchant/food.dm
  code/modules/cargo/packsrogue/merchant/luxury.dm
  code/modules/cargo/packsrogue/merchant/tools.dm
  code/modules/cargo/packsrogue/merchant/weapons.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_melee_iron.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_melee_steel.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_ranged.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/jobs/job_types/roguetown/church/martyr.dm
  code/modules/roguetown/roguecrafting/leather/leather_armor_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_container_recipes.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  code/modules/roguetown/roguemachine/merchant/goldface.dm
  code/modules/roguetown/roguestock/bounties.dm
  modular_azurepeak/code/game/objects/items/gwstrap.dm
  modular_azurepeak/code/game/objects/items/twstrap.dm
  roguetown.dme
Labels: Mapping, Code, TESTMERGED, Balance

#2796 fixes double attack animation
  code/_onclick/item_attack.dm
Labels: Code

#2794 Conjure Weapon - No More Infinite Bladeworks
  code/modules/spells/spell_types/touch_attacks.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_weapon.dm
Labels: Code

#2797 Hoardmaster fixes
  code/modules/cargo/packsrogue/Sawbones.dm
  code/modules/cargo/packsrogue/Things.dm
Labels: Code

#2806 Fixes item repair not restoring force properly
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/rogueweapon.dm
Labels: Code

#2808 Two small fixes
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/witch.dm
  code/modules/roguetown/roguemachine/merchant/goldface.dm
Labels: Code, Balance

#2815 Fixes for Sleeves, Monk Vestments, Executioner Sword, etc
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/robes.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
Labels: Code, Sprite

#2824 Fix smelter mind / quality issue (probably) + Revert Steel Recipe
  code/modules/roguetown/roguejobs/blacksmith/smelter.dm
Labels: Code

#2821 Lootdrop Icons for StrongDMM
  _maps/templates/smalldungeons.dm
  code/game/objects/effects/spawners/clutter_spawner.dm
  code/game/objects/effects/spawners/equipment_spawners.dm
  code/game/objects/effects/spawners/loot_spawners.dm
  code/game/objects/effects/spawners/lootdrop.dm
  icons/roguetown/helpers/spawnerhelpers.dmi
Labels: Mapping, Code, Sprite

#2809 Flagellant Rework
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  modular_hearthstone/code/modules/spells/roguetown/flagellant.dm
  roguetown.dme
Labels: Code, TESTMERGED, Balance

#2791 Throwing/Jumping Through Windows - Vanderlin Port
  code/_onclick/other_mobs.dm
  code/datums/stress/negative_events.dm
  code/game/objects/structures/roguewindow.dm
  code/modules/mob/living/living_defines.dm
Labels: Code, TESTMERGED, Feature

#2807 voice colored emotes
  code/datums/emotes.dm
Labels: Code, TESTMERGED

#2827 Adds some missing Tabards to the sewing list
  code/modules/roguetown/roguecrafting/sewing.dm
Labels: Code

#2785 [READY] New Mercenary Class: The Freifechters
  code/__DEFINES/roguetown.dm
  code/datums/status_effects/rogue/debuff.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/freifechter.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather/leather_container_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_footwear_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_unique_recipes.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/belts.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/back_l.dmi
  icons/roguetown/clothing/onmob/back_r.dmi
  icons/roguetown/clothing/onmob/belts.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/clothing/storage.dmi
  icons/roguetown/weapons/64.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Balance, Sprite

#2799 Allows for auto mining mineral walls
  code/game/turfs/closed/minerals.dm
Labels: Code, TESTMERGED, Feature

#2747 Crit Threshold & Limb Health Changes
  code/modules/roguetown/roguejobs/engineer/prostheticarm.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
Labels: Code, TESTMERGED, Balance

#2818 Firestack, Some Spells Adjustment, Turf RR Removal
  code/game/turfs/open/lava.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/spells/spell_types/wizard/invoked_aoe/snap_freeze.dm
  code/modules/spells/spell_types/wizard/projectiles_aoe/fireball.dm
  code/modules/spells/spell_types/wizard/projectiles_aoe/greater_fireball.dm
Labels: Code, Balance

#2830 Merge Conflict Marker
  code/game/objects/objs.dm
  icons/obj/merge_conflict_marker.dmi
Labels: Code, Sprite

#2829 More flavorful Alcohols
  code/modules/reagents/chemistry/reagents/rt_alcohol_reagents.dm
Labels: Code

#2802 A coastal glow-up - Abyssor reconquest
  _maps/map_files/dun_world/dun_world.dmm
  code/modules/roguetown/mapgen/beach.dm
  modular_azurepeak/code/game/objects/items/spellbooks.dm
Labels: Mapping, Code, TESTMERGED

#2834 Fix Fancy coat details
  code/modules/clothing/rogueclothes/shirts.dm
Labels: Code

#2817 Merchantry Price Adjustment
  code/modules/cargo/packsrogue/_pack.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_iron.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_light.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_steel.dm
  code/modules/cargo/packsrogue/merchant/merchant_gems.dm
  code/modules/cargo/packsrogue/merchant/merchant_potions.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_melee_iron.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_melee_steel.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_ranged.dm
  code/modules/roguetown/roguemachine/merchant/goldface.dm
Labels: Code, TESTMERGED, Balance

#2722 Consort Rework - Suitors
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/roguetown.dm
  code/__HELPERS/lordmarriage.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/objective_items.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/antagonists/roguetown/roleobjs/suitor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/nobility/consort.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/suitor.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
Labels: Mapping, Code, TESTMERGED, Feature, Balance

#2820 Zizo's pet cemetery - Undead saigas, volfs, undead animal events.
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/components.dm
  code/__DEFINES/mobs/simplemob_health.dm
  code/__DEFINES/traits.dm
  code/datums/ai/controllers/wolf_undead.dm
  code/datums/world_traits/gods_boons.dm
  code/game/objects/items/rogueitems/bait.dm
  code/modules/events/god_intervention/zizo.dm
  code/modules/events/minor/passive_animal_migration.dm
  code/modules/events/omens/deaditeanimals.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/rogue/creacher/volf.dm
  code/modules/mob/living/simple_animal/rogue/game/saiga.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/undead_animal_helpers.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/undead_saiga.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/undead_wolf.dm
  modular_hearthstone/icons/mob/saiga_undead.dmi
  modular_hearthstone/icons/mob/wolf_undead.dmi
  roguetown.dme
Labels: Mapping, Code, TESTMERGED

#2810 Adds Falling Leaves weather type
  code/__DEFINES/particle_weather.dm
  code/datums/particle_weathers/_base.dm
  code/datums/particle_weathers/datum_types/leaves.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  roguetown.dme
Labels: Code, TESTMERGED

#2720 Whips & Minor Adjustments to Wounds
  code/__DEFINES/combat.dm
  code/_globalvars/lists/wounds.dm
  code/datums/pollutant.dm
  code/datums/pollution.dm
  code/datums/wounds/types/fractures.dm
  code/datums/wounds/types/slashes.dm
  code/datums/wounds/types/special.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/whip.dm
  code/modules/mob/mob.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
  roguetown.dme
Labels: Code, TESTMERGED, Feature

#2786 some miracle stuff
  code/datums/gods/patrons/divine_pantheon.dm
  code/game/objects/effects/temporary_visuals/projectiles/tracer.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/necra.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: Code, Feature, Balance

#2844 quick character creator improvements
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
Labels: Code

#2847 makes werewolves rarer and gives them a minimum player count
  code/modules/events/antagonist/solo/werewolf.dm
Labels: Code

#2850 Voddena is Vodka and Saz Distal is something else
  code/modules/cargo/packsrogue/merchant/alcohols.dm
  code/modules/reagents/chemistry/reagents/rt_alcohol_reagents.dm
  code/modules/roguetown/roguejobs/alchemist/container.dm
Labels: Code

#2859 removes leftover special code
  code/_globalvars/special_traits.dm
  code/modules/client/preferences.dm
Labels: Code Maintenance, Code

#2857 QOL changes for Xylix-adjacent folk - Adds Jester outfit to Sewing, allows Jester hat to be MMB'd to show ears, adds Loadout Jester outfit
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Code

#2864 Race and Job Tutorial Pass #1
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/minstrel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/seamstress.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/thug.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/mob/living/carbon/human/species_types/furry/moth.dm
Labels: Code, Balance

#2863 Tiny little customization goodies: Accessory Coloring + Eye Tattoo (Both Eyes)
  code/modules/client/customizer/customizer_choice.dm
  code/modules/client/customizer/customizers/bodypart_feature/misc.dm
  code/modules/mob/dead/new_player/sprite_accessory/_sprite_accessory.dm
  code/modules/mob/dead/new_player/sprite_accessory/misc.dm
  icons/mob/sprite_accessory/accessory.dmi
  icons/mob/sprite_accessory/face_detail.dmi
Labels: Code, Sprite

#2868 New | Double Bed Crafting + Single Beds
  code/modules/roguetown/roguecrafting/structure.dm
Labels: Code

#2869 Bugfix | Merchantry Fix
  code/modules/cargo/packsrogue/merchant/luxury.dm
  code/modules/cargo/packsrogue/merchant/merchant_gems.dm
  code/modules/clothing/rogueclothes/neck.dm
Labels: Code

#2866 Self Service:tm:, +1 Templar Slots
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Code, Balance

#2840 Crafter's Guild Update - Guild Hall, Guildsman, Guildmaster and Others!
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
  code/modules/jobs/job_types/roguetown/yeomen/artificer.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildmaster.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildsman.dm
  code/modules/jobs/job_types/roguetown/yeomen/tailor.dm
  code/modules/jobs/job_types/roguetown/yeomen/villagechief.dm
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
  code/modules/jobs/jobs.dm
  code/modules/library/lib_items.dm
  roguetown.dme
Labels: Mapping, Code, TESTMERGED, Balance

#2876 New Noticeboard UI.
  code/modules/roguetown/roguemachine/noticeboard.dm
Labels: Code

#2877 Brewing fixes
  code/datums/brewing_recipes/wine.dm
  code/modules/crafting/recipe_books/book_entries/cooking/book_entry_brewing.dm
  code/modules/farming/big_liquid_containers.dm
  code/modules/farming/fermentation_keg.dm
Labels: Code

#2739 Miracle Expansion
  code/__DEFINES/lighting.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/item_attack.dm
  code/_onclick/other_mobs.dm
  code/controllers/subsystem/rogue/devotion.dm
  code/datums/gods/_patron.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/datums/gods/patrons/old_god.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/positive_events.dm
  code/game/objects/items/rogueitems/natural/feather.dm
  code/game/objects/structures/fluff.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/npc/deadite.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/stress.dm
  code/modules/mob/living/living_wounds.dm
  code/modules/mob/living/simple_animal/rogue/creacher/mossback.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/vision_cone.dm
  code/modules/roguetown/roguejobs/gravedigger/gravemarker.dm
  code/modules/spells/roguetown/acolyte/abyssor.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  code/modules/spells/roguetown/acolyte/noc.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
  code/modules/spells/roguetown/acolyte/ravox.dm
  code/modules/spells/roguetown/acolyte/xylix.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/darkvision.dm
  code/modules/spells/spell_types/wizard/misc/lesser_knock.dm
  code/modules/surgery/surgeries/prosthetic_replacement.dm
  code/modules/surgery/surgeries_hearth/revival.dm
  icons/mob/actions/roguespells.dmi
  icons/mob/screen_alert.dmi
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  modular_azurepeak/code/modules/spells/pantheon/divine/necra.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/baotha.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/zizo.dm
  modular_azurepeak/virtues/combat.dm
  sound/magic/abyssor_splash.ogg
  sound/magic/astrata_choir.ogg
  sound/magic/eora_bless.ogg
  sound/magic/necra_sight.ogg
  sound/magic/xylix_slip1.ogg
  sound/magic/xylix_slip2.ogg
  sound/magic/xylix_slip3.ogg
  sound/magic/xylix_slip4.ogg
  sound/magic/xylix_slip_fail.ogg
  sound/magic/zizo_snuff.ogg
Labels: Code, TESTMERGED, Feature, Balance, Sprite, Sound

#2879 Port Dragon head sprites from Solaris.
  code/game/objects/items/rogueitems/natural/heads.dm
  icons/roguetown/items/bounty_heads.dmi
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/dragon.dm
Labels: Code, Sprite

#2880 quick fix 4 da spooky mask
  code/modules/mob/living/carbon/human/npc/mad_touched_treasure_hunters.dm
Labels: Code

#2874 GARRISON COMBAT MUSIC OVERHAUL
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  sound/music/combat_ManAtArms.ogg
  sound/music/combat_dungeoneer.ogg
  sound/music/combat_knight.ogg
  sound/music/combat_veteran.ogg
  sound/music/combat_warden.ogg
  sound/music/credits.txt
Labels: Code, Balance, Sound

#2887 Also gives the markings(bun/bangs) to wildkins
  code/modules/mob/living/carbon/human/species_types/furry/anthromorph.dm
Labels: Code

#2891 wall-lean fatigue recovery port
  code/modules/mob/living/carbon/life.dm
Labels: Code

#2895 Zybantu Forever! Updates Desert Rider (re-pr)
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/64x64/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/weapons/32.dmi
Labels: Code, Balance, Sprite

#2860 Gives the Executioner's Sword its own intents.
  code/game/objects/items/rogueweapons/melee/swords.dm
Labels: Code

#2898 fixes those darn masks AGAIN and does some of the mad-touched rebalancing early
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/mob/living/carbon/human/npc/mad_touched_treasure_hunters.dm
  icons/roguetown/weapons/32.dmi
  strings/rt/names/human/mad_touched_names.txt
Labels: Code, Sprite

#2846 Acolyte and Templar additionsjak (sorry Free) - God specific skills for all the gods, and code organization.
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Code, Balance

#2873 The merchant's new shop, all for gold
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/structures/walldeco.dm
  icons/roguetown/misc/decoration.dmi
Labels: Mapping, Code, TESTMERGED, Sprite

#2911 hotfixes megarmach coat to be an actual codewise coat
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
Labels: Code, Balance

#2906 Raise fire and lava damage, again, lower fireball CD to 15.
  code/game/turfs/open/lava.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/spells/spell_types/wizard/projectiles_aoe/fireball.dm
  code/modules/spells/spell_types/wizard/projectiles_aoe/greater_fireball.dm
Labels: Code, Balance

#2909 Gives wicker baskets a crafting recipe
  code/modules/roguetown/roguecrafting/structure.dm
Labels: Code

#2905 Bush + Drinking from River / Fountain QOL, Alcohol Hydration
  code/game/objects/structures/roguetown/rogueflora.dm
  code/game/objects/structures/well.dm
  code/game/turfs/open/water.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Code, TESTMERGED

#2903 We Hotspring These: Ports mob overlay
  code/__DEFINES/dcs/flags.dm
  code/__DEFINES/dcs/signals/signals_movable.dm
  code/__DEFINES/dcs/signals/signals_turf.dm
  code/__DEFINES/turf_flags.dm
  code/__HELPERS/filters.dm
  code/controllers/subsystem/adjacent_air.dm
  code/datums/elements/_element.dm
  code/datums/elements/mob_overlay_effect.dm
  code/datums/particle_weathers/datum_types/snow_storm.dm
  code/game/turfs/turf.dm
  code/modules/hotspring/hotspring.dm
  icons/effects/icon_cutter.dmi
  roguetown.dme
Labels: Code, TESTMERGED, Sprite

#2904 [Bounty] Admins can now toggle 'global LOOC ears'
  code/__DEFINES/preferences.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/mob_movement.dm
  modular_hearthstone/code/interface/LOOC.dm
Labels: Code

#2914 improves fox2 and [labored groan] tamamo kitsune tails
  code/modules/mob/dead/new_player/sprite_accessory/tails.dm
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Code, Sprite

#2921 Brewing PR Followup (Again)
  code/datums/brewing_recipes/_brewing_recipe_base.dm
  code/datums/brewing_recipes/aqua_vitae.dm
  code/datums/brewing_recipes/brandy.dm
  code/datums/brewing_recipes/cabbage.dm
  code/datums/brewing_recipes/cider.dm
  code/datums/brewing_recipes/grain.dm
  code/datums/brewing_recipes/limoncello.dm
  code/datums/brewing_recipes/liquor.dm
  code/datums/brewing_recipes/mead.dm
  code/datums/brewing_recipes/onion_beer.dm
  code/datums/brewing_recipes/sugar.dm
  code/datums/brewing_recipes/tea.dm
  code/datums/brewing_recipes/vodden.dm
  code/datums/brewing_recipes/wine.dm
  code/modules/farming/fermentation_keg.dm
  code/modules/reagents/chemistry/reagents/rt_alcohol_reagents.dm
  modular/Neu_Food/code/drinks/drinks_reagents.dm
Labels: Code

#2922 fixes thieves cant
  code/modules/mob/living/say.dm
Labels: Code

#2927 Proofreading Pass: Tips and Typos.
  code/modules/farming/bottle_kit.dm
  code/modules/farming/fermentation_keg.dm
  code/modules/language/roguetown/dwarf.dm
  code/modules/language/roguetown/elf.dm
  code/modules/spells/spell_types/wizard/utility/prestidigitation.dm
  strings/rt/timechangetips.txt
Labels: Code

#2928 Fix folding table recipe.
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
Labels: Code

#2890 From church to cathedral, a clergy upgrade
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping, TESTMERGED
